// Theme colors
$color-black: #000000;
$color-white: #ffffff;
$color-greyHeather: #dde1e3;
$color-greyHeatherLight: #f3f5f6;
$color-greyLight: #fbfbfb;
$color-greyMedium: #e5e5e5;
$color-grey: #aaaaaa;
$color-greyDark: #4f4f52;
$color-offWhite: #f9f9ef;
$color-pinkLight: #f3e6e4;
$color-pinkCross: #e9d1cd;
$color-pinkBright: #ec9696;

// Alternate spelling aliases
$color-grayDark: $color-greyDark;
$color-grayHeather: $color-greyHeather;

$color-primary:                     $color-pinkCross;
$color-secondary:                   $color-pinkLight;

$color-action:                     $color-primary;

$color-error:                       #AC4343;
$color-errorLight:                  lighten($color-error, 20%);

$color-info:                        $color-secondary;
$color-infoLight:                   lighten($color-secondary, 20%);

$color-success:                     #8dbe51;
$color-successLight:                lighten($color-success, 20%);

$color-warning:                     #ddc44f;
$color-warningLight:                lighten($color-warning, 20%);

$base-font-color: $color-greyDark;
$small-font-color: $color-greyHeather;

$base-border-color: $color-greyHeather;

$box-shadow: 0px 1px 4px rgba(#000, 0.1);
