// Neat Overrides


$neat-grid: (
  columns: 12,
  gutter: 20px,
);

$neat-grid-small: (
  columns: 12,
  gutter: 20px,
  media: $screen-small,
);

$neat-grid-medium: (
  columns: 12,
  gutter: 30px,
  media: $screen-medium,
);

$shogun-grid-small: (
  gutter: 30px,
  media: $screen-small,
);


$gutter: map-get($neat-grid, gutter);

// Bourbon grid display. Set to "true" to turn on.
$visual-grid: false;
$visual-grid-color: #EEEEEE;
$visual-grid-index: back;
$visual-grid-opacity: 0.4;

$base-border: 1px solid $base-border-color;
$base-radius: 5px;

$gapless-grid: (
  gutter: 0px
);

// Header/Menu
$menu-height-mobile: 63px;
$menu-height-full: 96px;
$menu-height-full-scroll: 65px;
$banner-height: 34px;