
// Remember to update /assets/js/theme/common/media-query-list.js
// -----------------------------------------------------------------------------

$screen-xxxlarge:               1920px;
$screen-xxlarge:                1681px;
$screen-xlarge:                 1441px;
$screen-large:                  1281px;
$max-content:                   1170px;
$screen-medium:                 1025px;
$screen-small:                  769px;
$screen-xsmall:                 481px;
$screen-xxsmall:                320px;
$screen-fullmenu:               1250px;

$small-up: "(min-width: #{$screen-small})";
$medium-up: "(min-width: #{$screen-medium})";
$large-up: "(min-width: #{$screen-large})";
$xlarge-up: "(min-width: #{$screen-xlarge})";
$xxlarge-up: "(min-width: #{$screen-xxlarge})";

$small-only: "(max-width: #{$screen-small})";
$medium-only: "(min-width: #{$screen-small + 1px} and (max-width: #{$screen-medium})";
$large-only: "(min-width: #{$screen-medium + 1px} and (max-width: #{$screen-large})";
$xlarge-only: "(min-width: #{$screen-large + 1px} and (max-width: #{$screen-xlarge})";
$xxlarge-only: $xxlarge-up;

// These are required for JS to work
// Overhead from Zurb Foundation
meta.foundation-version {
  font-family: "/5.5.3/";
}

meta.foundation-mq-small {
  font-family: "/" + unquote($small-up) + "/";
  width: 0;
}

meta.foundation-mq-small-only {
  font-family: "/" + unquote($small-only) + "/";
  width: 0;
}

meta.foundation-mq-medium {
  font-family: "/" + unquote($medium-up) + "/";
  width: $screen-small + 1px;
}

meta.foundation-mq-medium-only {
  font-family: "/" + unquote($medium-only) + "/";
  width: $screen-small + 1px;
}

meta.foundation-mq-large {
  font-family: "/" + unquote($large-up) + "/";
  width: $screen-medium + 1px;
}

meta.foundation-mq-large-only {
  font-family: "/" + unquote($large-only) + "/";
  width: $screen-medium + 1px;
}

meta.foundation-mq-xlarge {
  font-family: "/" + unquote($xlarge-up) + "/";
  width: $screen-large + 1px;
}

meta.foundation-mq-xlarge-only {
  font-family: "/" + unquote($xlarge-only) + "/";
  width: $screen-large + 1px;
}

meta.foundation-mq-xxlarge {
  font-family: "/" + unquote($xxlarge-up) + "/";
  width: $screen-xxlarge + 1px;
}

meta.foundation-data-attribute-namespace {
  font-family: false;
}