
// Font families
$base-font-family: "Montserrat", $font-stack-helvetica;
$heading-font-family: "Playfair Display", $font-stack-georgia;
$alt-heading-font-family: "Sacramento", cursive;

// Font Sizes
$base-font-size: 14px;

// Line height
$base-line-height: 1.7;
$heading-line-height: 1.3;

// Letter spacing
$base-letter-spacing: 0.03em;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;