<div class="modal-header">
    <h2 class="modal-header-title">{{lang 'cart.reconfigure_product' name=product_name}}</h2>
</div>
<div class="modal-body" data-product-option-change>
    <div class="alertMessageBox" hidden>
        {{> components/common/alert-info}}
    </div>

    <form id="CartEditProductFieldsForm" class="productView-options" method="post" action="cart.php" enctype="multipart/form-data">
        <input type="hidden" name="action" value="EditProductFieldsInCart">
        <input type="hidden" name="item_id" value="{{quote_item_id}}">
        {{#each customizations}}
            {{{dynamicComponent 'components/products/customizations'}}}
        {{/each}}

        {{#each options}}
            {{{dynamicComponent 'components/products/options'}}}
        {{/each}}

        <div class="form-actions">
            <input class="button button--primary" type="submit" value="{{lang 'common.save'}}">
        </div>
    </form>
</div>
