{{#partial "page"}}

<div class="container">
    <main class="page">
        <section class="page-content page-403 page-content--centered">
            <h1 class="page-heading">{{lang 'forbidden.page_heading'}}</h1>
            <div class="page-403__content">
                <p>Please <a href="{{urls.auth.login}}">{{lang 'forbidden.sign_in'}}</a> {{lang 'forbidden.to_continue'}}</p>
                <p>Or, search the store for what you were looking for:</p>
            </div>
            {{> components/common/search-box}}
        </section>
    </main>
</div>

{{/partial}}
{{> layout/base}}
