{{#partial "page"}}

<div class="container">
    <main class="page">
        <section class="page-content page-404 page-content--centered">
            <h1 class="page-heading">{{lang 'page_not_found.page_heading'}}</h1>
            <div class="page-404__content">
                <p>
                    The page you are looking for has moved or no longer exists.
                </p>
                <p>
                    Try searching the store for what you were looking for:
                </p>
            </div>

            {{> components/common/search-box}}
        </section>
    </main>
</div>

{{/partial}}
{{> layout/base}}
