<form data-contact-form class="form contact-form" action="{{urls.contact_us_submit}}" method="post">
    {{inject 'contactEmail' (lang 'forms.validate.contact.email_address')}}
    {{inject 'contactQuestion' (lang 'forms.validate.contact.question')}}
    {{#if forms.contact.error}}
        {{> components/common/alert-error forms.contact.error}}
    {{/if}}
    <input type="hidden" name="page_id" id="page_id" value="{{forms.contact.page_id}}">
    <div class="form-row form-row--half">
        <div class="form-field form-field--name">
            <label class="form-label contact--required" for="contact_fullname">Name</label>
            <input class="form-input" type="text" id="contact_fullname" name="contact_fullname" value="{{customer.name}}">
        </div>

        <div class="form-field form-field--email">
            <label class="form-label contact--required" for="contact_email">Email</label>
            </label>
            <input class="form-input" type="text" id="contact_email" name="contact_email" value="{{customer.email}}">
        </div>

        <div class="form-field form-field--phone">
            <label class="form-label" for="contact_phone">Phone</label>
            <input class="form-input" type="text" id="contact_phone" name="contact_phone" value="{{customer.phone}}">
        </div>
    </div>

    <div class="form-field form-field--message">
        <label class="form-label contact--required" for="contact_question">Message</label>
        <textarea name="contact_question" id="contact_question" rows="5" cols="50" class="form-input"></textarea>
    </div>

    {{{forms.contact.recaptcha.markup}}}

    <div class="form-actions">
        <input class="button button--primary button--wide" type="submit" value="{{lang 'forms.contact_us.submit' }}">
    </div>
</form>
