<ul class="contact-directory">
  <li class="contact-directory__item">
    <h2>Showroom & Retail Sales</h2>
    <p><a href="mailto:hello@thecrossdesign.com">hello@thecrossdesign.com</a></p>
    <p><a href="tel:+16046892900">604-689-2900</a><span>ext 1</span></p>
  </li>
  <li class="contact-directory__item">
    <h2>Online Store &amp; Online Sales</h2>
    <p><a href="mailto:online@thecrossdesign.com">online@thecrossdesign.com</a></p>
    <p><a href="tel:+16046892900">604-689-2900</a><span>ext 2</span></p>
  </li>
  <li>
    <h2>Home Styling Services</h2>
    <p><a href="styling:hello@thecrossdesign.com">styling@thecrossdesign.com</a></p>
    <p><a href="tel:+16046892900">604-689-2900</a><span>ext 103</span></p>
  </li class="contact-directory__item">
  <li>
    <h2>Accounts Payable and Receivable</h2>
    <p><a href="mailto:accounts@thecrossdesign.com">accounts@thecrossdesign.com</a></p>
    <p><a href="tel:+16046892900">604-689-2900</a><span>ext 3</span></p>
  </li>
  <li class="contact-directory__item">
    <h2>Product Submissions</h2>
    <p><a href="mailto:buyer@thecrossdesign.com">buyer@thecrossdesign.com</a></p>
  </li>