<section>
  <h1 class="page-heading">Visit Us</h1>
  <div class="contact-visit__details">
    <address class="contact-visit__address">
      1198 Homer Street</br>
      Vancouver, BC, V6Z 2X6
    </address>
    <p class="contact-visit__hours">
      Monday &ndash; Saturday&ensp;10:00am &ndash; 6pm</br>
      Sunday &amp; Holidays&ensp;11:00am &ndash; 5pm
    </p>
    <a class="button button--tiny" href="https://www.google.com/maps/dir//1198+Homer+Street+Vancouver+BC+V6Z2X6" target="_blank">Store Directions</a>
  </div>
  <div class="contact-visit__images">
    <div class="contact-visit__image--frame">
      <a href="https://www.google.com/maps/dir//1198+Homer+Street+Vancouver+BC+V6Z2X6" target="_blank">
        <img class="contact-visit__image" src="{{cdn 'img/map_illustration.jpg'}}">
      </a>
    </div>
  </div>
</section>