// Button styles

#{$all-buttons}, .button, .btn, .btn.alt, .button--primary, .swal2-modal .swal2-confirm {
  appearance: none;
  background-color: $color-white;
  border: 2px solid $color-pinkCross;
  color: contrast-switch($color-white, $color-greyDark, $color-white);
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  padding: $base-spacing*0.75 $base-spacing;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-property: background-color, border-color;
  transition-duration: $base-duration;
  transition-timing-function: $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: normal;

  .rte & {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    color: inherit;
    border-color: $color-pinkBright;
    background-color: $color-white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.button--tiny {
    padding: 7px 18px;
    font-size: 0.75em;
  }
  
  &.button--inline {
    padding: 9px 18px;
    font-size: 0.75em;
  } 

  &.button--small {
    padding: 16px 30px;
    font-size: 0.75em;
  }
  
  &.button--large {
    padding: 14px 30px;
    font-size: 1.1em;
  }

  &.button--alternate {
    border-color: $color-greyDark;
  }

  &.button--solid {
    border-color: $color-greyDark;
    background-color: $color-greyDark;
    color: $color-white;
  }
  
  &.button--expand {
    min-width: 100%;
  }

  &.button--shogun, &.button--wide {
    min-width: 180px;
    padding: 11px 26px;
    font-size: 13px;
  }

  &.button--checkout, &#checkout-payment-continue {
    color: #fff;
    background-color: #4f4f52;
    border: 3px solid #4f4f52;
    &:hover {
      background-color: $color-pinkBright;
      border-color: $color-pinkBright;
    }
  }


  &.button--link {
    border: none;
    &:hover,
    &:focus {
      background-color: transparent;
      color: $color-pinkBright;
    }
  }
}

.button-text {
  padding-right: 25px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='13px' viewBox='0 0 20 13' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='unicorn-arrow' transform='translate%289.121320, 6.727922%29 rotate%28-45.000000%29 translate%28-9.121320, -6.727922%29 translate%281.621320, -0.772078%29' fill-rule='nonzero' fill='%234F4F52'%3E%3Cpath d='M14.814311,14.2132702 L14.814311,6 L13.9748528,6 L13.9748528,13.373812 L1.5,0.898959236 L0.898959236,1.5 L13.373812,13.9748528 L6,13.9748528 L6,14.814311 L14.2132702,14.814311 L14.2279221,14.8289628 L14.2425739,14.814311 L14.814311,14.814311 L14.814311,14.2425739 L14.8289628,14.2279221 L14.814311,14.2132702 Z' id='Combined-Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right center;

  &:hover {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='13px' viewBox='0 0 20 13' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='unicorn-arrow' transform='translate%289.121320, 6.727922%29 rotate%28-45.000000%29 translate%28-9.121320, -6.727922%29 translate%281.621320, -0.772078%29' fill-rule='nonzero' fill='%23EC9696'%3E%3Cpath d='M14.814311,14.2132702 L14.814311,6 L13.9748528,6 L13.9748528,13.373812 L1.5,0.898959236 L0.898959236,1.5 L13.373812,13.9748528 L6,13.9748528 L6,14.814311 L14.2132702,14.814311 L14.2279221,14.8289628 L14.2425739,14.814311 L14.814311,14.814311 L14.814311,14.2425739 L14.8289628,14.2279221 L14.814311,14.2132702 Z' id='Combined-Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  .rte & {
    text-decoration: none;
  }

}

  
