// Form styles
$_form-background-color: #fff;
$_form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$_form-box-shadow-focus: $_form-box-shadow, 0 0 5px rgba($color-action, 0.7);

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: 0.5em;
  padding: 0;
}

label {
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

input,
select,
textarea {
  display: block;
}

#{$all-text-inputs} {
  appearance: none;
  background-color: $_form-background-color;
  border: $base-border;
  border-radius: $base-border-radius;
  box-sizing: border-box;
  margin-bottom: 16px;
  padding: $base-spacing / 2;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: shade($_form-background-color, 20%);
  }

  &:focus {
    border-color: $color-action;
    outline: none;
  }

  &:disabled {
    background-color: shade($_form-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }

  &::placeholder {
    color: tint($base-font-color, 40%);
  }
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

.select-wrapper {
    position: relative;
    display: inline-block;
    svg {
        position: absolute;
        right: 10px;
        top: 12px;
        height: 10px;
        width: 10px;
        pointer-events: none;
    }
}

select {
  appearance: none;
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
  border: 1px solid $color-greyHeather;
  border-radius: 0;
  background-color: transparent;
  padding: 0.6rem 2.0rem 0.6rem 0.6rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}


// IE11 select dropdown arrow pseudoelement
select::-ms-expand {
  display: none;
}

// Required to override normalize.css, which defines this as 'content-box'
// Required as of Bourbon 5, since the output of $all-text-inputs has reduced in specificity from Bourbon 4
input[type="search"] {
  box-sizing: border-box;
}

.form-increment {
  display: flex;
  align-items: center;
  .button {
    padding: 0.5em;
    &[data-action="dec"] {
        margin: 0.5em 0.5em 0.5em 0em
    }
    &[data-action="inc"] {
        margin: 0.5em 0em 0.5em 0.5em
    }
  }
}


.form-input--incrementTotal {
  margin-bottom: 0;
  text-align: center;
  width: 3rem;
}

.form-inlineMessage {
  display: block;
  font-size: 12px;
  margin-bottom: 1.1rem;
}

.form-field--error {
  #{$all-text-inputs} {
    background-color: $color-white;
    border-color: $color-error;
  }
  .form-inlineMessage {
    color: $color-error;
  }
}
