.container {
  position: relative;
  @include grid-container;
  margin: auto;
  padding-right: $gutter/1.25;
  padding-left: $gutter/1.25;
  max-width: $max-content + 2*$gutter/1.25;
  @include grid-media($neat-grid-medium) {
    padding-right: $gutter*2;
    padding-left: $gutter*2;
    max-width: $max-content + 2*$gutter*2;
  }
  @include breakpoint($screen-large) {
  }

  &.container--medium {
    max-width: 840px;
  }

  &.container--small {
    max-width: 634px;
  }

  &.container--tiny {
    max-width: 428px;
  }

}