// Media styles
figure {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

// "Is screenreader only"
.is-srOnly {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}