.table {
  margin-top: 1em;

  td + td {
      border-left:1px solid $color-grayHeather;
  }
}

.table-actions {
  margin: 1em;
  text-align: center;

  .form {
      margin-bottom: 0;
  }

  .button {
      display: block;
      margin-left: 0;
      margin-right: 0;
      width: 100%;

      @include breakpoint($screen-small) {
          display: inline-block;
          margin-bottom: 0;
          width: auto;
      }

      // scss-lint:disable NestingDepth
      + .button {

          @include breakpoint($screen-small) {
              margin-left: 0.25em;
          }
      }
      // scss-lint:enable NestingDepth
  }
}


// Stencil table modifiers
// -----------------------------------------------------------------------------

.table--line {
  border-width: 0 0 1px;

  .table-thead {
      background-color: $color-white;
      border-width: 0 0 1px;

      // scss-lint:disable SelectorDepth, NestingDepth
      tr {

          th {
              padding-left: 0;
              padding-right: 0;

              @include breakpoint($screen-small) {
                  text-align: center;

                  &:first-child {
                      text-align: left;
                  }

                  &:last-child {
                      text-align: right;
                  }
              }

              + th {
                  padding-left: 1em;
              }
          }
      }
  }

  tr {
      // scss-lint:disable SelectorDepth, NestingDepth
      td {
          padding-left: 0;
          padding-right: 0;

          @include breakpoint($screen-small) {
              text-align: center;

              &:first-child {
                  text-align: left;
              }

              &:last-child {
                  text-align: right;
              }
          }

          + td {
              padding-left: 1em;
          }
      }
  }

  td + td {
      border-left: 0;
  }
}


// Table Defaults

.rte,
.productView-details__box {

    table {
        border-collapse: collapse;
        margin: $base-spacing 0;
        table-layout: fixed;
        text-align: left;
        width: 100%;
        border-top: solid 1px $color-greyHeather;
        border-left: solid 1px $color-greyHeather;
    }

    thead {
        line-height: $heading-line-height;
        vertical-align: bottom;
    }

    tbody {
      vertical-align: top;

        tr:first-child {
            background-color: $color-pinkCross;
            font-weight: bold;
        }
    }

    tr {
        border-bottom: solid 1px $color-greyHeather;
    }

    th,
    td {
        border-right: solid 1px $color-greyHeather;
    }

    th {
        padding: $small-spacing;
        font-family: $heading-font-family;
        font-size: 1.2em;
        font-weight: bold;
    }

    td {
        padding: $small-spacing/2 $small-spacing;
    }

}

