// Typographic styles
html {
  color: $base-font-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
  letter-spacing: $base-letter-spacing;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.0em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.25em;
}

p {
  margin: 0 0 $small-spacing;

  &.large {
    font-size: 1.15em;
  }

}

a {
  color: $base-font-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: $color-pinkBright;
  }

  &.text-link {
    text-decoration: underline;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 3em 0;
}

pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

pre {
  background-color: $color-greyHeather;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid $color-greyDark;
}

abbr {
  border-bottom: 1px dotted $color-greyDark;
  cursor: help;
  white-space: nowrap;
}



