<div style="font-family:Arial; font-size:12px; max-width: 580px; margin: 0 auto; color:#222;">
    <img src="https://store-y128t5d5vg.mybigcommerce.com/product_images/uploaded_images/logo.png" style="display: block; margin: 0 auto; height: 100px; width: 100px;"/>
    <h2 style="font-size:28px; text-align: center; font-family: Georgia; width: 350px; margin: 20px auto;">%%LNG_OrderStatusChanged%% - Vanilla</h2>
    <hr style="height: 1px; border-style: none; color: #222; background: #222;" />
    <div style="padding: 15px 65px 20px">
      <p>%%GLOBAL_OrderStatusChangedHi%%</p>
      <p>%%LNG_OrderStatusChangedIntro%%</p>
      <p>%%GLOBAL_OrderNumberStatusChangedTo%%</p>
      <h3 style="font-size:16px; margin-bottom: 10px; margin-top: 40px;">%%LNG_OrderDetails%%</h3>
      %%GLOBAL_RefundedAmountRow%%
      <table style="width: 100%;">
      <tbody>
      <tr>
      <td style=" font-weight: bold;" valign="top" nowrap="nowrap" width="25%">%%LNG_OrderStatusChangedOrderTotal%%:</td>
      <td>%%GLOBAL_OrderTotal%%</td>
      </tr>
      <tr>
      <td style=" font-weight: bold;" valign="top" nowrap="nowrap" width="25%">%%LNG_OrderStatusChangedDatePlaced%%:</td>
      <td>%%GLOBAL_DatePlaced%%</td>
      </tr>
      <tr>
      <td style=" font-weight: bold;" valign="top" nowrap="nowrap" width="25%">%%LNG_OrderStatusChangedPaymentMethod%%:</td>
      <td>%%GLOBAL_PaymentMethod%%</td>
      </tr>
      </tbody>
      </table>
      <h3 style="font-size:16px; margin-bottom: 10px; margin-top: 40px;">%%LNG_ShipmentTrackingNumbersLinks%%</h3>
      %%GLOBAL_TrackingLinkList%%
      <p>%%GLOBAL_ViewOrderStatusLink%%</p>
    </div>
  %%GLOBAL_EmailFooter%%
</div>