<!-- Registry -->
<div class="product-registry">
    {{#if customer}}
        <div class="available-registries" style="display: none">
            <div class="customer_id" style="display: none !important;">{{ customer.id }}</div>
            <div class="customer_email" style="display: none !important;">{{ customer.email }}</div>
            <select class="registries">
                <option>Select a Registry</option>
            </select>
            <a class="add-to-registry button addToRegistry-btn add-registry-product">
			  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M64 368v80h80l235.727-235.729-79.999-79.998L64 368zm377.602-217.602c8.531-8.531 8.531-21.334 0-29.865l-50.135-50.135c-8.531-8.531-21.334-8.531-29.865 0l-39.468 39.469 79.999 79.998 39.469-39.467z"/></svg>
			  <span>Add to registry</span>
			</a>
        </div>
        <div class="no-registries" style="display: none">
            <a class="button addToRegistry-btn create-registry" href="/registry/create-registry">
            	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M64 368v80h80l235.727-235.729-79.999-79.998L64 368zm377.602-217.602c8.531-8.531 8.531-21.334 0-29.865l-50.135-50.135c-8.531-8.531-21.334-8.531-29.865 0l-39.468 39.469 79.999 79.998 39.469-39.467z"/></svg>
			  	<span>Create Registry</span>
            </a>
        </div>
    {{else}}
        <!-- <a href="/login.php" class="button addToRegistry-btn login-add-registry">Add to Registry</a> -->
        <a href="/login.php?from={{product.url}}" class="login-to-manage button addToRegistry-btn login-add-registry add-ro-registry">Login to Manage Registries</a>
    {{/if}}
</div>