<ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    {{#each breadcrumbs}}
        {{#unless name "==" "Hidden Categories"}}
            <li class="breadcrumb {{#if @last}}is-active{{/if}}" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                {{#if url}}
                    <a href="{{#if name '===' 'Shop by Jillian'}}/jillian-harris{{else if name '===' 'Shop by Monika'}}/monika-hibbs{{else}}{{url}}{{/if}}"
                    class="breadcrumb-label" itemprop="item">{{ name }}</a>
                {{else}}
                    <span class="breadcrumb-label" itemprop="name">{{name}}</span>
                {{/if}}
                <meta itemprop="position" content="{{@index}}" />
            </li>
        {{/unless}}
    {{/each}}
</ul>