<div class="previewCart">
    {{#if cart.items.length}}
        <div class="previewCartTitle">Your Bag Items</div>
        <ul class="previewCartList">
            {{#each cart.items}}
                <li class="previewCartItem">
                    <div class="previewCartItem-image">
                        {{#if type '==' 'GiftCertificate'}}
                            <img class="object-fit--cover lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn ../../theme_settings.default_image_gift_certificate}}" alt="GiftCertificate" title="GiftCertificate">
                        {{else}}
                            <img class="object-fit--cover lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'thumb_size' (cdn ../../theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
                        {{/if}}
                    </div>

                    <div class="previewCartItem-content">

                        <div class="previewCartItem-header">
                            <h6 class="previewCartItem-name">
                                <a href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                            </h6>
                            <span class="previewCartItem-delete" data-remove-item data-item-id="{{ id }}">
                                Remove
                                <svg><use xlink:href="#icon-cart-remove"></use></svg>
                            </span>
                        </div>

                        {{#each options}}
                        <div class="previewCartItem-detail">
                            {{name}}: {{value}}
                        </div>
                        {{/each}}

                        <div class="previewCartItem-detail">
                            Qty: {{quantity}}
                        </div>

                        <div class="previewCartItem-price">
                            {{price.formatted}}
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
        <div class="previewCartFooter">
            <div class="previewCartSubtotal">
                <div class="previewCartSubtotal__label">
                    <h6 class="previewCartSubtotal__label-title">Subtotal</h6>
                    <p class="previewCartSubtotal__label-notice">(Excludes taxes)</p>
                </div>
                <p class="previewCartSubtotal__value">{{ cart.sub_total.formatted }}</p>
            </div>
            <div class="previewCartActions">
                <div class="previewCartAction previewCartAction-viewCart{{#unless cart.show_primary_checkout_button}} previewCartAction-viewCart--sole{{/unless}}">
                    <a href="{{urls.cart}}" class="button">
                        View Bag
                    </a>
                </div>

                <div class="previewCartAction previewCartAction-checkout">
                    <a href="{{urls.checkout.single_address}}" class="button">
                        Checkout
                    </a>
                </div>
            </div>
        </div>
    {{else}}
        <div class="previewCart-emptyBody">
            {{lang 'cart.checkout.empty_cart'}}
        </div>
    {{/if}}
</div>
