<!-- // TODO:  /product_images/uploaded_images/{{theme_settings.menu_decor_image}} relative link -->
<div class="designer-picks">
  <div class="designer-pick">
    <img class="designer-pick__img" src="/product_images/uploaded_images/{{theme_settings.menu_designer_1_img}}" alt="{{theme_settings.menu_designer_1_img_alt}}" title="{{theme_settings.menu_designer_1_title}}"/>
    <div class="designer-pick__nav">
      <h5 class="designer-pick__title">
        <a href="{{theme_settings.menu_designer_1_link}}">{{theme_settings.menu_designer_1_title}}</a>
      </h5>
      {{#or theme_settings.menu_designer_1_sublink_1_title theme_settings.menu_designer_1_sublink_2_title theme_settings.menu_designer_1_sublink_3_title}}
        <ul class="designer-pick__links">
          {{#and theme_settings.menu_designer_1_sublink_1_title theme_settings.menu_designer_1_sublink_1_url}}
            <li class="navPage-subMenu-item">
              <a class="navPage-subMenu-action navPages-action designer-pick__link" href="{{theme_settings.menu_designer_1_sublink_1_url}}">{{theme_settings.menu_designer_1_sublink_1_title}}</a>
            </li>
          {{/and}}
          {{#and theme_settings.menu_designer_1_sublink_2_title theme_settings.menu_designer_1_sublink_2_url}}
            <li class="navPage-subMenu-item">
              <a class="navPage-subMenu-action navPages-action designer-pick__link" href="{{theme_settings.menu_designer_1_sublink_2_url}}">{{theme_settings.menu_designer_1_sublink_2_title}}</a>
            </li>
          {{/and}}
          {{#and theme_settings.menu_designer_1_sublink_3_title theme_settings.menu_designer_1_sublink_3_url}}
            <li class="navPage-subMenu-item">
              <a class="navPage-subMenu-action navPages-action designer-pick__link" href="{{theme_settings.menu_designer_1_sublink_3_url}}">{{theme_settings.menu_designer_1_sublink_3_title}}</a>
            </li>
          {{/and}}
        </ul>
      {{/or}}
    </div>
  </div>
  <div class="designer-pick">
    <img class="designer-pick__img" src="/product_images/uploaded_images/{{theme_settings.menu_designer_2_img}}" alt="{{theme_settings.menu_designer_2_img_alt}}" title="{{theme_settings.menu_designer_2_title}}"/>
    <div class="designer-pick__nav">
      <h5 class="designer-pick__title">
        <a href="{{theme_settings.menu_designer_2_link}}">{{theme_settings.menu_designer_2_title}}</a>
      </h5>
      {{#or theme_settings.menu_designer_2_sublink_1_title theme_settings.menu_designer_2_sublink_2_title theme_settings.menu_designer_2_sublink_3_title}}
        <ul class="designer-pick__links">
          {{#and theme_settings.menu_designer_2_sublink_1_title theme_settings.menu_designer_2_sublink_1_url}}
            <li class="navPage-subMenu-item">
              <a class="navPage-subMenu-action navPages-action designer-pick__link" href="{{theme_settings.menu_designer_2_sublink_1_url}}">{{theme_settings.menu_designer_2_sublink_1_title}}</a>
            </li>
          {{/and}}
          {{#and theme_settings.menu_designer_2_sublink_2_title theme_settings.menu_designer_2_sublink_2_url}}
            <li class="navPage-subMenu-item">
              <a class="navPage-subMenu-action navPages-action designer-pick__link" href="{{theme_settings.menu_designer_2_sublink_2_url}}">{{theme_settings.menu_designer_2_sublink_2_title}}</a>
            </li>
          {{/and}}
          {{#and theme_settings.menu_designer_2_sublink_3_title theme_settings.menu_designer_2_sublink_3_url}}
            <li class="navPage-subMenu-item">
              <a class="navPage-subMenu-action navPages-action designer-pick__link" href="{{theme_settings.menu_designer_2_sublink_3_url}}">{{theme_settings.menu_designer_1_sublink_3_title}}</a>
            </li>
          {{/and}}
        </ul>
      {{/or}}
    </div>
  </div>
  <div class="designer-pick">
    <img class="designer-pick__img" src="/product_images/uploaded_images/{{theme_settings.menu_designer_3_img}}" alt="{{theme_settings.menu_designer_2_img_alt}}" title="{{theme_settings.menu_designer_3_title}}"/>
    <div class="designer-pick__nav">
      <h5 class="designer-pick__title">
        <a href="{{theme_settings.menu_designer_3_link}}">{{theme_settings.menu_designer_3_title}}</a>
      </h5>
      {{#or theme_settings.menu_designer_3_sublink_1_title theme_settings.menu_designer_3_sublink_2_title theme_settings.menu_designer_3_sublink_3_title}}
        <ul class="designer-pick__links">
          {{#and theme_settings.menu_designer_3_sublink_1_title theme_settings.menu_designer_3_sublink_1_url}}
            <li class="navPage-subMenu-item">
              <a class="navPage-subMenu-action navPages-action designer-pick__link" href="{{theme_settings.menu_designer_3_sublink_1_url}}">{{theme_settings.menu_designer_3_sublink_1_title}}</a>
            </li>
          {{/and}}
          {{#and theme_settings.menu_designer_3_sublink_2_title theme_settings.menu_designer_3_sublink_2_url}}
            <li class="navPage-subMenu-item">
              <a class="navPage-subMenu-action navPages-action designer-pick__link" href="{{theme_settings.menu_designer_3_sublink_2_url}}">{{theme_settings.menu_designer_3_sublink_2_title}}</a>
            </li>
          {{/and}}
          {{#and theme_settings.menu_designer_3_sublink_3_title theme_settings.menu_designer_3_sublink_3_url}}
            <li class="navPage-subMenu-item">
              <a class="navPage-subMenu-action navPages-action designer-pick__link" href="{{theme_settings.menu_designer_3_sublink_3_url}}">{{theme_settings.menu_designer_1_sublink_3_title}}</a>
            </li>
          {{/and}}
        </ul>
      {{/or}}
    </div>
  </div>
</div>
