<div class="accordion-navigation-actions">
    <svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
        <use xlink:href="#icon-add"></use>
    </svg>
    <svg class="icon accordion-indicator toggleLink-text toggleLink-text--on">
        <use xlink:href="#icon-remove"></use>
    </svg>
</div>