<header class="header" role="banner">
    {{#if theme_settings.banner_global_show}}
    <div class="banners" data-banner-location="top">
        <div class="banner">
            <p>{{theme_settings.banner_text}} <a href="{{theme_settings.banner_button_link}}">{{theme_settings.banner_button_text}}</a></p>
        </div>
    </div>
    {{else if theme_settings.banner_home_show}}
      {{#if page.title "==" "Homepage"}}
        <div class="banners" data-banner-location="top">
            <div class="banner">
                <p>{{theme_settings.banner_text}} <a href="{{theme_settings.banner_button_link}}">{{theme_settings.banner_button_text}}</a></p>
            </div>
        </div>
      {{/if}}
    {{else if banners.top}}
    <div class="banners" data-banner-location="top">
        <div class="banner">
            {{{limit banners.top 1}}}
        </div>
    </div>
    {{/if}}
    <div class="container">
        <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
            <span class="mobileMenu-toggleIcon">Toggle menu</span>
        </a>
        {{> components/common/navigation}}

        {{#if page_type '===' 'default'}}
            <h1 class="header-logo header-logo--center">
                {{> components/common/store-logo}}
            </h1>
        {{else}}
            <div class="header-logo header-logo--center">
                {{> components/common/store-logo}}
            </div>
        {{/if}}
        {{{region name="header_bottom"}}}
        <div class="navPages-container" id="menu" data-menu>
            {{> components/common/navigation-menu}}
        </div>
    </div>
</header>
