<div id="jump-to-top" class="jump-to-top">
  <div class="jump-to-top__container container">
    <a class="jump-to-top__link">
        <svg width="24px" height="15px" viewBox="0 0 24 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Global-/-Footer" transform="translate(-1245.000000, -99.000000)" fill="#6B6B71">
                    <path d="M1261.77344,113.726562 C1261.47656,113.429686 1261.47656,113.132814 1261.77344,112.835938 L1266.74609,107.34375 L1245.59375,107.34375 C1245.19791,107.34375 1245,107.145835 1245,106.75 C1245,106.354165 1245.19791,106.15625 1245.59375,106.15625 L1266.74609,106.15625 L1261.77344,100.664062 C1261.47656,100.367186 1261.47656,100.070314 1261.77344,99.7734375 C1262.07031,99.476561 1262.36719,99.476561 1262.66406,99.7734375 C1266.57294,104.078147 1268.55208,106.255208 1268.60156,106.304688 C1268.70052,106.403646 1268.75,106.552082 1268.75,106.75 C1268.75,106.947918 1268.70052,107.096354 1268.60156,107.195312 L1262.66406,113.726562 C1262.5651,113.825521 1262.41667,113.875 1262.21875,113.875 C1262.02083,113.875 1261.8724,113.825521 1261.77344,113.726562 Z" id="ion-ios-arrow-thin-right---Ionicons"></path>
                </g>
            </g>
        </svg>
    </a>
  </div>
</div>