<div id="modal" class="modal" data-reveal data-prevent-quick-search-close>
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <span aria-hidden="true">
            <svg class="icon">
                <use xlink:href="#icon-cart-remove"/>
            </svg>
        </span>
    </a>
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>
