<nav class="navPages">
    <ul class="navPages-list">
        {{#if theme_settings.menu_new_show}}
            {{#each categories}}
                {{#if name '==' 'New'}}
                    <li class="navPages-item">
                        {{> components/common/navigation-list-new theme_settings=../../../theme_settings }}
                    </li>
                {{/if}}
            {{/each}}
        {{/if}}
        {{#each categories}}
            {{!-- Double if nest to check for multiple negative conditions --}}
            {{#if name '!==' 'New'}}
                {{#if name '!==' 'As Seen In ♡'}}
                    <li class="navPages-item">
                        {{> components/common/navigation-list theme_settings=../../../theme_settings}}
                    </li>
                {{/if}}
            {{/if}}
        {{/each}}
        {{#if theme_settings.menu_designer_picks_show}}
            <li class="navPages-item">
                <a class="navPages-action has-subMenu" data-collapsible="navPages-designerPicks">
                    As Seen In ♡  <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-unicorn-add" /></svg></i>
                </a>
                <div class="navPage-subMenu" id="navPages-designerPicks" aria-hidden="true" tabindex="-1">
                    {{> components/common/designer-picks }}
                </div>
            </li>
        {{/if}}
        {{#each pages}}
            <li class="navPages-item navPages-item-page">
                <a class="navPages-action" href="{{url}}">{{name}}</a>
            </li>
        {{/each}}
    </ul>
    <ul class="navPages-list navPages-list--user">
        {{#if currency_selector.currencies.length '>' 1}}
            <li class="navPages-item">
                <a class="navPages-action has-subMenu" href="#" data-collapsible="navPages-currency" aria-controls="navPages-currency" aria-expanded="false">
                    {{lang 'common.currency' code=currency_selector.active_currency_code}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use></svg></i>
                </a>
                <div class="navPage-subMenu" id="navPages-currency" aria-hidden="true" tabindex="-1">
                    <ul class="navPage-subMenu-list">
                        {{#each currency_selector.currencies}}
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{{switch_url}}}">
                                {{#if is_active}}
                                    <strong>{{name}}</strong>
                                {{else}}
                                    {{name}}
                                {{/if}}
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </li>
        {{/if}}
        <!--
        {{#if settings.gift_certificates_enabled}}
            <li class="navPages-item">
                <a class="navPages-action" href="{{urls.gift_certificate.purchase}}">{{lang 'common.gift_cert'}}</a>
            </li>
        {{/if}}
        -->
        {{#if customer.store_credit.value '>' 0}}
            <li class="navPages-item">
                <a class="navPages-action navPages-action--storeCredit">
                    {{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}
                </a>
            </li>
        {{/if}}
        {{#if customer}}
            <li class="navPages-item navPages-item--registry">
                <a class="navPages-action button" href="/registry">Gift Registry</a>
            </li>
            <li class="navPages-item">
                <a class="navPages-action has-subMenu button" href="{{urls.account.index}}" data-collapsible="navPages-account">
                    {{lang 'common.account'}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
                </a>
                <div class="navPage-subMenu" id="navPages-account" aria-hidden="true" tabindex="-1">
                    <ul class="navPage-subMenu-list">
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.orders.all}}">{{lang 'account.nav.orders'}}</a>
                        </li>
                        {{#if settings.returns_enabled}}
                            <li class="navPage-subMenu-item">
                                <a class="navPage-subMenu-action navPages-action" href="{{urls.account.returns}}">{{lang 'account.nav.returns'}}</a>
                            </li>
                        {{/if}}
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.inbox}}">{{lang 'account.mobile_nav.messages'}}</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.addresses}}">{{lang 'account.nav.addresses'}}</span></a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.wishlists.all}}">{{lang 'account.mobile_nav.wishlists'}}</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.recent_items}}">{{lang 'account.nav.recently_viewed'}}</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.details}}">{{lang 'account.nav.settings'}}</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="navPages-item">
                <a class="navPages-action button" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
            </li>
        {{else}}
            <li class="navPages-item">
                <a class="navPages-action button" href="/registry">Gift Registry</a>
            </li>
            <li class="navPages-item">
                <a class="navPages-action button" href="{{urls.auth.login}}">{{lang 'common.login'}}</a>
            </li>
        {{/if}}
    </ul>
    <div class="navPages-list navPages-list--store-info">
        <h5>Retail Store</h5>
        <address>{{nl2br settings.address}}</address>
        <div class="phone-hours">
            <a href="tel:{{settings.phone_number}}">{{settings.phone_number}}</a><br><br>
            Monday - Saturday 10:00am - 6pm<br>
            Sunday & Holidays 11:00am - 5pm<br>
            <a href="/contacts" class="text-link">Find our shop</a>
        </div>
    </div>
</nav>
