{{#if name "==" "New"}}
  {{#if theme_settings.menu_new_image}}
    <div class="subMenuCta">
        <img class="subMenuCta__image" src="/product_images/uploaded_images/{{theme_settings.menu_new_image}}" alt="{{name}}">
        {{#if theme_settings.menu_new_button_text}}
          <a class="subMenuCta__button button button--wide" href="{{theme_settings.menu_new_button_link}}" class="button button--wide">{{theme_settings.menu_new_button_text}}</a>
        {{/if}}
    </div>
  {{/if}}
{{/if}}

{{#if name "==" "Furniture"}}
  {{#if theme_settings.menu_furniture_image}}
    <div class="subMenuCta">
        <img class="subMenuCta__image" src="/product_images/uploaded_images/{{theme_settings.menu_furniture_image}}" alt="{{name}}">
        {{#if theme_settings.menu_furniture_button_text}}
          <a class="subMenuCta__button button button--wide" href="{{theme_settings.menu_furniture_button_link}}" class="button button--wide">{{theme_settings.menu_furniture_button_text}}</a>
        {{/if}}
    </div>
  {{/if}}
{{/if}}

{{#if name "==" "Decor"}}
  {{#if theme_settings.menu_decor_image}}
    <div class="subMenuCta">
        <img class="subMenuCta__image" src="/product_images/uploaded_images/{{theme_settings.menu_decor_image}}" alt="{{name}}">
        {{#if theme_settings.menu_decor_button_text}}
          <a class="subMenuCta__button button button--wide" href="{{theme_settings.menu_decor_button_link}}" class="button button--wide">{{theme_settings.menu_decor_button_text}}</a>
        {{/if}}
    </div>
  {{/if}}
{{/if}}

{{#if name "==" "Bedroom"}}
  {{#if theme_settings.menu_bed_image}}
    <div class="subMenuCta">
        <img class="subMenuCta__image" src="/product_images/uploaded_images/{{theme_settings.menu_bed_image}}" alt="{{name}}">
        {{#if theme_settings.menu_bed_button_text}}
          <a class="subMenuCta__button button button--wide" href="{{theme_settings.menu_bed_button_link}}" class="button button--wide">{{theme_settings.menu_bed_button_text}}</a>
        {{/if}}
    </div>
  {{/if}}
{{/if}}

{{#if name "==" "Living"}}
  {{#if theme_settings.menu_living_image}}
    <div class="subMenuCta">
        <img class="subMenuCta__image" src="/product_images/uploaded_images/{{theme_settings.menu_living_image}}" alt="{{name}}">
        {{#if theme_settings.menu_living_button_text}}
          <a class="subMenuCta__button button button--wide" href="{{theme_settings.menu_living_button_link}}" class="button button--wide">{{theme_settings.menu_living_button_text}}</a>
        {{/if}}
    </div>
  {{/if}}
{{/if}}

{{#if name "==" "Kitchen + Dining"}}
  {{#if theme_settings.menu_dining_image}}
    <div class="subMenuCta">
        <img class="subMenuCta__image" src="/product_images/uploaded_images/{{theme_settings.menu_dining_image}}" alt="{{name}}">
        {{#if theme_settings.menu_dining_button_text}}
          <a class="subMenuCta__button button button--wide" href="{{theme_settings.menu_dining_button_link}}" class="button button--wide">{{theme_settings.menu_dining_button_text}}</a>
        {{/if}}
    </div>
  {{/if}}
{{/if}}

{{#if name "==" "Bath"}}
  {{#if theme_settings.menu_bath_image}}
    <div class="subMenuCta">
        <img class="subMenuCta__image" src="/product_images/uploaded_images/{{theme_settings.menu_bath_image}}" alt="{{name}}">
        {{#if theme_settings.menu_bath_button_text}}
          <a class="subMenuCta__button button button--wide" href="{{theme_settings.menu_bath_button_link}}" class="button button--wide">{{theme_settings.menu_bath_button_text}}</a>
        {{/if}}
    </div>
  {{/if}}
{{/if}}

{{#if name "==" "Lighting"}}
  {{#if theme_settings.menu_lighting_image}}
    <div class="subMenuCta">
        <img class="subMenuCta__image" src="/product_images/uploaded_images/{{theme_settings.menu_lighting_image}}" alt="{{name}}">
        {{#if theme_settings.menu_lighting_button_text}}
          <a class="subMenuCta__button button button--wide" href="{{theme_settings.menu_lighting_button_link}}" class="button button--wide">{{theme_settings.menu_lighting_button_text}}</a>
        {{/if}}
    </div>
  {{/if}}
{{/if}}

{{#if name "==" "Lifestyle"}}
  {{#if theme_settings.menu_lifestyle_image}}
    <div class="subMenuCta">
        <img class="subMenuCta__image" src="/product_images/uploaded_images/{{theme_settings.menu_lifestyle_image}}" alt="{{name}}">
        {{#if theme_settings.menu_lifestyle_button_text}}
          <a class="subMenuCta__button button button--wide" href="{{theme_settings.menu_lifestyle_button_link}}" class="button button--wide">{{theme_settings.menu_lifestyle_button_text}}</a>
        {{/if}}
    </div>
  {{/if}}
{{/if}}