<nav class="navUser">
    {{!-- > components/common/currency-selector --}}

    <ul class="navUser-section navUser-section--alt">
        {{#if customer.store_credit.value '>' 0}}
            <li class="navUser-item">
                <a class="navUser-action navUser-action--storeCredit"
                   data-dropdown="storeCredit-dropdown"
                   data-options="align:bottom"
                   href="{{urls.cart}}">
                        <span class="navUser-action-divider">{{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}</span>
                </a>
                <div class="dropdown-menu" id="storeCredit-dropdown" data-dropdown-content aria-hidden="true">
                    {{{lang 'common.store_credit' store_credit=customer.store_credit.formatted}}}
                </div>
            </li>
        {{/if}}
        <li class="navUser-item">
            <a class="navUser-action navUser-item--compare" href="{{urls.compare}}" data-compare-nav>{{lang 'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span></a>
        </li>
        <!--
        {{#if settings.gift_certificates_enabled}}
            <li class="navUser-item">
                <a class="navUser-action" href="{{urls.gift_certificate.purchase}}">{{lang 'common.gift_cert'}}</a>
            </li>
        {{/if}}
        -->
        <li class="navUser-item navUser-item--account">
                <a class="navUser-action" href="/registry">Gift Registry</a>
            {{#if customer}}
                <a class="navUser-action" href="{{urls.account.index}}">{{lang 'common.account'}}</a>
                <a class="navUser-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
            {{else}}
                <a class="navUser-action" href="{{urls.auth.login}}">{{lang 'common.login'}}</a>
                <!--
                {{#if settings.account_creation_enabled}}
                    <span class="navUser-or">{{lang 'common.or'}}</span> <a class="navUser-action" href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a>
                {{/if}}
                -->
            {{/if}}
        </li>
        <li class="navUser-item navUser-item--quickSearch">
            <a class="navUser-action navUser-action--quickSearch" href="#" data-search="quickSearch" aria-controls="quickSearch" aria-expanded="false">
                <i class="icon navUser-action-searchIcon" aria-hidden="true">
                    <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g fill-rule="nonzero" fill="#4F4F52">
                                <path d="M17.8506116,16.0841498 C17.9502044,16.1837426 18,16.3082317 18,16.4576208 C18,16.6070099 17.9502044,16.731499 17.8506116,16.8310918 C17.739953,16.9417504 17.6126975,16.9970789 17.4688413,16.9970789 C17.3249851,16.9970789 17.1977296,16.9417504 17.087071,16.8310918 L11.9414709,11.6522943 C11.3549802,12.161324 10.6910385,12.559689 9.94962573,12.8474014 C9.20821298,13.1351138 8.42254858,13.2789679 7.59260893,13.2789679 C6.6741424,13.2789679 5.81101812,13.1046832 5.0032102,12.7561085 C4.19540228,12.4075339 3.48996417,11.9344754 2.8868747,11.3369188 C2.28378522,10.7393623 1.81072672,10.0366906 1.467685,9.22888267 C1.12464329,8.42107475 0.953125,7.55795047 0.953125,6.63948393 C0.953125,5.7210174 1.12464329,4.85789312 1.467685,4.0500852 C1.81072672,3.24227728 2.28378522,2.53960559 2.8868747,1.94204905 C3.48996417,1.34449251 4.19540228,0.871434009 5.0032102,0.52285936 C5.81101812,0.17428471 6.6741424,0 7.59260893,0 C8.50000961,0 9.35760104,0.17428471 10.165409,0.52285936 C10.9732169,0.871434009 11.678655,1.34449251 12.2817445,1.94204905 C12.8848339,2.53960559 13.3606589,3.24227728 13.7092335,4.0500852 C14.0578082,4.85789312 14.2320929,5.7210174 14.2320929,6.63948393 C14.2320929,7.44729185 14.0937717,8.21359129 13.8171251,8.93840525 C13.5404786,9.6632192 13.1642449,10.3133288 12.6884129,10.8887537 L17.8506116,16.0841498 Z M7.59260893,12.2332491 C8.3561534,12.2332491 9.07819006,12.0866287 9.75874057,11.7933833 C10.4392911,11.500138 11.0313058,11.0990065 11.5348025,10.5899769 C12.0382992,10.0809472 12.4366643,9.4889325 12.7299096,8.81391492 C13.023155,8.13889735 13.1697754,7.41409427 13.1697754,6.63948393 C13.1697754,5.8648736 13.023155,5.14007052 12.7299096,4.46505295 C12.4366643,3.79003537 12.0382992,3.19802064 11.5348025,2.68899099 C11.0313058,2.17996135 10.4392911,1.77882987 9.75874057,1.48558453 C9.07819006,1.19233919 8.3561534,1.04571872 7.59260893,1.04571872 C6.8179986,1.04571872 6.0904291,1.19233919 5.40987859,1.48558453 C4.72932808,1.77882987 4.13731335,2.17996135 3.63381664,2.68899099 C3.13031992,3.19802064 2.73195487,3.79003537 2.43870953,4.46505295 C2.14546419,5.14007052 1.99884372,5.8648736 1.99884372,6.63948393 C1.99884372,7.41409427 2.14546419,8.13889735 2.43870953,8.81391492 C2.73195487,9.4889325 3.13031992,10.0809472 3.63381664,10.5899769 C4.13731335,11.0990065 4.72932808,11.500138 5.40987859,11.7933833 C6.0904291,12.0866287 6.8179986,12.2332491 7.59260893,12.2332491 Z" id="Magnifier---simple-line-icons"></path>
                            </g>
                        </g>
                    </svg>
                </i>
                <i class="icon navUser-action-searchIcon-close" aria-hidden="true">
                    <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g fill-rule="nonzero" fill="#4F4F52">
                                <path d="M17.8506116,16.0841498 C17.9502044,16.1837426 18,16.3082317 18,16.4576208 C18,16.6070099 17.9502044,16.731499 17.8506116,16.8310918 C17.739953,16.9417504 17.6126975,16.9970789 17.4688413,16.9970789 C17.3249851,16.9970789 17.1977296,16.9417504 17.087071,16.8310918 L11.9414709,11.6522943 C11.3549802,12.161324 10.6910385,12.559689 9.94962573,12.8474014 C9.20821298,13.1351138 8.42254858,13.2789679 7.59260893,13.2789679 C6.6741424,13.2789679 5.81101812,13.1046832 5.0032102,12.7561085 C4.19540228,12.4075339 3.48996417,11.9344754 2.8868747,11.3369188 C2.28378522,10.7393623 1.81072672,10.0366906 1.467685,9.22888267 C1.12464329,8.42107475 0.953125,7.55795047 0.953125,6.63948393 C0.953125,5.7210174 1.12464329,4.85789312 1.467685,4.0500852 C1.81072672,3.24227728 2.28378522,2.53960559 2.8868747,1.94204905 C3.48996417,1.34449251 4.19540228,0.871434009 5.0032102,0.52285936 C5.81101812,0.17428471 6.6741424,0 7.59260893,0 C8.50000961,0 9.35760104,0.17428471 10.165409,0.52285936 C10.9732169,0.871434009 11.678655,1.34449251 12.2817445,1.94204905 C12.8848339,2.53960559 13.3606589,3.24227728 13.7092335,4.0500852 C14.0578082,4.85789312 14.2320929,5.7210174 14.2320929,6.63948393 C14.2320929,7.44729185 14.0937717,8.21359129 13.8171251,8.93840525 C13.5404786,9.6632192 13.1642449,10.3133288 12.6884129,10.8887537 L17.8506116,16.0841498 Z M7.54689021,12.1875304 C8.31043468,12.1875304 9.03247134,12.04091 9.71302185,11.7476646 C10.3935724,11.4544193 10.9855871,11.0532878 11.4890838,10.5442582 C11.9925805,10.0352285 12.3909456,9.44321378 12.6841909,8.7681962 C12.9774362,8.09317863 13.1240567,7.36837555 13.1240567,6.59376521 C13.1240567,5.81915488 12.9774362,5.0943518 12.6841909,4.41933423 C12.3909456,3.74431665 11.9925805,3.15230192 11.4890838,2.64327227 C10.9855871,2.13424263 10.3935724,1.73311115 9.71302185,1.43986581 C9.03247134,1.14662047 8.31043468,1 7.54689021,1 C6.77227988,1 6.04471038,1.14662047 5.36415987,1.43986581 C4.68360937,1.73311115 4.09159463,2.13424263 3.58809792,2.64327227 C3.0846012,3.15230192 2.68623615,3.74431665 2.39299081,4.41933423 C2.09974547,5.0943518 1.953125,5.81915488 1.953125,6.59376521 C1.953125,7.36837555 2.09974547,8.09317863 2.39299081,8.7681962 C2.68623615,9.44321378 3.0846012,10.0352285 3.58809792,10.5442582 C4.09159463,11.0532878 4.68360937,11.4544193 5.36415987,11.7476646 C6.04471038,12.04091 6.77227988,12.1875304 7.54689021,12.1875304 Z M9.8794768,8.35719971 L8.32807315,6.7506742 L9.93459866,5.19927055 C10.0433744,5.09422707 10.0991251,4.96358105 10.1018525,4.80732856 C10.1045799,4.65107608 10.0534226,4.51856397 9.94837912,4.40978826 C9.83525537,4.29264519 9.70258931,4.23480267 9.55037696,4.23625895 C9.39816461,4.23771523 9.26767254,4.29096432 9.15889683,4.3960078 L7.55237132,5.94741145 L6.00096767,4.34088594 C5.88784393,4.22374287 5.75517787,4.16590034 5.60296552,4.16735663 C5.45075317,4.16881291 5.32026109,4.22206199 5.21148538,4.32710547 C5.10270968,4.43214896 5.04493892,4.56070317 5.03817139,4.71277197 C5.03140386,4.86484078 5.08458117,4.99944469 5.19770492,5.11658776 L6.74910857,6.72311327 L5.14258306,8.27451692 C5.03380735,8.3795604 4.9760366,8.50811462 4.96926907,8.66018342 C4.96250154,8.81225222 5.01567885,8.94685614 5.1288026,9.06399921 C5.23384608,9.17277492 5.3644921,9.22852564 5.52074458,9.23125303 C5.67699707,9.23398043 5.80950918,9.18282316 5.91828489,9.07777968 L7.52481039,7.52637603 L9.07621404,9.13290154 C9.18125753,9.24167724 9.31190355,9.29742796 9.46815603,9.30015536 C9.62440852,9.30288275 9.75692063,9.25172548 9.86569633,9.146682 C9.97447204,9.04163852 10.0302228,8.9109925 10.0329502,8.75474001 C10.0356776,8.59848753 9.98452028,8.46597542 9.8794768,8.35719971 Z" id="Shape"></path>
                            </g>
                        </g>
                    </svg>
                </i>
            </a>
        </li>
        <li class="navUser-item navUser-item--cart">
            <a
                class="navUser-action{{#if cart.items}} is-full{{/if}}"
                data-cart-preview
                data-dropdown="cart-preview-dropdown"
                data-options="align:right"
                href="{{urls.cart}}">
                <span class="navUser-item-cartLabel">
                    <i class="icon navUser-action-cartIcon" aria-hidden="true">
                        <svg width="14px" height="16px" viewBox="0 0 14 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g fill-rule="nonzero" fill="#4F4F52">
                                    <path d="M12.5,2.484375 C12.7812514,2.484375 13.0182282,2.5807282 13.2109375,2.7734375 C13.4036468,2.9661468 13.5,3.2031236 13.5,3.484375 L13.5,14.984375 C13.5,15.2552097 13.4036468,15.4895823 13.2109375,15.6875 C13.0182282,15.8854177 12.7812514,15.984375 12.5,15.984375 L1.5,15.984375 C1.21874859,15.984375 0.9817718,15.8854177 0.7890625,15.6875 C0.5963532,15.4895823 0.5,15.2552097 0.5,14.984375 L0.5,3.484375 C0.5,3.2031236 0.5963532,2.9661468 0.7890625,2.7734375 C0.9817718,2.5807282 1.21874859,2.484375 1.5,2.484375 L4.515625,2.484375 L4.515625,1.515625 C4.515625,1.10937297 4.66145687,0.75781398 4.953125,0.4609375 C5.24479313,0.16406102 5.59895625,0.015625 6.015625,0.015625 L8.015625,0.015625 C8.43229375,0.015625 8.78645688,0.16406102 9.078125,0.4609375 C9.3697931,0.75781398 9.515625,1.10937297 9.515625,1.515625 L9.515625,2.484375 L12.5,2.484375 Z M5.515625,1.515625 L5.515625,2.484375 L8.515625,2.484375 L8.515625,1.515625 C8.515625,1.38020766 8.46614633,1.26302133 8.3671875,1.1640625 C8.26822867,1.06510367 8.15104234,1.015625 8.015625,1.015625 L6.015625,1.015625 C5.88020766,1.015625 5.76302133,1.06510367 5.6640625,1.1640625 C5.56510367,1.26302133 5.515625,1.38020766 5.515625,1.515625 Z M12.5,14.984375 L12.5,3.484375 L9.515625,3.484375 L9.515625,4.515625 L9.453125,4.765625 C9.4114581,4.9322925 9.2656263,5.015625 9.015625,5.015625 C8.74479031,5.015625 8.59375016,4.9322925 8.5625,4.765625 L8.515625,4.515625 L8.515625,3.484375 L5.515625,3.484375 L5.515625,4.515625 L5.4765625,4.765625 C5.4505207,4.9322925 5.29687641,5.015625 5.015625,5.015625 C4.75520703,5.015625 4.60677102,4.9322925 4.5703125,4.765625 L4.515625,4.515625 L4.515625,3.484375 L1.5,3.484375 L1.5,14.984375 L12.5,14.984375 Z" id="bag---simple-line-icons"></path>
                                </g>
                            </g>
                        </svg>
                    </i>
                </span>
                <span id="countPill-wrapper">
                    {{> components/common/count-pill }}
                </span>
            </a>

            <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true" aria-autoclose="false"></div>
        </li>
    </ul>
    <div class="dropdown dropdown--quickSearch" id="quickSearch" aria-hidden="true" tabindex="-1" data-prevent-quick-search-close>
        {{> components/common/quick-search}}
    </div>
</nav>
