{{#or theme_settings.menu_new_sublink_1_url theme_settings.menu_new_sublink_2_url theme_settings.menu_new_sublink_3_url theme_settings.menu_new_sublink_4_url}}
<a class="navPages-action has-subMenu" href="{{url}}" data-collapsible="navPages-{{id}}">
    {{name}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-unicorn-add" /></svg></i>
</a>
<div class="navPage-subMenu" id="navPages-{{id}}" aria-hidden="true" tabindex="-1">
    <ul class="navPage-subMenu-list">
        <li class="navPage-subMenu-item">
            <a class="navPage-subMenu-action navPages-action" href="{{url}}">{{lang 'category.view_all.name' category=name}}</a>
        </li>
        {{#if theme_settings.menu_new_sublink_1_url}}
            <li class="navPage-subMenu-item">
                <a class="navPage-subMenu-action navPages-action" href="{{theme_settings.menu_new_sublink_1_url}}">{{theme_settings.menu_new_sublink_1_title}}</a>
            </li>
        {{/if}}
        {{#if theme_settings.menu_new_sublink_2_url}}
            <li class="navPage-subMenu-item">
                <a class="navPage-subMenu-action navPages-action" href="{{theme_settings.menu_new_sublink_2_url}}">{{theme_settings.menu_new_sublink_2_title}}</a>
            </li>
        {{/if}}
        {{#if theme_settings.menu_new_sublink_3_url}}
            <li class="navPage-subMenu-item">
                <a class="navPage-subMenu-action navPages-action" href="{{theme_settings.menu_new_sublink_3_url}}">{{theme_settings.menu_new_sublink_3_title}}</a>
            </li>
        {{/if}}
        {{#if theme_settings.menu_new_sublink_4_url}}
            <li class="navPage-subMenu-item">
                <a class="navPage-subMenu-action navPages-action" href="{{theme_settings.menu_new_sublink_4_url}}">{{theme_settings.menu_new_sublink_4_title}}</a>
            </li>
        {{/if}}
    </ul>
    <div class="navPage-subMenu-image">
        {{> components/common/navigation-image theme_settings=../theme_settings menu=name}}
    </div>
</div>
{{else}}
<a class="navPages-action" href="{{url}}">{{name}}</a>
{{/or}}
