<div class="container">
    {{{ snippet "forms_search"}}}
    <form class="form" action="{{urls.search}}">
        <fieldset class="form-fieldset">
            <div class="form-field">
                <h3>{{lang "search.quick_search.input_heading"}}</h3>
                <a class="modal-close" aria-label="Close" data-drop-down-close="" role="button">
                    <span aria-hidden="true">×</span>
                </a>
                <label class="is-srOnly" for="search_query">{{lang "search.quick_search.input_label"}}</label>
                <input class="form-input" data-search-quick name="search_query" id="search_query" data-error-message="{{lang 'search.error.empty_field'}}" placeholder="{{lang 'search.quick_search.input_placeholder'}}" autocomplete="off" required>
                <div class="form-actions">
                    <button id="search_reset" class="form-reset" type="button"><svg><use xlink:href="#icon-cart-remove"></use></svg></button>
                    <input id="search_submit" class="form-submit" type="submit" value=""/>
                </div>
            </div>
        </fieldset>
    </form>
    <section class="quickSearchResults" data-bind="html: results"></section>
</div>
