<a href="{{urls.home}}">
    {{#if settings.store_logo.image}}
        <div class="header-logo-image-container">
            <img class="header-logo-image lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/logo.svg'}}" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}">
        </div>
    {{else}}
        <span class="header-logo-text">{{settings.store_logo.title}}</span>
    {{/if}}
</a>
