{{#partial "page"}}
<base href="/">

<main class="page registry-page">

	<div class="page-hero">
	</div>

	<div class="container container--medium">
		<h1 class="page-heading">{{ page.title }}</h1>
    	<div class="page-content rte">
			<p>{{{page.content}}}</p>
			<app-root></app-root>
		</div>
	</div>

</main>
<!-- facebook share -->
<div id="fb-root"></div>
<script type="text/javascript">
    var ribon = "https://www.ribon.ca";
    var store = "y128t5d5vg";
</script>
{{/partial}}

{{> layout/registry}}
<link href="//fonts.googleapis.com/css?family=Oswald:300|Open+Sans:400|Montserrat:400|Roboto:400" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700,900|Material+Icons" rel="stylesheet">
<script type="text/javascript" src="https://store-y128t5d5vg.mybigcommerce.com/content/product-registry/runtime.js"></script>
<script type="text/javascript" src="https://store-y128t5d5vg.mybigcommerce.com/content/product-registry/polyfills.js"></script>
<script type="text/javascript" src="https://store-y128t5d5vg.mybigcommerce.com/content/product-registry/main.js"></script>
<link rel="stylesheet" type="text/css" href="https://store-y128t5d5vg.mybigcommerce.com/content/product-registry/styles.css">
