---
brands:
---

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">
    <h1 class="page-heading">{{lang 'brand.label'}}</h1>
    <ul class="brandGrid">
        {{#each brands}}
            <li class="brand">
                <article class="card {{#if alternate}}card--alternate{{/if}}">
                    <figure class="card-figure">
                        <a href="{{url}}">
                            <div class="card-img-container">
                                <img class="card-image lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'product_thumb_size' (cdn ../theme_settings.default_image_brand)}}" alt="{{name}}" title="{{name}}">
                            </div>
                        </a>
                    </figure>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{{url}}">{{name}}</a>
                        </h4>
                    </div>
                </article>
            </li>
        {{/each}}
    </ul>
    {{> components/common/paginator pagination.brands}}
</main>
{{/partial}}
{{> layout/base}}
