---
category:
    shop_by_price: true
    products:
        limit: 12
---
{{inject "categoryProductsPerPage" 12}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}
{{#partial "hero"}}
{{#if category.image}}
<div class="category-hero">
    <img class="object-fit--cover" src="{{getImage category.image 'category_hero'}}">
</div>
{{/if}}
{{/partial}}
{{#partial "page"}}
<div class="container">
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<div id="category-head-container" class="category-head-container">
    {{> components/category/head }}
</div>
<input type="hidden" value="{{category.id}}" name="category_id" id="current-category-id">
{{{snippet 'categories'}}}
<div class="page">
    <aside class="page-sidebar" id="faceted-search-container">
        {{> components/category/sidebar }}
    </aside>

    <main class="page-content" id="product-listing-container">
        {{#if category.products}}
            {{> components/category/product-listing}}
        {{else}}
            <p>{{lang 'categories.no_products'}}</p>
        {{/if}}
    </main>
</div>
</div>
{{/partial}}
{{> layout/base}}
