{{#partial "head"}}

{{{ checkout.checkout_head }}}
{{{ stylesheet '/assets/css/optimized-checkout.css' }}}
{{ getFontsCollection }}

<script type="text/javascript">
    window.language = {{{langJson 'optimized_checkout'}}};
</script>

{{{head.scripts}}}

{{/partial}}

{{#partial "page"}}
<header class="checkoutHeader optimizedCheckout-header">
    <div class="checkoutHeader-content">
        <h1 class="u-hiddenVisually">{{lang 'checkout.title'}}</h1>
        {{#if checkout.header_image}}
            <a class="checkoutHeader-link checkoutHeader-logo" href="{{urls.home}}">
                <img alt="{{settings.store_logo.title}}" id="logoImage" src="{{ checkout.header_image }}"/>
            </a>
        {{/if}}
    </div>
</header>

{{{ checkout.checkout_content }}}

{{{ footer.scripts }}}

{{/partial}}

{{> layout/empty}}
