{{#partial "page"}}
<div class="container">
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">

    <h1 class="page-heading page-heading--contact-us">{{page.title}}</h1>

    {{#if page.sub_pages}}
        <nav class="navBar navBar--sub">
            <ul class="navBar-section account-navigation">
                {{#each page.sub_pages}}
                    <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
                {{/each}}
            </ul>
        </nav>
    {{/if}}

    <div class="page-content">
        {{#if forms.contact.success}}
            <div class="contact-success">
                {{{lang 'forms.contact_us.successful' shopPath=urls.home}}}
            </div>
        {{/if}}
        <section class="contact-main">
            {{{page.content}}}
            {{> components/page/contact-us-form}}
        </section>

    </div>

</main>
</div>
{{> components/page/contact-us-visit }}
{{/partial}}



{{> layout/base}}
