{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">

    <div class="page-hero">
    </div>

    <div class="container container--medium">

        <h1 class="page-heading">{{ page.title }}</h1>

        {{#if page.sub_pages}}
        <nav class="navBar navBar--sub">
            <ul class="navBar-section account-navigation">
            {{#each page.sub_pages}}
                <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
            {{/each}}
            </ul>
        </nav>
        {{/if}}

        <div class="page-content">
            {{#replace '%%Syndicate%%' page.content}}
                {{> components/page/rss_feed}}
            {{else}}
                <div class="content rte">
                    {{{page.content}}}
                </div>
            {{/replace}}
        </div>

        {{#if page.feed}}
            <ul>
                {{#each page.feed}}
                    <li>
                        <h6><a href="{{url}}" target="_blank">{{title}}</a></h6>
                        <p>{{content}}</p>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
    </div>
</main>

{{/partial}}

{{> layout/base}}
