---
product:
    videos:
        limit: 8
    reviews:
        limit: 9
    related_products:
        limit: 4
    similar_by_views:
        limit: 10
---
{{#partial "page"}}

    {{#each product.shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

    <div class="container" itemscope itemtype="http://schema.org/Product">
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        {{> components/products/product-view schema=true}}

        {{!--
        {{#if product.videos.list.length}}
            {{> components/products/videos product.videos}}
        {{/if}}

        {{#if settings.show_product_reviews}}
            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/if}}
        --}}

    </div>

    <div id="product-extraInfo" data-extra-info-url="{{> components/products/custom-field custom_field='extra_info_url'}}"></div>

    {{#if product.related_products}}
        {{> components/products/related products=product.related_products}}
    {{/if}}
{{/partial}}
{{> layout/base}}
