---
product_results:
    limit: 12
---
{{inject 'categoryTree' forms.search.category_options}}
{{inject 'searchProductsPerPage' 12}}


{{#partial "page"}}
<div class="container">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <div id="category-head-container" class="category-head-container">
        {{> components/search/head }}
    </div>

    <section class="page">
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/search/sidebar }}
        </aside>
        
        <main class="page-content" id="product-listing-container">
            {{#if product_results.products}}
                {{> components/search/product-listing}}
            {{else}}
                <p>{{lang 'categories.no_products'}}</p>
            {{/if}}
        </main>
    </section>
</div>

{{/partial}}
{{> layout/base}}
