<form action="{{urls.account.update_action}}" data-edit-account-form class="form" method="post">
    {{inject 'firstName' (lang 'forms.validate.account.edit.first_name')}}
    {{inject 'lastName' (lang 'forms.validate.account.edit.last_name')}}
    {{inject 'phoneNumber' (lang 'forms.validate.account.edit.phone')}}
    {{inject 'currentPassword' (lang 'forms.validate.account.edit.password')}}
    <fieldset class="form-fieldset">
        <div class="form-row form-row--half">
            <div class="form-field">
                <label class="form-label" for="account_firstname">
                    {{lang 'account.settings.first_name' }}<span class="form-required">*</span>
                </label>
                <input type="text" class="form-input" name="account_firstname" id="account_firstname" value="{{forms.edit_account.first_name}}">
            </div>
            <div class="form-field">
                <label class="form-label" for="account_lastname">
                    {{lang 'account.settings.last_name' }}<span class="form-required">*</span>
                </label>
                <input type="text" class="form-input" name="account_lastname" id="account_lastname" value="{{forms.edit_account.last_name}}">
            </div>
            <div class="form-field">
                <label class="form-label" for="account_companyname">
                    {{lang 'account.settings.company' }}
                </label>
                <input type="text" class="form-input" name="account_companyname" id="account_companyname" value="{{forms.edit_account.company_name}}">
            </div>
            <div class="form-field">
                <label class="form-label" for="account_phone">
                    {{lang 'account.settings.phone' }}<span class="form-required">*</span>
                </label>
                <input type="text" class="form-input" name="account_phone" id="account_phone" value="{{forms.edit_account.phone}}">
            </div>
            {{#each forms.edit_account.fields}}
                {{{dynamicComponent 'components/common/forms'}}}
            {{/each}}
        </div>
    </fieldset>
    <div class="form-actions">
        <button class="button button--primary">{{lang 'account.settings.update_details'}}</button>
    </div>
</form>
