<h3 class="account-heading">{{lang 'account.messages.heading' }}</h3>

<ul class="account-list">
    {{#each messages}}
    <li class="account-listItem">
        <div class="account-message">
            <div class="account-messageTimestamp account-orderStatus">
                <span>{{date}}</span>
            </div>
            <div class="account-messageBody">
                <h5 class="account-product-title {{#unless unread}}is-read{{/unless}}">
                    {{subject}}
                </h5>
                <p class="{{#unless unread}}is-read{{/unless}}">
                    {{#if is_reply}}
                        {{lang 'account.messages.merchant_said' store_name=../../settings.store_name}}
                    {{else}}
                        {{lang 'account.messages.customer_said'}}
                    {{/if}}
                    {{message}}
                </p>
            </div>
        </div>
    </li>
    {{/each}}
</ul>
