<p style="margin-bottom: 24px">Hi %%FIRSTNAME%%,</p>
<p style="margin-bottom: 24px">
  You recently visited our online store and we noticed that you didn't complete your order
  for the following items:
</p>

  %%CARTCONTENTS%%
  %%COUPONCODEBOX%%

<p style="margin-bottom: 24px">To complete your order right now, just click on the link below:</p>
<p style="margin-bottom: 24px"><a href="%%CHECKOUTLINK%%" style="color: #ec9696; text-decoration: none;">Complete Your Order</a></p>
<p>We look forward to receiving your order!</p>