@mixin breakpoint($size, $constraint: 'min') {
  @media (#{$constraint}-width: $size) { @content; }
}

@mixin square($size) {
  height: $size;
  width: $size;
}

@mixin css-triangle($triangle-size, $triangle-color, $triangle-direction) {
  border: inset $triangle-size;
  content: "";
  display: block;
  height: 0;
  width: 0;
  @if ($triangle-direction == top) {
    border-color: $triangle-color transparent transparent transparent;
    border-top-style: solid;
  }
  @if ($triangle-direction == bottom) {
    border-color: transparent transparent $triangle-color transparent;
    border-bottom-style: solid;
  }
  @if ($triangle-direction == left) {
    border-color: transparent transparent transparent $triangle-color;
    border-left-style: solid;
  }
  @if ($triangle-direction == right) {
    border-color: transparent $triangle-color transparent transparent;
    border-right-style: solid;
  }
}

@mixin verticalPositionMiddle($position: "relative") {
  @if $position == "relative" {
      position: relative;
  }
  @else if $position == "absolute" {
      position: absolute;
  }
  top: 50%;
  transform: translateY(-50%);
}

@mixin u-display($variant) {
  @if $variant == "none" {
      display: none;
  }
  @else if $variant == "block" {
      display: block;
  }
  @else if $variant == "inlineBlock" {
    display: inline-block;
      //Fix for Firefox bug: an image styled `max-width:100%` within an
      //inline-block will display at its default size, and not limit its
      //width to 100% of an ancestral container.
      max-width: 100%; // 1
  }
}

@mixin u-hidden($variant) {
  @if $variant == "fully" {
      display: none;
  }
  @else if $variant == "visually" {
      border: 0;
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
  }
}

.u-hiddenVisually {
  border: 0!important;
  clip: rect(1px,1px,1px,1px)!important;
  height: 1px!important;
  overflow: hidden!important;
  padding: 0!important;
  position: absolute!important;
  width: 1px!important;
}

.hidden {
  display: none;
}

// Used in lazyloading frequently
@mixin aspect-ratio($width:1 , $height: 1, $selector: '*', $combinator: '>') {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  #{$combinator} #{$selector} {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin object-fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin object-fit-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.object-fit--cover {
  @include object-fit-cover();
}

.object-fit--contain {
  @include object-fit-contain();
}

.compat-object-fit {
  background-repeat: no-repeat;
  background-position: center center;
  [class="object-fit--"] {
    opacity: 0;
  }
}

.compat-object-fit--cover {
  background-size: cover;
}

.compat-object-fit--contain {
  background-size: contain;
}