///
/// Calculate the required `padding-bottom` value to reserve page space for an image of a given size, represented by `$size`.
///
/// @param {String} $size - A string of the form 'XxY', where 'X' and 'Y' are integers.
///
/// @return {Number} - A percentage indicating the appropriate value of `padding-bottom`.
///
@function get-padding($size) {
    $list: str-split($size, 'x');

    $width: to-number(nth($list, 1));
    $height: to-number(nth($list, 2));

    @return percentage($height/$width);
}

///
/// Returns a string representing the width (in pixels) of an image with size `$size`.
///
/// @param {String} $size - A string of the form 'XxY', where 'X' and 'Y' are integers.
///
/// @return {String} - A string of the form 'Xpx'
///
@function get-width($size) {
	$list: str-split($size, 'x');

    @return nth($list, 1) + 'px';
}

///
/// Returns a string representing the width (in pixels) of an image with size `$size`.
///
/// @param {String} $size - A string of the form 'XxY', where 'X' and 'Y' are integers.
///
/// @return {String} - A string of the form 'Ypx'
///
@function get-height($size) {
	$list: str-split($size, 'x');

    @return nth($list, 2) + 'px';
}

// TODO: remove all reference to these two mixins and rely on aspect-ratio instead
@mixin lazy-loaded-img() {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@mixin lazy-loaded-padding($size-param) {
    &:after {
        content: '';
        display: block;
        height: 0;
        width: 100%;
        padding-bottom: get-padding(stencilString($size-param));
    }
}
