<div class="form-field" data-product-attribute="swatch">
    <label class="form-label form-label--alternate form-label--inlineSmall">
        {{this.display_name}}:
        <span data-option-value></span>

        {{#if required}}
            <small>{{lang 'common.required'}}</small>
        {{/if}}
    </label>
    {{#each this.values}}
        <input class="form-radio" type="radio" name="attribute[{{../id}}]" value="{{id}}" id="attribute_swatch_{{id}}" {{#if selected}}checked data-default{{/if}} {{#if ../required}}required{{/if}}>
        <label class="form-option form-option-swatch" for="attribute_swatch_{{id}}" data-product-attribute-value="{{id}}">
            <span class='form-option-variant form-option-variant--color color-swatch color-swatch--{{hyphenate (toLowerCase this.label)}}' title="{{this.label}}" style="background-image: url('/product_images/uploaded_images/swatch-{{hyphenate (toLowerCase this.label)}}.jpg');"></span>
            <span class="form-option-expanded">
                <span class="form-option-image" style="background-image: url('/product_images/uploaded_images/swatch-{{hyphenate (toLowerCase this.label)}}.jpg');"></span>
            </span>
        </label>
    {{/each}}
</div>
