<tr style="margin-bottom: 24px;">
    <td>
      <a href="%%GLOBAL_ProductUrl%%" style="border: 0; color:#ec9696; text-decoration: none; text-align: center;">
        <img src="%%GLOBAL_ProductThumbnailUrl%%" style="padding:0px 10px 10px 0px; border: 0; width: 50px; display: block; margin: 0 auto;" alt="%%GLOBAL_ProductName%%" />
      </a>
    </td>
    <td style="vertical-align: middle;">
      <p style="text-align: center">%%GLOBAL_ProductQuantity%% x <a href="%%GLOBAL_ProductUrl%%" style="color:#ec9696; text-decoration: none;">%%GLOBAL_ProductName%%</a></p>
      <p style="text-align: center">%%GLOBAL_ProductPrice%% each</p>
    </td>
</tr>