<div style="background:#f3e6e4; padding:10px; margin:20px 0px 20px 0px">
  %%LNG_AC_CouponCodeBeforeText%%<strong>%%GLOBAL_AC_CouponCode%%</strong>%%LNG_AC_CouponCodeAfterText%%%%GLOBAL_AC_CouponCodeText%%
</div>