<hr style="height: 1px; border-style: none; color: #000; background: #000;" />
<p style="font-size: 11px; text-align:center;">If you have any questions, please call 604-689-2900 or email <a href="mailto:online@thecrossdesign.com" style="color: #ec9696; text-decoration: none;">online@thecrossdesign.com</a></p>
<h3 style="font-family: Georgia; font-weight: bold; text-align:center; font-size: 12px; margin-top: 30px;">%%GLOBAL_StoreName%%</h3>
<ul style="text-align: center; padding-left: 0;">
    <li style="display: inline-block; margin: 0 11px;">
        <a href="https://www.instagram.com/thecrossdesign">
            <img style="height: 33px; width: 33px;" src="https://store-y128t5d5vg.mybigcommerce.com/product_images/uploaded_images/instagram.png" alt="Instagram"/>
        </a>
    </li>
    <li style="display: inline-block; margin: 0 11px;">
        <a href="https://www.pinterest.ca/thecrossdesign/">
            <img style="height: 33px; width: 33px;" src="https://store-y128t5d5vg.mybigcommerce.com/product_images/uploaded_images/pinterest.png" alt="Pinterest"/>
        </a>
    </li>
    <li style="display: inline-block; margin: 0 11px;">
        <a href="fhttps://www.facebook.com/thecrossdesign/">
            <img style="height: 33px; width: 33px;" src="https://store-y128t5d5vg.mybigcommerce.com/product_images/uploaded_images/facebook.png" alt="Facebook"/>
        </a>
    </li>
    <li style="display: inline-block; margin: 0 11px;">
        <a href="https://twitter.com/thecrossdesign">
            <img style="height: 33px; width: 33px;" src="https://store-y128t5d5vg.mybigcommerce.com/product_images/uploaded_images/twitter.png" alt="Twitter"/>
        </a>
    </li>
<ul>