<table width="100%" id="CheckoutCartGrid" cellspacing="0" cellpadding="4">
	<tr>
		<td align="right">%%LNG_PaymentProviderName%%:</td>
		<td width="100" align="right">%%GLOBAL_PaymentProviderMethod%%</td>
	</tr>
</table>