<table width="100%" id="CheckoutCartGrid" cellspacing="0" cellpadding="0">
  <tr style="background-color:#f3e6e4;">
    <td style="padding: 10px 5px; font-weight:bold" nowrap>Cart Items</td>
    <td style="padding: 10px 5px; font-weight:bold" nowrap="nowrap" width="100" align="center">SKU</td>
    <td style="padding: 10px 5px; font-weight:bold" nowrap="nowrap" width="50" align="center">QTY</td>
    <td style="padding: 10px 5px; font-weight:bold" nowrap="nowrap" width="100" align="center">Item Price</td>
    <td style="padding: 10px 5px; font-weight:bold" nowrap="nowrap" width="100" align="center">Item Total</td>
  </tr>
</table>