<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td style="padding: 10px 5px; border-bottom: 1px solid #222;">
        <strong>%%GLOBAL_ProductName%%</strong>
        %%GLOBAL_ProductOptions%%
        %%GLOBAL_ProductAttributes%%
        <br />
        %%GLOBAL_ExpectedReleaseDate%%
        <table style="font-family: Arial; font-size:11px">%%GLOBAL_CartProductFields%%</table>
        %%GLOBAL_EventDate%%
      </td>
      <td style="padding: 10px 5px; border-bottom: 1px solid #222;" align="center" width="50">%%GLOBAL_ProductQuantity%%</td>
      <td style="padding: 10px 5px; border-bottom: 1px solid #222;" align="center" width="100">%%GLOBAL_ProductPrice%%</td>
      <td style="padding: 10px 5px; border-bottom: 1px solid #222;" align="right" width="100">%%GLOBAL_ProductTotal%%</td>
    </tr>
  </table>