<table id="CheckoutCartGrid" style="width: 100%;" cellspacing="0" cellpadding="0">
  <tbody>
    <tr style="background-color:#f3e6e4;">
      <td style="padding: 10px 5px; font-weight: bold;" nowrap="nowrap">%%LNG_CartItems%%</td>
      <td style="padding: 10px 5px; font-weight: bold;" align="center" nowrap="nowrap" width="50">%%LNG_Qty%%</td>
      <td style="padding: 10px 5px; font-weight: bold;" align="center" nowrap="nowrap" width="100">%%LNG_ItemPrice%%</td>
      <td style="padding: 10px 5px; font-weight: bold;" align="center" nowrap="nowrap" width="100">%%LNG_ItemTotal%%</td>
    </tr>
  </tbody>
</table>