<h3 style="font-size:16px; margin-bottom: 10px; margin-top: 40px;">%%GLOBAL_ProductShipHeading%%</h3>

<table width="100%" cellspacing="0" cellpadding="0">
    <tr style="background-color: #f3e6e4">
        <td style="padding: 10px 5px; font-weight:bold" nowrap>%%LNG_ProductShipProductName%%</td>
        <td style="padding: 10px 5px; font-weight:bold" nowrap="nowrap" align="center" width="100">%%LNG_ProductShipProductSKU%%</td>
        <td style="padding: 10px 5px; font-weight:bold" nowrap="nowrap" align="center" width="100">%%LNG_ProductShipProductQuantity%%</td>
    </tr>
    %%GLOBAL_ProductShipProductRows%%
</table>
