<tr>
    <td style="padding:10px 5px; border-bottom:solid 1px #222">
        <strong>%%GLOBAL_ProductShipProductName%%</strong>
    </td>
    <td style="padding:10px 5px; border-bottom:solid 1px #222" width="100" align="center">%%GLOBAL_ProductShipProductSKU%%</td>
    <td style="padding:10px 5px; border-bottom:solid 1px #222" width="100" align="center">%%GLOBAL_ProductShipProductQuantity%%</td>
</tr>
