<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td style="padding: 10px 5px; border-bottom:solid 1px #222">
      <strong>%%GLOBAL_ProductName%%</strong>
    </td>
    <td style="padding: 10px 5px; border-bottom:solid 1px #222" width="100" align="center">%%GLOBAL_ProductQty%%</td>
  </tr>
</table>