{{#partial "page"}}
<div class="container">
    {{!-- components/common/breadcrumbs breadcrumbs=breadcrumbs --}}
    <h1 class="page-heading">{{lang 'account.returns.heading' }}</h1>
    {{> components/account/navigation account_page='returns'}}

    <main class="account account--fixedLarge">
        <div class="account-body">
            <section class="account-content">
                {{#if customer.returns}}
                    {{> components/account/returns-list returns=customer.returns}}
                {{else}}
                    {{> components/common/alert-info (lang 'account.returns.none')}}
                {{/if}}
            </section>
        </div>
    </main>
</div>

{{/partial}}
{{> layout/base}}
