// Account layouts
// -----------------------------------------------------------------------------
.body[class*="pages-account"], .body[class*="pages-auth"]  {
    .page-heading {
        text-align: center;
    }
}
  
  .account--fixed {
    @include breakpoint($screen-medium) {
        margin: 0 auto;
        @include grid-column(8);
        @include grid-push(2);
    }
  }
  
  .account--fixedSmall {
    @include breakpoint($screen-medium) {
        margin: 0 auto;
        @include grid-column(6);
        @include grid-push(3);
    }
  }
  
  .account--fixedLarge {
    @include breakpoint($screen-medium) {
        margin: 0 auto;
        @include grid-column(9);
        @include grid-push(1.5);
    }
  }
  
  .account-head {
    margin-bottom: 2.3em;
    text-align: center;
  
    .alertBox {
        padding-left: 2.3em;
        padding-right: 2.3em;
        text-align: left;
    }
  }
  
  .account-body {
    @include grid-container();
  }
  
  .account-content {
    @include grid-column(12);
  }
  
  .account-content--fixed {
  
    @include breakpoint($screen-medium) {
        @include grid-column(8);
    }
  }
  
  .account-content--fixedSmall {
  
    @include breakpoint($screen-medium) {
        @include grid-column(6);
    }
  }
  
  .account-sidebar {
    @include grid-column(12);
  
    @include breakpoint($screen-medium) {
        @include grid-column(4);
  
        .account-content--fixedSmall + & {
            float: right;
        }
    }
  }

// Account navigation
// -----------------------------------------------------------------------------

.navBar--account {
    display: none;

    @include breakpoint($screen-medium) {
        display: block;
    }
}

// Account list
// -----------------------------------------------------------------------------

.account-list {
    list-style: none;
    margin-left: 0;
}

.account-listItem {
    padding: 1.1em 0;
    position: relative;

    img {
        width: 100%;
    }

}

.account-listShipping {
    font-weight: bold;
    padding: 1.5em 0;

    .account-listShipping-title {
        margin: 0;
        text-transform: inherit;
    }
}

// Account product
// -----------------------------------------------------------------------------

.account-product-figure {
    margin-bottom: 1.5em;
    width: 70px;
    float: left;
    margin-right: 30px;
}

.account-product-download {
    border-radius: 50%;
    height: 33px;
    padding: 0;
    position: absolute;
    right: -(0.5em);
    top: -(0.5em);
    width: 33px;
    z-index: 1;

    .icon {
        height: 1em;
        margin-top: 0.25em;
        width: 1em;
    }

    svg {
        fill: $color-white;
    }
}

.account-product-body {
    overflow: hidden;
    padding-bottom: 2.66em;
    position: relative;

    @include breakpoint($screen-small) {
        padding-bottom: 0;
    }

    .definitionList {
        margin-bottom: 0;
    }
}

.account-product-title {
    margin: 0 0 0.25em;
    text-transform: inherit;

    > a {
        text-decoration: none;
    }

    + .definitionList {
        margin-top: 0.5em;
    }
}

.account-product-subtitle {
    color: $color-greyHeather;
    font-size: 1.125rem;
    margin: -(0.125em) 0 1em;
    text-transform: inherit;
}

.account-product-price {
    font-family: $heading-font-family;
    float: right;
    font-size: 1.125rem;
}

.account-product-description + .definitionList {
    margin: -(1em + 0.25em) 0 1em;
}

.account-product-refundQty {
    color: $color-greyHeather;
    margin-bottom: 0;
}

.account-product-details {
    @include grid-container();
    @include grid-collapse();
}

.account-product-detail {
    margin-bottom: 1em;

    @include grid-column(12);

    @include breakpoint($screen-small) {
        @include grid-column(4);
    }

    @include breakpoint($screen-large) {
        @include grid-column(1 of 3);
    }

    + .account-product-detail--full {

        @include breakpoint($screen-small) {
            margin-top: 1em;
        }
    }
}

.account-product-detail--large {

    @include breakpoint($screen-large) {
        @include grid-column(6);
    }
}

.account-product-detail--full {
    width: 100%;
}

.account-product-detail-heading {
    margin: 0 0 0.25em;
}


// Vertically aligned product view
// -----------------------------------------------------------------------------

.account-product--alignMiddle {
    display: table;
    width: 100%;

    .account-product-checkItem {
        display: table-cell;
        position: relative;
        vertical-align: middle;
        width: 2rem;

        @include breakpoint($screen-large) {
            left: -2.5rem;
        }

        // scss-lint:disable SelectorDepth, NestingDepth
        .form-label {
            height: 1em;
            margin: 0;
            padding: 0;
            width: 1em;
        }
    }

    .account-product-figure,
    .account-product-body {
        display: table-cell;
    }

    .account-product-figure {
        float: none;
        margin-right: 0;

        @include breakpoint($screen-large) {
            left: -2rem;
        }
    }

    .account-product-body {
        padding-left: 2rem;
        vertical-align: middle;

        @include breakpoint($screen-large) {
            padding-left: 0;
        }
    }
}


// Account product totals
// -----------------------------------------------------------------------------

.account-orderTotal {
    float: right;
    font-size: 1.125rem;
    margin-top: -(1em);
    width: 100%;
    margin-left: 0;
}

.account-orderTotal-key,
.account-orderTotal-value {
    margin: 0;
    padding: 1em 0;
    font-family: $heading-font-family;
}

.account-orderTotal-key {
    color: $color-greyDark;
    float: left;
    font-weight: normal;

    &:last-of-type {
        position: relative;
        top: 0.2em;
    }
}

.account-orderTotal-value {
    text-align: right;

    &:last-child {
        border-bottom: 0;
        font-size: 1.25rem;
    }
}


// Account status
// -----------------------------------------------------------------------------

.account-orderStatus {
    margin-left: 20px;
    float: left;
    @include breakpoint($screen-small) {
        margin-left: 0;
        @include grid-column(1 of 3)
    }
}

.account-returnStatus {
    margin-left: 0;
    margin-bottom: 10px;
    float: none;
}

.account-orderStatus-label {
    background-color: $color-pinkBright;
    color: $color-white;
    display: inline-block;
    font-family: $base-font-family;
    margin: 0 0 0.25em;
    padding: 0.25em 0.5em;
    @include breakpoint($screen-small) {
        width: 100%;
        text-align: center;
    }
}

.account-orderStatus-action {
    color: $color-greyDark;
    display: inline-block;
    font-size: 10px;
    margin-left: 0.5em;
    text-align: right;
    text-decoration: underline;
    vertical-align: top;
    margin-top: 4px;

    @include breakpoint($screen-small) {
        display: block;
        margin-left: 0;
    }

    &:hover {
        color: $color-greyDark;
    }
}


// Account pagination & panel
// -----------------------------------------------------------------------------

.account {

    .pagination {
        color: $color-greyHeather;
        margin-top: 2em;
        text-align: center;
    }
}


// Account inbox
// -----------------------------------------------------------------------------

.account-message {
    display: flex;
    flex-direction: column;
    @include breakpoint($screen-small) {
        flex-direction: row;
    }
    .is-read {
        color: $color-grey;
    }
}

.account-messageTimestamp {
    width: 100%;
    flex-shrink: 0;
    font-size: 12px;
    float: none;
    margin-right: 0;
    margin-top: 0;
    margin-left: 0;
    @include breakpoint($screen-small) {
        width: 30%;
        margin-right: 15px;
        margin-top: 15px;
    }
}


// Sidebar blocks
// -----------------------------------------------------------------------------

.account-sidebar-block {

    + .account-sidebar-block {
        margin-top: 2em;
    }

    .account-heading {
        margin-bottom: 0.5em;
    }

    [data-print-invoice] {
        margin-top: 0.5em;
    }
}

.account-order-address {
    list-style-type: none;
}

.account-reorder-form {
    display: inline-block;
}

.order-payments-description {
    color: $color-greyDark;
    font-weight: normal;
    margin-top: 1em;
}


// Product downloads
// -----------------------------------------------------------------------------

.account-downloads-summary {
    font-size: 1.125rem;
    padding-bottom: 1em;
}

.account-downloadsList {
    list-style-type: none;
}

.account-downloadsItem {
    margin-bottom: 1em;

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.account-downloadsItem-title {
    color: $color-greyDark;
    font-size: 1.125rem;
    margin-bottom: 0.125em;
    text-transform: inherit;
}

.account-downloadsItem-description {
    margin-bottom: 0;
}

.account-downloadsItem-availability {
    color: $color-greyDark;
}

// Misc
.forgot-password {
    margin-left: 10px;
    font-size: 12px;
}