.accordion {
  box-shadow: none;

  .navList {
      margin-bottom: 0;
  }
}

.accordion-content {
  border: 0;
  display: none;

  .form:only-child {
      margin-bottom: 0;
  }
  &.is-open {
      display: block;
  }
}

.accordion-title {
  margin: 0;
}

.accordion-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -1px;
  position: relative;
  text-decoration: none;
}


// Accordion nav list
// Used as navigation menu, for example: faceted search menu.

.accordion--navList {
  @include breakpoint($screen-medium) {
    
  }

  .sidebarBlock + & {
      @include breakpoint($screen-medium) {
          margin-top: 1em;
          border-top: 1px solid $color-greyHeather;
      }
  }

  .accordion-block {
    border-bottom: 1px solid $color-greyHeather;
    padding: 1em 0;
  }

  .accordion-content {
    padding: 1em 0 0 0;
  }

  .accordion-navigation {
      @include breakpoint($screen-medium) {
          background-position: right 0 top 50%;
          border: 0;
      }
  }

  .accordion-title {
      font-family: $base-font-family;
      font-weight: normal;
      padding: 1em 0;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;

      @include breakpoint($screen-medium) {
          margin-bottom: 0;
          margin-top: 0;
          padding: 0;
      }
  }

  .accordion-indicator {
      fill: $color-greyDark;
      @include square(1.2em);
  }

  .accordion-navigation-actions {
      right: 1em;
      top: 1em;

      @include breakpoint($screen-medium) {
          right: 0;
          top: 0;
      }
  }
}


// Accordion block
// Purpose: Child blocks of an accordion
.accordion-block:first-child {
  border-top: 1px solid $color-grayHeather;
}

.accordion-block:last-child {

  .accordion-navigation {
      border-bottom-width: 0;

      // scss-lint:disable NestingDepth
      &.is-open {
          border-bottom-width: 1px;
          border-radius: 0;
      }
  }
}

// Accordion navigation actions
// Action links, usually aligned to the right of .accordion-navigation
.accordion-navigation-actions {

  > a {
      color: $color-greyDark;
      vertical-align: middle;

      // scss-lint:disable NestingDepth
      &:hover {
          color: $color-greyDark;
      }
      // scss-lint:enable NestingDepth
  }
}
