// =============================================================================
// ADD RETURN REQUEST (CSS)
// =============================================================================


.account--addReturn {

    .table {
        display: block;
        margin-bottom: 2em;

        @include breakpoint($screen-small) {
            display: table;
            margin-bottom: 2em * 2;
            width: 100%;
        }

        // scss-lint:disable SelectorDepth, NestingDepth
        tr {
            display: block;
            padding: 1em 0;

            @include breakpoint($screen-small) {
                display: table-row;
                padding: 0;
            }
        }

        th,
        td {
            display: block;
            padding: 0;

            @include breakpoint($screen-small) {
                display: table-cell;
                padding-bottom: 0.5em;
                padding-top: 0.5em;
            }

            // scss-lint:disable NestingDepth
            + th,
            + td {
                padding-left: 0;

                @include breakpoint($screen-small) {
                    padding-left: 1em;
                }
            }
        }

        .return-itemTitle + .definitionList {
            margin: 10px 0;
            font-size: 14px;
            display: flex;
            flex-wrap: wrap;
            dt {
                width: 100px;
            }
            dd {
                width: calc(100% - 100px);
                font-weight: normal;
            }
        }

        .return-itemPrice {
            @include breakpoint($screen-small) {
                text-align: center;
            }
        }

        .return-itemQuantity {
            @include breakpoint($screen-small) {
                select {
                    margin-left: auto;
                    margin-bottom: 0;
                }
            }
        }
    }

    .table-thead {
        display: none;

        @include breakpoint($screen-small) {
            display: table-header-group;
        }

        // scss-lint:disable SelectorDepth, NestingDepth
        th {
            font-size: 1.125rem;
        }

        th:first-child {
            width: 60%;
        }
    }

    .table-tbody {
        display: block;

        @include breakpoint($screen-small) {
            display: table-row-group;
        }
    }
}


.return-itemName {
    font-size: 1.125rem;
    font-weight: bold;

    @include breakpoint($screen-small) {
        font-size: $base-font-size;
    }
}

.return-itemPrice {
    margin-bottom: 1.25em;
    font-family: $heading-font-family;
    font-weight: bold;

    @include breakpoint($screen-small) {
        margin-bottom: 0;
        text-align: center;
    }
}

.return-itemQuantity {

    .form-label {
        display: inline;
        margin-right: 0.25em;

        @include breakpoint($screen-small) {
            @include u-hidden("visually");
        }
    }
}






.account--addReturn-row {
    @include grid-container();
    @include grid-collapse();
}

.account--addReturn-column {
    @include grid-column(12);

    @include breakpoint($screen-small) {
        @include grid-column(6);
    }
}
