// =============================================================================
// ADDRESS BOX (CSS)
// =============================================================================

// Address layout
// -----------------------------------------------------------------------------
//
// 1. Using display: inline-block; to vertically align blocks.
//    Font-size gets redefined under the .address block.
//
// -----------------------------------------------------------------------------

.addressList {
    list-style: none;
    @include grid-container();
    @include grid-collapse();
}

.address {
    display: inline-block;
    padding: 0 0.5em;
    vertical-align: top;
    width: 100%;

    @include breakpoint($screen-small) {
        @include grid-column(6);
    }
}


// Address
// -----------------------------------------------------------------------------
//
// 1. Redefine the font-size as we're removing white-space on the parent by
//    reducing the size to 0.
// 2. Adding a min-height to improve the consistency of the address blocks.
// 3. On larger screens we position: absolute; the .form-actions so they're
//    consistently in line. We need to adjust padding to accommodate this.
//
// -----------------------------------------------------------------------------

.panel--address {
    font-size: $base-font-size; // 1
    position: relative;

    .panel-body {
        min-height: 250px; // 2
        padding: 1em;

        @include breakpoint($screen-small) {
            padding: 1em 1em (1em + 2em); // 3
        }
    }

    .form-actions {
        margin-bottom: -(0.5em);
        margin-top: 1em;
        text-align: left;

        @include breakpoint($screen-small) { // 3
            bottom: 1em;
            width: auto;
        }

        // scss-lint:disable SelectorDepth, NestingDepth
        .button {
            margin-bottom: 0.5em;

            + .button {
                margin-left: 0;
                margin-top: 0;

                @include breakpoint($screen-small) {
                    margin-left: 0.25em;
                }
            }
        }
        // scss-lint:enable SelectorDepth, NestingDepth
    }
}

.address-title {
    margin: 0 0 0.5em;
    text-transform: none;
}

.address-details {
    list-style: none;
    margin: 0 0 0.5em;
}

.address-details--postal {
}

.address-label,
.address-description {
    display: inline-block;
    font-size: $base-font-size;
    margin: 0;
}

.address-label {
    color: $color-greyDark;
    font-weight: normal;
}

.panel--newAddress {
    display: block;
    text-align: center;
    text-decoration: none;

    &:hover {

        // scss-lint:disable SelectorDepth, NestingDepth
        .address-title {
            color: $color-greyDark;
        }
        // scss-lint:enable SelectorDepth, NestingDepth
    }

    .panel-body {
        background-color: transparent;
        display: block;
    }

    .address-title {
        margin-bottom: 0;
        transition: all 0.15s ease;
    }
}

.address-addNew {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-55%);
}

.address-symbol {
    font-size: 3em;
    line-height: 1;
}
