// =============================================================================
// ALERTS
// =============================================================================

.alertBox {
  color: $color-greyDark;
  background-color: $color-pinkLight;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-size: 13px;
}

.alertBox-icon {
  margin-right: 8px;
  .icon {
      @include square(18px);
  }
}

.alertBox-message {
  margin-bottom: 0;
}

.alertBox--info {
  .alertBox-close {

      // scss-lint:disable SelectorDepth, NestingDepth
      svg {
          fill: $color-infoLight;
      }
  }
}
