.apple-pay-checkout-button {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% 60%;
    cursor: pointer;
    display: none;
    max-height: 64px;
    min-height: 32px;
    min-width: 134px;
    padding: 1em;
    @if stencilString("applePay-button") == "white" {
        background-color: $color-white;
        background-image: -webkit-named-image(apple-pay-logo-black);
    }
    @else if stencilString("applePay-button") == "white-border" {
        background-color: $color-white;
        background-image: -webkit-named-image(apple-pay-logo-black);
        border: 0.5px solid $color-black;
    }
    @else {
        background-color: $color-black;
        background-image: -webkit-named-image(apple-pay-logo-white);
    }
}

.cart-additionalCheckoutButtons {
    .apple-pay-checkout-button {
        margin-top: 0.5em;
    }
}

.apple-pay-supported {
    .apple-pay-checkout-button {
        display: block;

        @include breakpoint($screen-small) {
            display: inline-block;
            float: right;
        }
    }
}

.previewCartCheckout {
    .apple-pay-checkout-button {
        float: none;
        margin-top: 0.5em;
    }
}
