// =============================================================================
// Banners Component
// =============================================================================


// Banners
// -----------------------------------------------------------------------------
//
// Purpose: Control the look and feel of the top and bottom site banners
//
// -----------------------------------------------------------------------------

.banners {
    height: $banner-height;
    background-color: $color-pinkLight;
    padding: 0.5em 0;
    text-align: center;
    text-transform: uppercase;

    p {
        font-size: 0.85em;
        font-weight: bold;
    }

    p:last-child {
        margin-bottom: 0;
    }

    a {
        text-decoration: underline;
        &:hover {
            color: black;
            text-decoration: none;
        }
    }
}

.banner {
    @include grid-container();
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;

    + .banner {
        margin-top: 1em;
    }
}
