// Blog post
// -----------------------------------------------------------------------------

.blog {
  margin-bottom: 1em;

  @include breakpoint($screen-medium) {
      margin: auto;
      width: 100%;
  }

  + .blog {
      margin-top: 2em;
      padding-top: 2em;
  }

  .tags {
      margin-top: 2em;
      text-align: center;
  }

  .socialLinks {
      text-align: center;
  }

  // scss-lint:disable SelectorFormat
  .addthis_toolbox {
      margin-top: 2em;
  }
  // scss-lint:enable SelectorFormat
}

.blog-title {
  font-size: 1.5rem;
  margin: 0 1em 0.25em;

  a {
      text-decoration: none;
  }
}

.blog-date,
.blog-author {
  color: $color-greyDark;
  text-align: center;
}

.blog-author {
  margin-bottom: 1em + 1em;
}

.blog-post {
  font-size: 1.125rem;
  text-align: left;
}

.blog-thumbnail {
  margin: 0 auto (1em * 2);
  position: relative;

  img {
      @include lazy-loaded-img;
  }

  &:after {
    content: '';
    display: block;
    height: 0;
    width: 100%;
    padding-bottom: get-padding(stencilString('blog_size'));
  };
}

.blog-post-figure {
  display: block;
  margin: auto;
  text-align: center;

  @include breakpoint($screen-medium) {
      @include grid-column(8);
  }
}

.blog-post-body {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;

  @include breakpoint($screen-small) {
      @include grid-column(10);
  }

  @include breakpoint($screen-medium) {
      @include grid-column(8);
  }

  @include breakpoint($screen-large) {
      @include grid-column(6);
  }
}