// =============================================================================
// BLOCKER (CSS)
//
// Purpose: Position .blocker element above another element to prevent user event
// =============================================================================


.blocker {
    background: rgba($color-black, 0.5);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 500;
}

.blocker-container {
    position: relative;
}
