// =============================================================================
// BRAND GRID (CSS)
// =============================================================================


// Brand grid view
// -----------------------------------------------------------------------------
//
// 1. Re-set the font-size, as we're reducing it to 0 in the .brandGrid class.
//
// -----------------------------------------------------------------------------

.brandGrid {

    list-style-type: none;
    @include grid-container();
    font-size: 0; // 1
    margin-bottom: 1em;

    .brand {
        @include grid-column(6);
        display: inline-block;
        font-size: $base-font-size; // 1
        vertical-align: top;

        @include breakpoint($screen-small) {
            @include grid-column(4);
        }

        @include breakpoint($screen-medium) {
            @include grid-column(3);
        }

        // scss-lint:disable SelectorDepth, NestingDepth
        .card-title {
            text-align: center;
        }
    }
}
