.brand-image-container {
    position: relative;
    max-width: 100px;

    img {
        @include lazy-loaded-img;
    }

    &:after {
        content: '';
        display: block;
        height: 0;
        width: 100%;
        padding-bottom: get-padding(stencilString('thumb_size'));
    }
}

.brand {
    .card-img-container {
        max-width: 190px;
        &:after {
            content: '';
            display: block;
            height: 0;
            width: 100%;
            padding-bottom: 250px;
        }
    }
}