// =============================================================================
// BREADCRUMBS (CSS)
// =============================================================================
//
// -----------------------------------------------------------------------------


.breadcrumbs {
  display: none;
  @include breakpoint($screen-small) {
      display: block;
  }
}

.breadcrumb {
  font-family: $base-font-family;
  font-size: $base-font-size*0.75;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  float: none;
  line-height: 2em;
  color: $color-greyDark;
  a {
    color: $color-greyDark;
  }

  &.is-active {

      // scss-lint:disable NestingDepth
      > .breadcrumb-label {
          color: $color-pinkBright;
          cursor: text;
      }
  }

  &:before {
    content: "/";
    color: $color-greyDark;
    padding: 0 1px;
  }

  &:first-child {
      display: none;
  }
  &:last-child {
    color: $color-pinkBright;
  }
  &:nth-child(2) {
      &:before {
        display: none;
      }
  }

}

.breadcrumb-label {
  text-decoration: none;
}
