// =============================================================================
// BUTTONS (CSS)
// =============================================================================

.button {
  line-height: 1rem;
  transition: all 0.15s ease;

  + .button {
      margin-left: 0;

      @include breakpoint($screen-medium) {
          margin-left: 0.5em;
      }
  }
}

.button[disabled] {
  cursor: not-allowed;
}

.button--icon {

  svg {
      fill: $color-greyDark;
  }
}
