// =============================================================================
// CART (CSS)
// =============================================================================
//
// 1. Override server-generated inline-css
//
// -----------------------------------------------------------------------------

// Cart variables
// -----------------------------------------------------------------------------

$cart-item-spacing:                     16px;
$cart-thumbnail-height:                 150px;

// Cart layout
// -----------------------------------------------------------------------------
//
// 1. On mobile and tablet we need to re-structure the table to appear more like
//    a list, then visually show it as a table on larger screens only.
//
// 2. Hide the table headings on mobile and tablet, show them for larger screens.
//
// -----------------------------------------------------------------------------

.cart {
    display: block; // 1
    margin-bottom: 1em;
    width: 100%;

    @include breakpoint($screen-medium) {
        display: table; // 1
    }
}

[data-cart-page-title] {
    font-size: 26px;
    line-height: 26px;
}

.cart-header {
    display: none; // 2

    @include breakpoint($screen-medium) {
        display: table-header-group; // 2
        text-align: left;
    }
}

.cart-header-item {
    padding-bottom: 1em;

    &:last-child {
        text-align: right;
    }
}

.cart-list {
    display: block; // 1
    border-top: 1px solid $color-greyHeather;

    @include breakpoint($screen-medium) {
        display: table-row-group; // 1
    }
}

.cart-item {
    clear: both;
    display: block; // 1
    padding: $cart-item-spacing 0;
    border-bottom: 1px solid $color-greyHeather;

    @include breakpoint($screen-small) {
        @include clearfix;
        padding-left: 25%;
    }

    @include breakpoint($screen-medium) {
        display: table-row; // 1
        padding-left: 0;

        &:before,
        &:after {
            display: none;
        }
    }
}

.cart-item-block {
    display: block; // 1

    @include breakpoint($screen-medium) {
        display: table-cell; // 1
    }

    .definitionList {
        margin-bottom: 0.25em;
    }
}

.cart-item-figure {
    height: $cart-thumbnail-height;
    margin-bottom: $cart-item-spacing;
    position: relative;
    width: (100%/3);
    float: left;

    @include breakpoint($screen-small) {
        height: 100px;
        margin-left: -33%;
        margin-bottom: 0;
        width: (100%/4);
    }
    
    @include breakpoint($screen-medium) {
        margin-left: 0;
        width: (100%/6);
        float: none;
    }

    &:after {
        content: '';
        display: block;
        height: 0;
        width: 100%;
        padding-bottom: get-padding(stencilString('thumb_size'));
    }
}

.cart-item-fixed-image {
    width: 100%;
}

.cart-item-image {
    @include lazy-loaded-img;

    @include breakpoint($screen-medium) {
        margin-left:0;
    }
}

.cart-item-title {
    height: $cart-thumbnail-height;
    display: table-cell;
    padding-left: $cart-item-spacing;
    margin-bottom: $cart-item-spacing;
    width: calc(200%/3);

    @include breakpoint($screen-small) {
        display: block;
        height: auto;
        overflow: hidden;
        width: 100%;
        padding-left: 0;
        margin-bottom: $cart-item-spacing;
    }
    
    @include breakpoint($screen-medium) {
        display: table-cell;
        width: (100%/3);
        float: none;
        padding: $cart-item-spacing;
    }
}

.cart-item-info {
    clear: both;
    width: 100%;
    display: flex;
    align-items: center;

    @include breakpoint($screen-small) {
        display: table-cell;
        clear: none;
        float: left;
        overflow: hidden;
        width: (100%/3);
        
        + .cart-item-info {
            margin-top: 0;
        }
    }
    
    @include breakpoint($screen-medium) {
        width: (100%/6);
        float: none;
        &:last-child {
            text-align: right;
        }
    }

    + .cart-item-info {
        margin-top: 0.5em;
    }
}


// Cart content
// -----------------------------------------------------------------------------

.cart-header-quantity,
.cart-item-quantity {

    @include breakpoint($screen-medium) {
        text-align: center;
    }
}

.cart-item-quantity {

    .form-increment {
        display: flex;
        align-items: center;

        @include breakpoint($screen-medium) {
            margin-left: 0;
            justify-content: center;
        }
        .button {
            padding: 0.5em;
            &[data-action="dec"] {
                margin: 0.5em 0.5em 0.5em 0em
            }
            &[data-action="inc"] {
                margin: 0.5em 0em 0.5em 0.5em
            }
        }
    }

}

.cart-item-label {
    float: left;
    margin-bottom: 0.25em;
    text-align: right;
    width: (100%/3);
    font-size: 1rem;
    text-transform: none;

    @include breakpoint($screen-small) {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
    }

    @include breakpoint($screen-medium) {
        display: none;
    }
}

.cart-item-value {
    padding-left: $cart-item-spacing;
    font-family: $heading-font-family;

    @include breakpoint($screen-small) {
        padding-left: 0;
    }
}

.cart-item-brand {
    color: $color-greyHeather;
    margin-bottom: 0.125em;
}

.cart-item-name {
    font-size: 1.125rem;
    margin: 0;

    + .definitionList {
        margin-top: 0.25em;
    }
}

.cart-item-options--giftWrapping {
    margin-top: 0.5em + 0.25em;

    .cart-item-option-description {
        color: $base-font-color;
    }
}

.cart-remove {
    background-color: $color-grayHeather;
    border-radius: 50%;
    cursor: pointer;
    float: right;
    height: 18px;
    margin-left: 8px;
    padding: 0.125em;
    transition: background-color 0.15s ease;
    width: 18px;

    @include breakpoint($screen-small) {
        margin-left: 1em;
    }

    &.cart-remove--spacer {
        visibility: hidden;
    }

    > svg {
        fill: $color-greyDark;
    }
}

[data-cart-status] {
    margin-bottom: 30px;
}

// Cart totals
// -----------------------------------------------------------------------------

.cart-totals {
    list-style-type: none;
    margin-bottom: $cart-item-spacing;
    text-align: right;
    width: 100%;

    @include breakpoint($screen-small) {
        float: right;
        // Empirical, aligns with left qty button
        width: 52%;
    }
    
    @include breakpoint($screen-medium) {
        margin-bottom: 1em;
        // Empirical, aligns with left qty button
        width: 30%;
        
    }

    @include breakpoint($screen-large) {
    }
}

.cart-total {
    display: flex;
    justify-content: flex-start;
    border-bottom: 0;
    position: relative;

    @include breakpoint($screen-small) {
        justify-content: space-between;
    }

    .form-input {
        display: inline-block;
        height: 32px;
        padding: 0.33em;
        vertical-align: top;
    }

    .form-select {
        background-position: right 5px top 7px;
        background-size: 20px 20px;
        height: 32px;
        margin-bottom: 0.5em;
        padding: 0.33em 0.5em;
    }

    .form-inlineMessage {
        text-align: left;
    }
}

.cart-total-label {
    color: $color-greyDark;
    width: calc(100%/3);
    @include breakpoint($screen-small) {
        width: auto;
    }

    @include breakpoint($screen-medium) {
        display: block;
        padding-left: 0;
        text-align: left;
    }
}

.cart-total-value {
    text-align: left;
    font-family: $heading-font-family;

    @include breakpoint($screen-small) {
        text-align: right;
    }

    @include breakpoint($screen-medium) {
    }
}

.cart-total-label,
.cart-total-value,
.cart-total-link {
    float: left;
    padding: 0.33em 0 0.33em $cart-item-spacing;

    @include breakpoint($screen-medium) {
        padding: 10px 0.25em 10px 0;
    }
}

.cart-total-label--shipping {
    position: absolute;
    padding-top: 0;
    padding-bottom: 0;

    @include breakpoint($screen-medium) {
        top: 5px;
    }
}

.cart-total-link--shipping {
    display: flex;
    margin-left: 33.3%; // Flexbox trick, empirical
    @include breakpoint($screen-small) {
        margin-left: auto; //Flexbox trick
    }
}

.cart-total-coupon--link {
    padding: 0;
    text-decoration: underline;
    font-size: 10px;
}

.cart-total-grandTotal {
    font-size: 1.25rem;
    padding-bottom: 0.125em;
    padding-top: 0.125em;
    position: relative;

    @include breakpoint($screen-medium) {
        padding: 1em 0;
        top: -0.366em;
    }
}


// Cart actions
// -----------------------------------------------------------------------------

.coupon-code-add,
.coupon-code-cancel,
.shipping-estimate-show,
.shipping-estimate-hide,
.gift-certificate-add,
.gift-certificate-cancel {
    color: $color-greyDark;
    padding: 0;
    text-decoration: underline;
    transition: color 0.15s ease;

    &:hover {
        color: $color-greyDark;
    }
}

.coupon-code-cancel,
.shipping-estimate-hide {
    font-style: italic;
}

.coupon-code-cancel, .shipping-estimate-hide {
    align-self: flex-start;
    margin: 8px 0 16px;
    @include breakpoint($screen-small) {
        align-self: flex-end;
    }
    @include breakpoint($screen-medium) {
        margin: 17px 0 16px;
    }
}

.coupon-form,
.cart-gift-certificate-form {
    display: flex;
    flex-direction: column;
    @include clearfix;
    margin-bottom: 1em;

    .form-input,
    .button {
        float: left;
    }

    .form-input {
        // width: 78%;
    }

    .button {
        // margin: 0 0 0 2%;
        // padding-left: 0.5em;
        // padding-right: 0.5em;
        // width: 20%;
    }
}

.shipping-estimator {
    @include breakpoint($screen-small) {
        width: 100%;
    }
}

.shipping-estimate-value {
    font-family: $heading-font-family;
}

.shipping-estimate-show {
    display: flex;
}

.shipping-quotes {
    font-size: 12px;
    text-align: left;
    margin: 24px 0 12px;
}


.estimator-form {
    margin-bottom: 0;
    text-align: left;

    .form-input {
        margin-bottom: 0.5em;
        width: 100%;
    }

    .button--primary {

    }
}

.estimator-form-label {
    font-weight: normal;
    margin-bottom: 0;
    text-align: left;

    .form-label {
        line-height: 32px;
        margin-bottom: 0;
    }
}

.estimator-form-label-text {
    margin-left: 10px;
}

.estimator-form-input {
    margin-bottom: 1em;

    .form-input,
    .form-select {
        margin-bottom: 0;
        width: 100%; //Fix for slect pushing out the flex box
    }
}

.estimator-form-input--price {
    width: 30%;
}

.estimator-form-row {
    dl {
        display: flex;
    }
    .estimator-form-input--price {
        margin-left: 10px;
    }
}

.estimator-form-toggleUPSRate {
    display: block;
    margin-bottom: 1em;
}

.cart-actions {
    @include clearfix;
    clear: both;

    .button {
        display: block;
        margin-bottom: 0;

        @include breakpoint($screen-small) {
            display: inline-block;
            float: right;
        }
    }

    .checkoutMultiple {
        clear: right;
        display: block;
        float: right;
        padding-top: 0.25em;
        text-decoration: underline;
    }
}

.cart-additionalCheckoutButtons { // 1
    @include clearfix;

    // scss-lint:disable SelectorFormat
    .FloatRight {
        @include clearfix;

        // scss-lint:disable SelectorDepth, NestingDepth
        p {
            // scss-lint:disable ImportantRule
            float: none !important;
            margin: 0.33em 0;
            text-align: right;
        }

        div {
            float: right;
        }
    }

    .CheckoutButton {
        margin-bottom: 1em;

        &:first-child {
            margin-top: 1em;
        }

        &:last-child {
            margin-bottom: 1em;
        }
    }
}


// Delete modal
// Classes are weird because it is a library doing the work

.swal2-icon.swal2-warning {
    color: $color-pinkBright;
    border-color: $color-pinkBright;
}