.pages-category, .pages-search {
  .page {
    @include grid-collapse;
    @include grid-media($neat-grid-medium) {
      @include grid-collapse;
    }
    margin-top: 10px;
  }
  .breadcrumbs {
    margin-bottom: 1.8em;
    @include grid-media($neat-grid-medium) {
      @include grid-container();
    }
  }
  .category-head-container {
    @include grid-container();
    @include grid-media($neat-grid-medium) {
      @include grid-container();
      @include grid-collapse;
    }
  }
  .category-head {
    @include grid-media($neat-grid-medium){
      @include grid-column(9);
      @include grid-push(3);
    }
  }
  .category-head__title-sort {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    align-items: flex-end;
    .actionBar {
      display: none;
      @include grid-media($neat-grid-medium) {
        display: block;
      }
    }
  }

  .page-heading {
    margin-bottom: 0;
    font-size: 1.7em;
  }
  .actionBar {
    select {
      margin-bottom: 0;
      width: 100%;
      @include breakpoint($screen-medium) {
        width: auto;
      }
    }
  }
}

.category-sort-wrapper {
  position: relative;
  svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    pointer-events: none;
  }
}

.category-hero {
  @include aspect-ratio(1440/500);
  max-height: 500px;
  margin-bottom: 10px;
  margin-top: -60px;
  @include breakpoint($screen-medium) {
    margin-top: -80px;
  }
}