.category-nav {

}

.category-nav__sort-filter {
  border: 1px solid $color-greyHeather;
  padding: 20px;
  display: none;
  margin-top: 16px;
  position: absolute;
  z-index: 2; // To stay on top of product badges
  width: 100%;
  background: $color-white;
  &.is-open {
    display: block;
  }
  @include breakpoint ($screen-medium) {
    border: none;
    padding: 0;
    display: block;
    margin-top: 0px;
    position: static;
  }
  .actionBar {
    @include breakpoint ($screen-medium) {
      display: none;
    }

  }

}

// Mobile
.category-mobile-nav {
  display: block;
  @include breakpoint ($screen-medium) {
    display: none;
  }
}


.category-mobile-nav__controls {
  display: flex;
  select {
    margin-bottom: 0;
  }
}

.category-mobile-nav__wrapper {
  position: relative;
  flex: 1 0 auto;
  margin-right: 40px;
  svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    pointer-events: none;
  }
}

.category-mobile-nav__select {
  width: 100%;
}

.category-mobile-nav__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: auto;
  min-height: 36px;
  &--bar {
    margin: 3px 0;
    height: 1px;
    background-color: $color-greyDark;
    &-1 {
      width: 24px;
    }
    &-2 {
      width: 15px;
    }
    &-3 {
      width: 6px;
    }
  }
}

// Dekstop
.category-desktop-nav {
  display: none; 
  @include breakpoint ($screen-medium) {
    display: block;
  }
}