// =============================================================================
// This component handles both the optimized checkout and default checkout
// Since we don't have control over the checkout template,
// the selectors in this file will be a litle strange
// =============================================================================

// =============================================================================
// IMPORTANT DISCLAIMER (from BC)
// Please do not nest elements within class selectors, and do not use class selectors other than those given below.
// Future support is guaranteed only if class selectors' structure and naming are left unchanged.
// =============================================================================

// Base styles
.CheckoutRedeemCoupon {
  display: none;
}

.redeemable-label {
  font-size: 0;
  &::before {
    content: 'Promo';
    font-size: 1rem;
  }
}

label, .form-label, .form-checkbox+.form-label, .form-radio+.form-label {
  font-size: 0.85rem;
  text-transform: none;
}

.customer-continue-button {
  text-decoration: underline;
}

.customerView {
  flex-wrap: wrap;
  justify-content: space-between;
  .customerView-body {
    width: auto;
    margin-bottom: 15px;
  }
}

.customerView-actions {
  margin-top: 0;
}

//
// Header Section
// Background, Logo Position
// -----------------------------------------------------------------------------

*:focus {
  outline-color: $color-greyDark;
}

.header {
  position: static;
  top: auto;
  border-color: $color-greyHeather;
}

.optimizedCheckout-header, .header {
  position: relative;
  background-color: $color-pinkCross;
  // scss-lint:disable StringQuotes
  // scss-lint:enable StringQuotes
  background-size: cover;
  border-color: $color-greyHeather;
  color: $color-white;

  min-height: 9.23077rem; // From the pre-loaded optimized checkout styles

  @include breakpoint($screen-large) {
      text-align: left;
  }
}


.checkoutHeader-logo, .header-logo {
  position: absolute;
  @include square(140px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

// Optimized checkout
.checkoutHeader-logo {
  bottom: -65px;
  @media (min-width: 968px) {
    transform: translateX(0);
    left: auto;
  }
}


// Multi step checkout logo
.header-logo {
  bottom: -151px;
  padding: 0;
  margin-bottom: 0;
  margin-left: 0;
  @media (min-width: 551px) {
    bottom: -108px;
  }
  @media (min-width: 801px) {
    transform: translateX(0);
    left: 0%;
  }
}

.header-logo img {
  max-height: 200px;
}

#Header {
  position: static;
}

#Header > .inner {
  position: relative;
  padding: 1.5rem;
  margin: 0 auto;
  max-width: 92.30769rem;
  @media (min-width: 551px) {
    padding: 3rem;
  }
}

.header-logo h1 {
  font-size: 2.76923rem;
  color: inherit;
  margin-bottom: 0;
  word-wrap: break-word;
  letter-spacing: 9px;
}

.header-logo a {
  color: $color-white;
}

.CreateAccount {
  float: right;
  ul {
    list-style-type: disc;
    margin-bottom: 16px;
  }
}

.HorizontalFormContainer p.Submit {
  padding-top: 0;
}

#ChooseShippingProvider .BlockContent {
  padding-bottom: 32px;
}

p.submit {
  padding-top: 20px;
}

.InfoMessage {
  background-color: $color-pinkLight;
  margin: 0 0 20px;
}

.multiStep li h4 {
  font-size: 14px;
   font-family: $base-font-family;
}

.multiStep li.ActivePage h4 {
  border-bottom: 4px solid $color-greyHeather;
  margin-bottom: calc(0.85em + 16px); // compensate for active state border
}

.BillingDetails h4, .ShippingDetails h4 {
  margin-bottom: 0;
}

.ExpressCheckoutBlock {
  border-bottom: none;
}

[action*="process_payment"] dt {
  display: flex;
  flex-direction: row-reverse;
  .Required {
    color: $color-greyDark;
  }
}

//
// Primary and Secondary Headings
// Text Color & Typography
// .optimizedCheckout-headingPrimary styles top-level headings.
// .optimizedCheckout-headingSecondary styles certain lower-level elements, such as descriptions of cart items.
// -----------------------------------------------------------------------------

.TitleHeading {
  @include u-hidden("visually");
  margin-top: 40px;
}

.optimizedCheckout-headingPrimary, .TitleHeading {
  color: $color-greyDark;
}

.optimizedCheckout-headingSecondary, h3 {
  color: $color-greyDark;
}

//
// Body
// Background & Shipping Method Overlay
// -----------------------------------------------------------------------------

body {
  background-color: $color-white;
  color: $color-greyDark;
}

.optimizedCheckout-overlay {
  background-color: $color-white;
  border-color: $color-greyHeather;
  color: $color-greyDark;
}

//
// Primary & Secondary Content
// Text Color & Typography
// .optimizedCheckout-contentPrimary styles body text in the Order Summary/Order Confirmation; drop-down-list items; and text that summarizes completed steps.
// .optimizedCheckout-contentSecondary styles check boxes' text labels, and lower-level text in the Order Summary.
// -----------------------------------------------------------------------------

.optimizedCheckout-contentPrimary {
  color: $color-greyDark;
}

.optimizedCheckout-contentSecondary {
  color: $color-greyDark;
}

.layout-main, .main {
  margin-top: 80px;
}

.layout-cart {
  page-break-before: avoid;
}

//
// Order Summary (Mobile Drawer & Modal)
// Background Color
// -----------------------------------------------------------------------------

.cart-header-link {
  text-decoration: underline;
}

.optimizedCheckout-orderSummary {
  background-color: $color-white;
  border-color: $color-greyHeather;
  box-shadow: 0 1px 4px transparentize($color-greyHeather, 0.4);
}

.optimizedCheckout-orderSummary-cartSection {
  border-color: $color-greyHeather;
}

.optimizedCheckout-checkoutStep {
  border-color: $color-greyHeather;
}

// Remove promode code link
[data-test="cart-price-callback"] {
  text-transform: capitalize;
  text-decoration: underline;
}

//
// Checkout Steps
// Background & Text Color
// Styles the large step-number indicators on the page's left side.
// -----------------------------------------------------------------------------

.optimizedCheckout-step, .icon-add {
  background-color: $color-pinkBright;

  &::before {
      color: $color-white;
      line-height: 1.8em;
  }

  svg {
      fill: $color-white;
  }
}

//
// Form Labels
// Text Color
// Styles text labels on form fields.
// -----------------------------------------------------------------------------

.optimizedCheckout-form-label {
  color: $color-greyDark;
}

//
// Form Input
// Background, Border, Shadow and Text Color
// Styles form fields.
// -----------------------------------------------------------------------------

$optimizedCheckout-input-boxShadow: inset 0 1px 1px $color-offWhite;
$optimizedCheckout-input--focus-boxShadow: 0 0 3px transparentize($color-greyDark, 0.4);
$optimizedCheckout-input--error-boxShadow: 0 0 3px transparentize($color-error, 0.4);

.optimizedCheckout-form-input,
.optimizedCheckout-form-select {
  background-color: $color-white;
  border-color: $color-greyHeather;
  color: $color-greyDark;

  &::placeholder {
      color: $color-greyHeather;
  }

  .form-field--error & {
      background-color: $color-white;
      border-color: $color-error;
  }
}

.form-field--error .form-label {
  color: $color-error;
}

.optimizedCheckout-form-input:focus,
.optimizedCheckout-form-select:focus,
.optimizedCheckout-form-select:hover {
  background-color: $color-white;
  border-color: $color-greyDark;
}

.optimizedCheckout-form-label::before {
  .optimizedCheckout-form-radio + &,
  .optimizedCheckout-form-checkbox + & {
      background-color: $color-white;
      border-color: $color-greyHeather;
      opacity: 1;
  }

  .optimizedCheckout-form-radio:checked + &,
  .optimizedCheckout-form-checkbox:checked + & {
      background-color: $color-greyDark;
      border-color: $color-greyDark;
      box-shadow: none;
  }

  .optimizedCheckout-form-radio:focus + &,
  .optimizedCheckout-form-checkbox:focus + & {
      border-color: $color-greyDark;
  }
}

//
// Discount Banners
// Background & Text & Icon Color
// Styles discount banners.
// -----------------------------------------------------------------------------

.optimizedCheckout-discountBanner {
  background-color: $color-offWhite;
  color: $color-greyDark;

  svg {
      fill: $color-greyDark;
  }
}

//
// Form Checklist (Shipping / Payment methods)
// Background & Border & Text Color
// Styles form checklists
// -----------------------------------------------------------------------------

.optimizedCheckout-form-checklist {
  background-color: $color-white;
  border-color: $color-greyHeather;
  color: $color-greyDark;
}

.optimizedCheckout-form-checklist-item {
  background-color: $color-white;
  border-color: $color-greyHeather;
}

.optimizedCheckout-form-checklist-item:hover,
.optimizedCheckout-form-checklist-item--selected {
  background-color: lighten($color-pinkLight, 10%);
  border-color: $color-greyHeather;
}

.optimizedCheckout-form-checklist-checkbox {
  ~ .form-label::after,
  ~ .form-label::before {
      background-color: $color-white;
      border-color: $color-greyHeather;
  }

  &:focus ~ .form-label {
      box-shadow: inset 0 0 0 1px $color-greyDark;
  }

  &:checked ~ .form-label::before {
      border-color: $color-greyDark;
  }

  &:checked ~ .form-label::after {
      background: $color-greyDark;
  }
}

//
// Loading Toaster
// Background & Text Color
// Styles the Loading Toaster
// -----------------------------------------------------------------------------

.optimizedCheckout-loadingToaster {
  background-color: $color-greyDark;
  color: $color-white;
}

// Numeral styles
// -----------------------------------------------------------------------------

.cart-priceItem-value, .product-price, .shippingOption-price {
  font-family: $heading-font-family;
}

// Thank you page styles
// -----------------------------------------------------------------------------
.socialBadges {
  display: none;
}
.orderConfirmation-section {
  a {
    text-decoration: underline;
    &.button {
      text-decoration: none;
    }
  }
}

// Mutli address selection view changes
// -----------------------------------------------------------------------------
#multiAddressForm {
  div.selector {
    width: auto;
    span {
      white-space: normal;
    }
  }

  tr {
    display: flex;
    flex-direction: column;
    @include breakpoint($screen-small) {
      display: table-row;
    }
  }
  td {
    padding: 0;
    margin-bottom: 0;
    @include breakpoint($screen-small) {
      padding: 10px 0;
      margin: 20px 0;
    }
    &.Odd {
      margin-top: 0;
      @include breakpoint($screen-small) {
        margin-top: 20px;
      }
    }
  }

  thead {
    display: none;
    @include breakpoint($screen-small) {
      display: table-header-group;
    }
  }
}


// Other multi address checkout overrides
// -----------------------------------------------------------------------------

body {
  font-family: $base-font-family;
}

.Content h2 {
  font-family: $heading-font-family;
  margin-right: 50px; // Prevents overlap with '+' icon
}

.ShippingAddressList li {
  margin-right: 30px;
}

.TabNav li a {
  height: auto;
}

.TabNav li a
.ul.ShippingAddressList h4 {
  margin-bottom: 0;
}

.OrderContents {
  h4 {
    @include u-hidden("visually");
  }
}

.CartContents thead {
  background-color: $color-white;
  color: $base-font-color;
  font-weight: bold;
}

table tbody tr td, table.General tbody tr td, table.CartContents tbody tr td, .CompareFieldName, .CartContents tfoot .SubTotal td {
  border-top: none;
  border-bottom: none;
}

table thead tr th, table.General thead tr th, table.CartContents thead tr th, table tbody tr td, table.General tbody tr td, table.CartContents tbody tr td {
  padding: 10px 0;
}

.CartContents tfoot .SubTotal td div {
  padding: 10px 0;
}

.SubTotal em {
  font-style: normal;
}

hr {
  border-bottom: none;
}

.main {
  padding: 0 $gutter;
}

.checker + label, .radio + label {
  display: inline;
}

.footer {
  background-color: $color-white;
}

.ExpressCheckoutBlock a {
  text-decoration: underline;
}

// Link styles
// -----------------------------------------------------------------------------

.checkout-form {
  a {
    text-decoration: underline;
    &.button {
      text-decoration: none;
    }
  }
}