.color-swatch {
  border: solid 1px #E8EBED;
}

.color-swatch--white {
  background-color: stencilColor("color-swatch--white");
}

.color-swatch--black {
  background-color: stencilColor("color-swatch--black");
}

.color-swatch--blue {
  background-color: stencilColor("color-swatch--blue");
}

.color-swatch--baby-blue {
  background-color: stencilColor("color-swatch--baby-blue");
}