// =============================================================================
// COMPARE (CSS)
// =============================================================================


// Compare table layout
// -----------------------------------------------------------------------------
//
// 1. Foundation Magellan plugin.
//
// -----------------------------------------------------------------------------

.compareTable {
    table-layout: fixed;
    width: 100%;
}

.compareTable-row {
    vertical-align: top;

    + .compareTable-row {

        .compareTable-heading:empty {
            border-top: 0;
        }
    }
}


// Compare table headings
// -----------------------------------------------------------------------------

.compareTable-heading {
    font-size: 1.125rem;
    font-weight: normal;
    padding: (1em + 0.166em) 1em;
    position: relative;
    text-align: right;
    width: 0;

    @include breakpoint($screen-medium) {
        @include grid-column(3);
    }
}

.compareTable-headingText {
    position: absolute;
    top: 1em + 0.166em;
    white-space: nowrap;

    @include breakpoint($screen-medium) {
        position: inherit;
        top: inherit;
    }
}


// Compare table item
// -----------------------------------------------------------------------------

.compareTable-item {
    padding: (2em + 0.166em) 1em (1em + 0.166em);

    @include breakpoint($screen-medium) {
        padding-top: 1em + 0.166em;
    }
}


// Remove product
// -----------------------------------------------------------------------------

.compareTable-removeProduct {
    border-radius: 50%;
    height: 1em + 1em;
    position: absolute;
    right: -(1em);
    top: -(1em);
    transition: background-color 0.15s ease;
    width: 1em + 1em;

    .icon {
        fill: $color-greyDark;
        height: 1em;
        margin-top: 0.33em;
        width: 1em;
    }
}


// Compare product card
// -----------------------------------------------------------------------------

.compareTable-product {
    font-weight: 400;
    padding: 1.33em 1em 1.166em;

    .card {
        margin-bottom: 0;
    }

    .card-body {
        min-height: 1em * 4;
        padding-top: 1em;
    }
}


// Compare action
// -----------------------------------------------------------------------------

.compareTable-action {
    padding: 0 1em 1em;

    .button {
        display: block;
        padding-left: 0.5em;
        padding-right: 0.5em;
        width: 100%;
    }
}
