$narrow-width: 840px;
.pages-contact-us {
  .page-heading {
    text-align: center;
    font-size: 2.5em;
  }
  .page-heading--contact-us {
    @include breakpoint($screen-medium) {
      max-width: $narrow-width - 2*$gutter;
      margin: 0 auto $gutter*4;
      padding-bottom: 40px;
      border-bottom: 1px solid $color-greyHeather;
    }
  }
  .page-heading--visit-us {

  }
}

.contact--required {
    &::after {
      content: '*';
    }
  }

.contact-success {
  margin-bottom: 20px;
  @include breakpoint($screen-medium) {
    margin-bottom: 80px;
  }
  text-align: center;
}

.contact-success__message {
  background-color: $color-pinkCross;
  display: inline-block;
  padding: 30px;
}

.contact-success__link {
  text-decoration: underline;
}

.contact-main {
  @include breakpoint($screen-medium) {
    max-width: $narrow-width;
    margin: 0 auto;
    display: flex;
    margin-bottom: 60px;
    > * {
      @include grid-column(6)
    }
  }
}

.contact-form, .contact-directory {
  margin-bottom: $gutter*2;
  .form-actions {
    text-align: center;
    @include breakpoint($screen-medium) {
      text-align: left;
    }
  }
}

.contact-directory {
  text-align: center;
  @include breakpoint($screen-medium) {
    text-align: left;
    border-right: $base-border;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
  }
  h2 {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 6px;
  }
  &__item:first-child {
    h2 {
      margin-top: 0;
    }
  }
}

.contact-form {
  @include breakpoint($screen-medium) {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    .form-field--message {
      flex: 1 1 0%;
      display: flex;
      flex-direction: column;
      textarea {
        flex: 1 1 0%;
      }
    }
  }
}

.contact-visit {
  $offset: 100px;
  &__images {
    position: relative;
  }
  &__image {
    &--frame {
      margin-bottom: 40px;
      .contact-visit__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &--map {
      display: block;
      position: relative;
      width: 100%;
      margin-bottom: $gutter;
      @include breakpoint($screen-large) {
        position: absolute;
        top: $offset;
        left: 50%;
        width: 65%;
        transform: translateX(-50%);
      }
    }
  }
  &__details {
    text-align: center;
  }
  &__address {
    margin-bottom: 1em;
    font-weight: bold;
  }
  &__hours {
    margin-bottom: 2em;
  }
}