.cookieMessage {
    background: $color-offWhite;
    color: $color-greyDark;
    display: none;

    .button {
        @include grid-column(12);

        @include breakpoint($screen-medium) {
            vertical-align: middle;
            @include grid-column(3);
        }

        @include breakpoint($screen-large) {
            vertical-align: top;
        }
    }
}

.cookieMessage-container {
    margin: 0 auto;
    padding: 1em;

    @include breakpoint($screen-medium) {
        @include grid-column(10);
    }

    @include breakpoint($screen-large) {
        @include grid-column(7);
    }
}

.cookieMessage-text {
    @include breakpoint($screen-medium) {
        display: inline-block;
        padding: 0 0.5em;
        vertical-align: middle;
        @include grid-column(8);
    }
}
