.designer-picks {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  @include breakpoint ($screen-fullmenu) {
    margin-top: 0;
    flex-direction: row;
    margin-top: 30px;
    width: calc(100% + 20px);
    margin-right: -20px;
    min-height: 180px;
  }
}

.designer-pick {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  @include breakpoint ($screen-fullmenu) {
    width: calc(100%/3 - 20px);
    margin-right: 20px;
    width: 100%;
    &:last-child {
      margin-right: 0;
    }
  }
}

.designer-pick__nav {
  margin-left: 20px;
}

.designer-pick__title {
  font-size: 14px;
  margin-bottom: 4px;
}

.designer-pick__link.navPage-subMenu-action {
  padding-bottom: 0;
  border-bottom: 0;
}