.page-404, .page-403 {
  &__content {
    margin-bottom: 2em;
    a {
      text-decoration: underline;
    }
  }
  input {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 2em;
  }
}

.page-403 {

}