.facetedSearch {
    margin-top: 2rem;
}
// Faceted search toggle
.facetedSearch-toggle {
    @include grid-container();
    @include grid-collapse();
    display: block;
    margin-bottom: 1.33em;

    @include breakpoint($screen-medium) {
        // scss-lint:disable ImportantRule
        display: none !important;
    }

    &.is-open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 0;
    }
}

.facetedSearch-toggle-text,
.facetedSearch-toggle-indicator {
    display: block;
    font-weight: normal;
}

.facetedSearch-toggle-text {
    @include grid-column(7);
    padding: 0;
    text-align: left;
}

.facetedSearch-toggle-indicator {
    @include grid-column(5);
    font-weight: bold;
    padding: 0;
    text-align: right;
}


// Faceted search nav list
.facetedSearch-navList {

    &.is-open {
        display: block;

        // scss-lint:disable SelectorDepth, NestingDepth
        .accordion--navList,
        .accordion-block:first-child .accordion-navigation {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    .facetedSearch-toggle + &,
    .sidebarBlock + & {

    }


    .facetedSearch-toggle + &.is-open,
    .sidebarBlock + &.is-open {
        @include breakpoint($screen-medium) {
            margin-top: 1.33em;
        }
    }

    .navList--inner {
        margin-left: 1em;
    }
}

.facet-quick-heading {
    text-transform: capitalize;
}

.facetedSearch__title {
    font-size: 11px;
    font-family: $base-font-family;
    text-transform: uppercase;
}

.facetedSearch-optionColumns {
    column-count: 3;
    column-gap: 20px;
}


// Faceted search refine filters
.facetedSearch-refineFilters {
    display: none;

    @include breakpoint($screen-medium) {
        display: block;
    }
}

// Facted search ratings
.facetedSearch-content--rating {
    .is-selected {
        font-weight: bold;
    }
}
