.facetLabel {
    padding: 0.125em 0.33em 0.125em (0.33em + 0.125em);
    text-decoration: none;

    .icon {
        @include square(12px);
        display: inline-block;
        fill: $color-greyDark;
        position: relative; // Vertical align the icon
        top: -2px; // Vertical align the icon
    }
}
