.icons-svg-sprite {
  display: none;
}

.icon,
.icon svg {
  transition: $base-transition;
}

.icon {
    @include square(1em);
    display: inline-block;
    vertical-align: middle;
    svg {
      display: inline-block;
      fill: #757575;
      height: 100%;
      vertical-align: top;
      width: 100%;
    }
}