.jump-to-top {
    position: absolute;
    bottom: -5em;
    width: 100%;
    left: 50%;
    pointer-events: none;
    opacity: 0;
    z-index: 10000;
    transition: opacity 250ms ease-out;
    transform: translate3d(-50%,0,0);
}

.jump-to-top--fixed {
    position: fixed;
    bottom: 50px;
}

.jump-to-top--visible {
    opacity: 1;
}

.jump-to-top__link {
    @include square(50px);
    pointer-events: all;
    cursor: pointer;
    float: right;
    margin-right: 4px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 50%;
    border: 1px solid $color-grayDark;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        transform: rotate(-90deg);
    }
}

.jump-to-top__container {
    position: relative;
}

.jump-to-top__arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    @include square(40px)
}

.jump-to-top__arrow-shaft {
    height: 50%;
    width: 1px;
    background-color: $color-greyDark;
}

.jump-to-top__arrow-head {
    position: absolute;
    top: 25%;
    @include square(25%); // Empirical
    transform: rotate(48deg) skewY(-7deg); // Empirical
    border-top: 1px solid $color-greyDark;
    border-left: 1px solid $color-greyDark;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}