// =============================================================================
// LOGIN (CSS)
// =============================================================================

.login {
    margin: 2em auto 2em*2;
    max-width: 900px;
}

.login-row {
    @include grid-container();
    @include grid-collapse();
}

.login-form {
    @include grid-column(12);

    @include breakpoint($screen-medium) {
        @include grid-column(6);
    }
}

.new-customer {
    @include grid-column(12);
    margin-top: 2em;
    @include breakpoint($screen-medium) {
        @include grid-column(6);
        margin-top: 0;
        padding-left: $gutter*2;
    }
}

.new-customer-intro {
    margin-bottom: 0;
}

.new-customer-fact-list {
    margin-left: 2em;
    margin-bottom: $gutter;
    list-style-type: disc;
}

.new-customer-fact {
    padding-left: 0.5em;
}
