// =============================================================================
// MODAL (CSS)
// =============================================================================

.has-activeModal {
  overflow: hidden;
}

.modal {
  // scss-lint:disable ImportantRule
  max-width: 600px;
  left: 50%;
  // margin: 0 auto;
  max-height: 90%;
  max-width: 600px;
  min-height: 240px;
  outline: none;
  overflow: hidden;
  padding: 20px 20px 40px 20px;
  right: 0;
  top: 50% !important;
  transform: translate(-50%, -50%);
  display: none;
  width: 100%;
  z-index: 1005;
  background-color: $color-white;
  border: 0 solid $color-greyMedium;
  box-shadow: none;
  position: fixed;
}

.modal.modal--large {
  max-width: 800px;
}

.modal.modal--full {
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  padding-top: 0;
  padding-bottom: 0;

  .modal-close {
    background-color: none;
  }
}

.modal.modal--video {
  max-height: 100%;
  max-width: 100%;
  height: 100vh;
  overflow: auto;
  padding-top: 50px;
  padding-right: 0;
  padding-left: 0;

  .modal-content {
    margin-top: 60px;
    margin-bottom: 50px;
  }

  .modal-close {
    background-color: none;
    width: 40px;
    height: 40px;
    top: 50px;
    right: $gutter/1.25;
    @include breakpoint($screen-medium) {
      right: $gutter*2;
    }
    @include breakpoint($screen-large) {
      right: calc((100% - 1170px) / 2);
    }

    svg {
      width: 40px;
      height: 40px;
    }

  }
}

.modal-header {
  padding-left: 1em;
  padding-right: 1em;
}

.modal-header-title {
  font-size: 1.5rem;
  text-align: center;

  @include breakpoint($screen-medium) {
      font-size: 2rem;
  }
}

.modal-close {
  @include square(17px);
  border-radius: 50%;
  background-color: transparent;
  color: $color-greyDark;
  font-size: 22px;
  line-height: 0.5em;
  position: absolute;
  right: 20px;
  top: 20px;
  text-align: center;
  text-decoration: none;
  z-index: 50;
  // Centering
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
      color: lighten($color-greyHeather, 10%);
      color: #000;
  }

}

.modal-body {
  -webkit-overflow-scrolling: touch;
}

.modal-content {
  overflow-y: scroll;
  margin-top: 30px;
  .form-radio {
    position: relative;
    left: 2px;
  }
}


.modal-background {
  background-color: rgba($color-greyHeather, 0.9);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  .has-activeModal & {
      display: block;
  }
}
