// =============================================================================
// USER NAVIGATION (CSS)
// =============================================================================
//
// 1. Corrects the spacing added by .navUser-or
// 2. Can't use top: 50% because its container `.header` changes its height to
//    100% when mobile menu is expanded
// 3. Make the triangle for dropdown centered
// 4. Needs to be 100% so its dropdown can take full width in mobile viewport
//
// -----------------------------------------------------------------------------

.navUser {
    @include nav($style: "navBar", $wrapper: "nav");
    @include verticalPositionMiddle("absolute");
    right: $gutter/1.25;
    top: 26px; // 2
    width: calc(100% - 32px); // 4

    // body.has-banner & {
    //     top: 26px + $banner-height;
    // }

    @include breakpoint($screen-medium) {
        right: $gutter*2;
        width: calc(100% - 80px);
    }

    @include breakpoint($screen-fullmenu) {
        position: relative;
        right: auto;
        top: auto;
        transform: none;
        z-index: 50;
        display: inline-block;
        float: right;
        width: calc(100% - 150px);
        margin-top: 8px;
        transition: margin-top 200ms $base-timing;
        body.has-banner & {
            top: auto;
        }
        body.is-scrolling & {
            margin-top: 0;
        }
    }

    // Important statements are to override default Foundation .js behaviour
    .dropdown-menu {
        background-color: $color-white;
        border: 1px solid $color-greyHeather;
        position: absolute !important;
        left: -15px !important;
        width: calc(100% + 32px) !important;
        top: 54px !important;
        body.is-scrolling.is-scrolling-down & {
            top: 80px !important;
        }
        @include breakpoint($screen-small) {
            right: -5px !important;
            left: auto !important;
            top: 40px !important;
            width: 370px !important;
            body.is-scrolling.is-scrolling-down & {
                top: 120px !important;
            }
        }

        // scss-lint:disable NestingDepth
        // &.is-open {
        //     &:before {
        //         @include css-triangle(
        //             $triangle-direction: "bottom",
        //             $triangle-size: 10px,
        //             $triangle-color: $color-greyHeather
        //         );
        //         bottom: 100%;
        //         left: 0.5em;
        //         position: absolute;
        //     }

        //     &:after {
        //         @include css-triangle(
        //             $triangle-direction: "bottom",
        //             $triangle-size: 8px,
        //             $triangle-color: $color-white
        //         );
        //         bottom: 100%;
        //         left: calc(0.5em + 2px);
        //         position: absolute;
        //     }
        // }
    }
}

.navUser-action {
    color: $color-greyDark;
    font-size: 11.5px;
    margin-top: 1.75em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    text-decoration: none;
    text-transform: uppercase;
    transition-property: margin, color;

    @include breakpoint($screen-fullmenu) {
        margin-top: 0.75em;
    }

    .navUser-item--account & {
      border-right: solid 1px $color-greyMedium;
      padding-left: 1em;
      padding-right: 1em;
      line-height: 18px;
    }

    &:hover,
    &.is-open {
        color: $color-pinkBright;

        // scss-lint:disable NestingDepth
        svg {
            fill: $color-pinkBright;
            stroke: $color-pinkBright;
        }
        // scss-lint:enable NestingDepth
    }

    .icon {
        @include square(16px);
        margin: -1px 0 0 0.125em;
    }

    svg {
        fill: $color-greyDark;
        stroke: $color-greyDark;
        transition: all 0.15s ease;
        // @include square(1em);
    }

    .navUser-item--cart & {
        &.is-full {
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='14px' height='16px' viewBox='0 0 14 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='unicorn-bag-full'%3E%3Cpath d='M12.5,2.484375 C12.7812514,2.484375 13.0182282,2.5807282 13.2109375,2.7734375 C13.4036468,2.9661468 13.5,3.2031236 13.5,3.484375 L13.5,14.984375 C13.5,15.2552097 13.4036468,15.4895823 13.2109375,15.6875 C13.0182282,15.8854177 12.7812514,15.984375 12.5,15.984375 L1.5,15.984375 C1.21874859,15.984375 0.9817718,15.8854177 0.7890625,15.6875 C0.5963532,15.4895823 0.5,15.2552097 0.5,14.984375 L0.5,3.484375 C0.5,3.2031236 0.5963532,2.9661468 0.7890625,2.7734375 C0.9817718,2.5807282 1.21874859,2.484375 1.5,2.484375 L4.515625,2.484375 L4.515625,1.515625 C4.515625,1.10937297 4.66145687,0.75781398 4.953125,0.4609375 C5.24479313,0.16406102 5.59895625,0.015625 6.015625,0.015625 L8.015625,0.015625 C8.43229375,0.015625 8.78645688,0.16406102 9.078125,0.4609375 C9.3697931,0.75781398 9.515625,1.10937297 9.515625,1.515625 L9.515625,2.484375 L12.5,2.484375 Z M5.515625,1.515625 L5.515625,2.484375 L8.515625,2.484375 L8.515625,1.515625 C8.515625,1.38020766 8.46614633,1.26302133 8.3671875,1.1640625 C8.26822867,1.06510367 8.15104234,1.015625 8.015625,1.015625 L6.015625,1.015625 C5.88020766,1.015625 5.76302133,1.06510367 5.6640625,1.1640625 C5.56510367,1.26302133 5.515625,1.38020766 5.515625,1.515625 Z M12.5,14.984375 L12.5,3.484375 L9.515625,3.484375 L9.515625,4.515625 L9.453125,4.765625 C9.4114581,4.9322925 9.2656263,5.015625 9.015625,5.015625 C8.74479031,5.015625 8.59375016,4.9322925 8.5625,4.765625 L8.515625,4.515625 L8.515625,3.484375 L5.515625,3.484375 L5.515625,4.515625 L5.4765625,4.765625 C5.4505207,4.9322925 5.29687641,5.015625 5.015625,5.015625 C4.75520703,5.015625 4.60677102,4.9322925 4.5703125,4.765625 L4.515625,4.515625 L4.515625,3.484375 L1.5,3.484375 L1.5,14.984375 L12.5,14.984375 Z M9.1250444,8.1336562 L6.10692718,10.8765133 L4.8749556,9.7569007 C4.67460036,9.5748184 4.35062167,9.5748184 4.15026643,9.7569007 C3.94991119,9.9389831 3.94991119,10.233414 4.15026643,10.4154964 L5.74458259,11.8644068 C5.84262877,11.9535109 5.97477798,12 6.10692718,12 C6.23907638,12 6.3669627,11.9535109 6.46927176,11.8644068 L9.8497336,8.7922518 C10.0500888,8.6101695 10.0500888,8.3157385 9.8497336,8.1336562 C9.6493783,7.9554479 9.3253996,7.9554479 9.1250444,8.1336562 Z' id='bag---simple-line-icons' fill='%23FFFFFF' fill-rule='nonzero'%3E%3C/path%3E%3Cpath d='M9.1250444,8.1336562 L6.10692718,10.8765133 L4.8749556,9.7569007 C4.67460036,9.5748184 4.35062167,9.5748184 4.15026643,9.7569007 C3.94991119,9.9389831 3.94991119,10.233414 4.15026643,10.4154964 L5.74458259,11.8644068 C5.84262877,11.9535109 5.97477798,12 6.10692718,12 C6.23907638,12 6.3669627,11.9535109 6.46927176,11.8644068 L9.8497336,8.7922518 C10.0500888,8.6101695 10.0500888,8.3157385 9.8497336,8.1336562 C9.6493783,7.9554479 9.3253996,7.9554479 9.1250444,8.1336562 Z' id='bag---simple-line-icons-path' fill='%234F4F52'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}

.navUser-action--storeCredit + .dropdown-menu {
    max-width: 300px;
    padding: 1em;

    &:before {
        left: 140px
    }

    &:after {
        left: 142px;
    }
}

.navUser-action-divider {
    color: $color-greyDark;
    display: inline-block;
    padding: 0 20px 0 0;
    text-decoration: none;
}

.navUser-item {
    display: none;

    @include breakpoint($screen-fullmenu) {
        display: block;

        &.navUser-item--social {
            margin-top: 5px;
            padding-right: 5px;
        }

        &.navUser-item--divider {
            font-size: rem-calc(25px);
            margin-top: rem-calc(8px);
            padding-left: rem-calc(2px);
        }
    }
}

.navUser-item--cart {
    display: inline-block;
    float: left;

    .navUser-action {
        position: relative;
        color: $color-greyDark;

        // scss-lint:disable NestingDepth
        &:hover,
        &.is-open {
            color: $color-greyDark;
        }
    }

    .dropdown-menu {

        // scss-lint:disable NestingDepth
        &.is-open {
            &:before,
            &:after {
                left: auto;
            }

            &:before {
                right: 0.5em;
            }

            &:after {
                right: calc(0.5em + 2px);
            }
        }
    }
}

.navUser-item--quickSearch {
    display: inline-block;
    float: left;
}

.navUser-item-cartLabel {
    display: inline;
}

.navUser-item--compare {
    display: none;

    &.show {
        display: block;
    }
}

.navUser-item--account {
    @include breakpoint($screen-fullmenu) {
        display: flex;
    }

    .navUser-or {

        // scss-lint:disable NestingDepth
        + .navUser-action {
            margin-right: -0.5rem; // 1
        }
    }

    .navUser-action {
        display: inline-block;
    }
}

.navUser-or {
    color: $color-greyDark;
    cursor: default;
    display: inline-block;
    margin: 0 -12px;
    padding: 0 2px;
    position: relative;
    z-index: 1;
}

// Quick search

.navUser-action--quickSearch {
    .navUser-action-searchIcon {
        display: inline-block;
    }
    .navUser-action-searchIcon-close {
        display: none;
    }

    &.is-open {
        .navUser-action-searchIcon {
            display: none;
        }
        .navUser-action-searchIcon-close {
            display: inline-block;
        }

    }
}

.dropdown--quickSearch {
    top: 54px !important; // Foundation fix
    background-color: #fff;
    border-top: solid 1px $color-greyMedium;
    border-bottom: solid 1px $color-greyMedium;
    box-shadow: $box-shadow;
    padding-top: 3em;
    padding-bottom: 1.5em;

    @include breakpoint($screen-fullmenu) {
        top: 87px !important;
        padding-top: 1.5em;
        border: solid 1px $color-greyMedium;
    }

    &.is-open {
        // scss-lint:disable ImportantRule
        left: -16px !important;
        outline: none;
        right: 0 !important; // 1
        width: calc(100% + 32px) !important;
        z-index: 50;

        @include breakpoint($screen-medium) {
            left: -40px !important;
            width: calc(100% + 80px) !important;
        }

        @include breakpoint($screen-fullmenu) {
            max-width: 600px;
            left: calc(100% - 600px) !important;
        }
    }

    .form {
        margin: auto;
        //max-width: 30rem;
    }

    .form {
        margin-bottom: 0;
    }
    .form-field {
        position: relative;
        margin-bottom: 0;
    }

    .form-input {
        font-size: 1.25rem;
        height: unset;
        padding-left: 0;
        padding-right: 30px;
        margin-bottom: 25px;
        box-shadow: none;
        border-radius: 0;
        border: 0;
        border-bottom: solid 1px #000;
        font-size: 14px;
        letter-spacing: 0.03em;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='18px' height='17px' viewBox='0 0 18 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='ICO-Search' fill-rule='nonzero' fill='%234F4F52'%3E%3Cpath d='M17.8506116,16.0841498 C17.9502044,16.1837426 18,16.3082317 18,16.4576208 C18,16.6070099 17.9502044,16.731499 17.8506116,16.8310918 C17.739953,16.9417504 17.6126975,16.9970789 17.4688413,16.9970789 C17.3249851,16.9970789 17.1977296,16.9417504 17.087071,16.8310918 L11.9414709,11.6522943 C11.3549802,12.161324 10.6910385,12.559689 9.94962573,12.8474014 C9.20821298,13.1351138 8.42254858,13.2789679 7.59260893,13.2789679 C6.6741424,13.2789679 5.81101812,13.1046832 5.0032102,12.7561085 C4.19540228,12.4075339 3.48996417,11.9344754 2.8868747,11.3369188 C2.28378522,10.7393623 1.81072672,10.0366906 1.467685,9.22888267 C1.12464329,8.42107475 0.953125,7.55795047 0.953125,6.63948393 C0.953125,5.7210174 1.12464329,4.85789312 1.467685,4.0500852 C1.81072672,3.24227728 2.28378522,2.53960559 2.8868747,1.94204905 C3.48996417,1.34449251 4.19540228,0.871434009 5.0032102,0.52285936 C5.81101812,0.17428471 6.6741424,0 7.59260893,0 C8.50000961,0 9.35760104,0.17428471 10.165409,0.52285936 C10.9732169,0.871434009 11.678655,1.34449251 12.2817445,1.94204905 C12.8848339,2.53960559 13.3606589,3.24227728 13.7092335,4.0500852 C14.0578082,4.85789312 14.2320929,5.7210174 14.2320929,6.63948393 C14.2320929,7.44729185 14.0937717,8.21359129 13.8171251,8.93840525 C13.5404786,9.6632192 13.1642449,10.3133288 12.6884129,10.8887537 L17.8506116,16.0841498 Z M7.59260893,12.2332491 C8.3561534,12.2332491 9.07819006,12.0866287 9.75874057,11.7933833 C10.4392911,11.500138 11.0313058,11.0990065 11.5348025,10.5899769 C12.0382992,10.0809472 12.4366643,9.4889325 12.7299096,8.81391492 C13.023155,8.13889735 13.1697754,7.41409427 13.1697754,6.63948393 C13.1697754,5.8648736 13.023155,5.14007052 12.7299096,4.46505295 C12.4366643,3.79003537 12.0382992,3.19802064 11.5348025,2.68899099 C11.0313058,2.17996135 10.4392911,1.77882987 9.75874057,1.48558453 C9.07819006,1.19233919 8.3561534,1.04571872 7.59260893,1.04571872 C6.8179986,1.04571872 6.0904291,1.19233919 5.40987859,1.48558453 C4.72932808,1.77882987 4.13731335,2.17996135 3.63381664,2.68899099 C3.13031992,3.19802064 2.73195487,3.79003537 2.43870953,4.46505295 C2.14546419,5.14007052 1.99884372,5.8648736 1.99884372,6.63948393 C1.99884372,7.41409427 2.14546419,8.13889735 2.43870953,8.81391492 C2.73195487,9.4889325 3.13031992,10.0809472 3.63381664,10.5899769 C4.13731335,11.0990065 4.72932808,11.500138 5.40987859,11.7933833 C6.0904291,12.0866287 6.8179986,12.2332491 7.59260893,12.2332491 Z' id='Magnifier---simple-line-icons'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-position: right center;
        background-repeat: no-repeat;

        &:valid {
            + .form-actions .form-reset {
                display: inline-block;
            }
        }

        &:focus {
            box-shadow: none;
            border-bottom: solid 1px #000;
        }

        &::placeholder {
            color: $color-pinkBright;
        }
    }
    .form-actions {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .form-reset {
        display: none;
        border: 0;
        background-color: transparent;
        padding: 14px 8px;
        outline: none;
        svg {
            width: 15px;
            height: 15px;
        }
    }
    .form-submit {
        border: 0;
        background-color: transparent;
        padding: 14px 8px;
    }

    .productGrid {
        padding: 1em 0 0;
        // Grid compensation
        margin-left: -20px;

        @include breakpoint($screen-small) {
            padding: 2em 0 0;
        }
        @include breakpoint($screen-fullmenu) {
            .product {
                .card-title, .price-section {
                    font-size: 14px;
                }
                margin-bottom: 20px;
            }
        }
    }

    .modal-close {
        right: 3px;
        top: 5px;
        cursor: pointer;
    }
}

// Counter Pill
// -----------------------------------------------------------------------------
//
// 1. Hardcoded intentionally for precise pixels.
//
// -----------------------------------------------------------------------------

.countPill {
    background-color: $color-pinkBright;
    border-radius: 50%;
    color: $color-white;
    display: none;
    font-size: 9px;
    font-weight: bold;
    height: 13px; // 1
    line-height: 13px; // 1
    margin-left: 0.125em;
    text-align: center;
    width: 13px; // 1
}

.countPill--positive {
    display: inline-block;
    position: absolute;
    top: -3px;
    right: 0;
}

.countPill--alt {
    background-color: $color-greyHeather;
    color: $color-greyDark;
}
