// Page Navigation
// -----------------------------------------------------------------------------
//
// Purpose: Contains the styles for the page navigation, deals with 2 viewsdue to
// responsive layout of that navigation
//
// 1. It's not exactly a grid row, as it's a little further down the DOM tree, but
// I use it here to grab the max width centering.
// 2. Prevent document scrolling by clipping its body
// 3. Prevent inertia scrolling of document
//
// 4. IE 11 fix
//
// -----------------------------------------------------------------------------


$navPage-subMenu-horizontal-width:                  215px;

//
// Shared styles for sub page navigation
// -----------------------------------------------------------------------------

%navPage-childList {
    border-left: 1px solid $color-greyHeather;
    margin: 0.25em 0.5em;
    padding-left: 0.5em;
}

//
// When navPages is open
// -----------------------------------------------------------------------------

.has-activeNavPages {
    // scss-lint:disable VendorPrefix
    overflow: hidden; // 2
    -webkit-overflow-scrolling: auto; // 3
}

//
// Top level Pages navigation container
// -----------------------------------------------------------------------------

.navPages-container {
    // scss-lint:disable VendorPrefix
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    right: 0;
    z-index: 10;

    @include breakpoint($screen-fullmenu) {
        background: transparent;
        display: block;
        height: auto;
        padding: 0;
        position: relative;
        display: inline-block;
        float: right;
        max-width: calc(100% - 150px);
        transition: margin-right 400ms $base-timing;
    }

    &.is-open {
        display: block;
        padding-top: $menu-height-mobile - 1;
        z-index: 0;
    }
}

//
// Top level Pages navigation list styles
// -----------------------------------------------------------------------------

.navPages {
    background-color: white;
    height: 100%;
    overflow-y: auto;
    padding: 2.75em 1em 1em 1em;
    border-top: solid 1px $color-greyMedium;

    @include breakpoint($screen-fullmenu) {
        @include grid-container(); // 1
        @include nav($style: "navBar", $wrapper: "nav");
        background: none;
        border: none;
        overflow-y: visible;
        padding: 0;
        text-align: right;
    }

    ul {
        list-style: none;
    }

    .navPage-subMenu-list {
        @extend %navPage-childList;

        border-left: 0;
        list-style: none;
        margin-left: 0;
        padding-left: 0;

        @include breakpoint($screen-fullmenu) {
            @include grid-container();
            border-left: 0;
            margin: auto;
            padding-left: 0;
            display: inline-block;
            float: left;
            width: 50%;
            column-count: 2;
            column-gap: $gutter;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .navPage-subMenu-image {
        display: none;

        @include breakpoint($screen-fullmenu) {
            display: inline-block;
            float: right;
            width: 50%;
            border-left: 1px solid $color-greyMedium;
            padding-left: 40px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}

.navPages-list {
    margin: 0;
    overflow: hidden; // 4

    @include breakpoint($screen-fullmenu) {
        display: inline-block;
        float: right;
    }

    + .navPages-list {
        margin-top: 1.5em;
    }
}

.navPages-list-depth-max.subMenu-is-open {
    .is-hidden {
        display: none;

        @include breakpoint($screen-fullmenu) {
            display: inline-block;
        }
    }

    .navPages-item-page {
        display: none;

        @include breakpoint($screen-fullmenu) {
            display: inline-block;
        }
    }
}

.navPages-action-depth-max.has-subMenu.is-root.is-open {
    .navPages-action-moreIcon {
        @include breakpoint($screen-fullmenu) {
            transform: rotate(0);
        }
    }
}

.navPages-action-depth-max.has-subMenu.is-open {
    border-bottom: 1px solid $color-greyHeather;
    text-align: center;

    @include breakpoint($screen-fullmenu) {
        border-bottom: 0;
        text-align: left;
    }

    .navPages-action-moreIcon {
        border: solid 1px $color-offWhite;
        border-radius: 4px;
        float: left;
        height: 35px;
        margin-top: -10px;
        padding: 11.7px; // (33 - 9.6) / 2
        transform: rotate(90deg);
        width: 35px;

        @include breakpoint($screen-fullmenu) {
            @include square(8px);
            border: 0;
            border-radius: 0;
            float: none;
            margin-top: 0;
            padding: 0;
            transform: rotate(-90deg);
        }
    }

    svg {
        height: 9.6px;
        width: 9.6px;

        @include breakpoint($screen-fullmenu) {
            height: 100%;
            width: 100%;
        }
    }
}

.navPages-item {
    width: 100%; // 4
    @include breakpoint($screen-fullmenu) {
        width: auto; // 4
        margin-right: 25px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.navPages-action {
    color: $color-greyDark;
    display: block;
    border-bottom: solid 1px #f1f1f1;
    font-size: 12px;
    font-weight: bold;
    padding: 1.25em 0;
    text-decoration: none;
    text-transform: uppercase;

    @include breakpoint($screen-fullmenu) {
        display: inline-block;
        padding: 22px 5px 14px;
        border-bottom: solid 3px transparent;
        transition-timing-function: $base-timing;
        transition-duration: 400ms;
        transition-property: padding, color;

        &:focus {
            color: $color-greyDark;
        }

        &.is-open,
        &:hover {
            border-color: $color-pinkBright;
        }

        &.is-active {
            color: black;
            border-color: $color-pinkBright;
        }

        body.is-scrolling & {
            padding-top: 7px;
            padding-bottom: 6px;
        }
    }

    &:hover {
        color: $color-greyDark;

        // scss-lint:disable NestingDepth
        svg {
            fill: $color-greyDark;
            stroke: $color-greyDark;
        }
    }

    svg {
        fill: $color-greyDark;
        stroke: $color-greyDark;
        transition: all 0.15s ease;
        @include square(1em)
    }
}

.navPages-action--storeCredit {
    color: $color-greyDark;
}

.navPages-action--compare {
    display: none;

    &.show {
        display: block;
    }
}

.navPages-action-moreIcon {
    float: right;
    @include square(12px);
    margin-top: 0.25em;
    margin-left: 0.25em;

    @include breakpoint($screen-fullmenu) {
        display: none;
    }

    .has-subMenu.is-open & {
        transform: rotate(0);
        height: 3px;
    }
}


// Sub page navigation and children of sub pages
// -----------------------------------------------------------------------------

.navPage-childList {
    @extend %navPage-childList;
    display: none;

    @include breakpoint($screen-fullmenu) {
        border: 0;
        display: block;
    }

    &.is-open {
        display: block;
    }
}


// Sub menu, first level down from top level categories
// -----------------------------------------------------------------------------
//
// 1. navBar mixin has lots of decendant child selectors to deal with
//
// -----------------------------------------------------------------------------

.navPage-subMenu {
    display: none;
    outline: 0;

    &.is-open {
        display: block;
    }

    @include breakpoint($screen-fullmenu) {
        // scss-lint:disable ImportantRule
        position: relative;
        background-color: white;
        padding-right: 5px;
        padding-left: 5px;
        position: absolute;
        text-align: left;

        &.is-open {
            display: block;
            left: 0;
            width: 100%;
            border-top: 0;
            margin-top: 1px;
            &:before {
                content: "";
                position: absolute;
                width: 5000px;
                height: 100%;
                background-color: white;
                left: -1000px;
                z-index: -1;
                box-shadow: 0px 4px 3px rgba(0,0,0,0.3);
            }
        }

        .navPages-action-moreIcon {
            display: none;
        }
    }
}

.has-subMenu.is-root + .navPage-subMenu-horizontal {
    @include breakpoint($screen-fullmenu) {
        border-left: 0;
        height: auto;
        left: inherit;
        margin: auto;
        top: inherit;
        width: $navPage-subMenu-horizontal-width;
    }
}

.navPage-subMenu-horizontal {
    &.is-open {
        @include breakpoint($screen-fullmenu) {
            border-left: 1px solid $color-greyHeather;
            display: inherit;
            height: auto;
            margin-left: $navPage-subMenu-horizontal-width;
            padding: 0 !important; // scss-lint:disable ImportantRule
            top: 0;
            width: $navPage-subMenu-horizontal-width + 1;
        }
    }

    .navPages-action-moreIcon {
        @include breakpoint($screen-fullmenu) {
            display: inline-block;
            transform: rotate(-90deg);
        }
    }
}

.navPage-subMenu-item {
    @include breakpoint($screen-fullmenu) {
        // scss-lint:disable ImportantRule
        // @include grid-column(3);
        // padding: 0 0.75rem !important; // 1

        .navPages-action {
            text-transform: none;
            width: 100%;
        }

        > .navPage-subMenu-action {
            font-weight: normal;
            border-bottom: 0;
        }
    }
}

.navPage-subMenu-item-child,
.navPage-subMenu-item-parent {
    width: 100%;

    @include breakpoint($screen-fullmenu) {
        .navPage-subMenu-action {
            padding-left: 1em;
            padding-right: 1em;
            width: 100%;
        }

        .navPage-subMenu-action.is-open,
        .navPage-subMenu-action:hover {
            background: $color-greyHeather;
            color: $color-black;
            font-weight: 500;
            opacity: 0.3;
        }
    }
}

.navPage-subMenu-action {
    font-size: 13px;
    padding: 0.8em 0;
    font-weight: normal;
    text-transform: none;
    transition-duration: $base-duration;

    @include breakpoint($screen-fullmenu) {
        padding: 0.5em 0 (0.5em + 0.25em);
        font-size: 11px;
    }

    &:hover {
        color: $color-pinkBright;
    }
}


//
// Child pages of sub pages navigation lists
// -----------------------------------------------------------------------------

.navPage-childList-item {
    @include breakpoint($screen-fullmenu) {
    }
}

.navPage-childList-action {
    font-weight: normal;
    padding: 0 0 0.25em;
}


//
// Quick search inside the mobile nav
// -----------------------------------------------------------------------------

.navPages-quickSearch {
    margin-bottom: 0.5em;

    @include breakpoint($screen-fullmenu) {
        display: none;
    }

    > .container {
        padding: 0;
    }

    .form {
        margin: 0;
    }

    .form-field {
        margin-bottom: 0;
    }
}


//
// NavPages user section for mobile nav panel
// -----------------------------------------------------------------------------

.navPages-list--user {
    display: flex;
    flex-wrap: wrap;
    -ms-flex-pack: space-between; // Autoprefixer not applying this correctly
    justify-content: space-between;

    @include breakpoint($screen-fullmenu) {
        display: none;
    }

    > .navPages-item {
        margin-bottom: 10px;
    }

    .navPages-item {
        width: calc(50% - 5px);
        .navPages-action { 
            border: solid 1px #f1f1f1;
            padding-right: 10px;
            padding-left: 10px;
        }
        &.navPages-item--registry {
            width: 100%;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    .navPage-subMenu-list {
        margin: 0 ;
        .navPages-action {
            border-top: 0;
            margin-right: 0;
        }

    }

    // scss-lint:disable SelectorDepth, NestingDepth, IdSelector
    #currencySelection2 {
        background-color: $color-white;

        .dropdown-menu-item {
            padding: 0;

            // scss-lint:disable NestingDepth
            &:not(:last-child) {
            }
        }

        a {
            padding: 0.5em 1em;
        }
    }
}


//
// NavPages store section for mobile nav panel
// -----------------------------------------------------------------------------

.navPages-list--store-info {
    font-size: 0.875em;
    @include breakpoint($screen-fullmenu) {
        display: none;
    }

    h5 {
        margin-bottom: 1em;
        font-size: 1.4em;
    }
}


//
// Subnav CTA block
// -----------------------------------------------------------------------------
.subMenuCta {
    position: relative;
}

.subMenuCta__button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}