.navList,
.navBar {
    margin-left: 0;
}

.navList--subcategory {
    margin-left: 20px; 
}

.navList-action,
.navBar-action {
    text-decoration: none;
}

.navList-action.is-active {
    font-weight: bold;
}

.navList-action--checkbox {
    &:before,
    &:after {
        top: 50%; // 1
    }
}

.navList-action--has-subcategories {
    &::after {
        content: ' >';
    }
}


// NavList action close
// -----------------------------------------------------------------------------
//
.navList-action-close {
    display: inline-block;
    float: right;
    line-height: 0;
    opacity: 0;
    visibility: hidden;

    .icon {
        @include square(20px);
        fill: $color-greyDark;
    }

    .navList-action.is-selected:hover & {
        opacity: 1;
        visibility: visible;
    }
}

// Page Subnavigation
// -----------------------------------------------------------------------------

.navBar--sub {
    margin-bottom: 30px;
    text-align: center;

    .navBar-section {
        float: none;
    }

    .navBar-item {
        float: none;
        margin: 0 0.5em;

        @include breakpoint($screen-medium) {
            display: inline-block;
        }

        // scss-lint:disable SelectorDepth, NestingDepth
        &.is-active {
            @include breakpoint($screen-medium) {
                border-bottom: 1px solid $base-font-color;
            }

            > .navBar-action {
                color: $color-greyDark;
            }
        }

        &.navBar-item--separate {
            @include breakpoint($screen-medium) {
                border-left: 1px solid $color-greyDark;
                margin: 0;
                padding-left: 0.5em;
            }
        }
    }

    .navBar-action {
        color: $color-greyDark;
        font-size: $base-font-size;
        padding: 0;

        // scss-lint:disable NestingDepth
        &:hover {
            color: $color-greyDark;
        }
    }
}

// Category sidebar
// .navList--subcategory {
//     &::after {
//         content: " >"
//     }
// }