// =============================================================================
// PACE - AJAX LOADING PROGRESS
// =============================================================================

.pace {
    pointer-events: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace-progress {
    background-color: $color-greyHeather;
    height: 5px;
    position: fixed;
    right: 100%;
    top: 0;
    width: 100%;
    z-index: 2000;
}
