// =============================================================================
// PAGINATION (CSS)
// =============================================================================


.pagination-list {
  @include clearfix;

  margin-bottom: 1em;
  text-align: center;

  // Only show a subset of the pagination items
  $pagination-limit-mobile: 1;
  $pagination-limit-desktop: 2;
  .pagination-item {
    display: none;
  
    @for $i from -$pagination-limit-mobile through $pagination-limit-mobile {
      &[data-current-difference="#{$i}"] {
        display: inline-block;
      }
    }
    
    @for $i from -$pagination-limit-desktop through $pagination-limit-desktop {
      &[data-current-difference="#{$i}"] {
        @include grid-media($neat-grid-small) {
          display: inline-block;
        }
      }
    }

    &.pagination-item--current, &.pagination-item--next, &.pagination-item--previous {
      display: inline-block;
    }
  }
}


// Pagination list items
// -----------------------------------------------------------------------------

.pagination-item {
  line-height: 1;

  .pagination-link {
      text-decoration: none;
      padding: (1.275/2)*1em (1.7/2)*1em;
      @include grid-media($neat-grid-small) {
        padding: 1.275em 1.7em;
      }

      // scss-lint:disable NestingDepth
      &:hover {
          color: $color-greyDark;
      }
  }

  .pagination-item__text {
    display: none;
    @include grid-media($neat-grid-small) {
      display: inline;
    }
  }

  &.pagination-item--current {
    .pagination-link {
        cursor: default;
        border-color: $color-pinkBright;
      }
  }

}

.pagination-item--previous,
.pagination-item--next {

  .icon {
      height: 20px;
      margin-top: -2px;
      width: 20px;
  }
}

.pagination-item--previous {
  float: left;

  .icon {
      @include grid-media($neat-grid-small) {
        margin-left: -12px;
      }
  }
}

.pagination-item--next {
  float: right;

  .icon {
      @include grid-media($neat-grid-small) {
        margin-right: -12px;
      }
  }
}


// Simple/small pagination (Next/Previous arrows are the only way to navigate)
// -----------------------------------------------------------------------------

.pagination-list--small {
  position: relative;

  .pagination-item {
      cursor: inherit;

  }

  .pagination-link {
      padding: 0.5em;
  }

  .pagination-item--previous,
  .pagination-item--next {
      position: absolute;
      top: 0;
  }

  .pagination-item--previous {
      left: 0;
  }

  .pagination-item--next {
      right: 0;
  }
}
