// =============================================================================
// PANELS (CSS)
// =============================================================================


.panel-title {
  font-size: 1.25rem;
}

.panel--large {

  .panel-body {
      margin-bottom: 1em + spacing("third");
      padding: 1em + spacing("third");
  }
}
