// =============================================================================
// PREVIEW CART (CSS)
// =============================================================================
//
// 1. Override server-generated inline-css
//
// -----------------------------------------------------------------------------

.previewCart {
    @include grid-container();
    padding: 10px 0 0;
    overflow: hidden;

    @include breakpoint($screen-medium) {
        .productView {
            @include grid-column(9);
            display: flex;
            margin: 0;
            padding-bottom: 0;
            padding-top: 0;
        }

        .productView-image {
            @include grid-column(7);
            display: flex;
            flex-direction: column;
        }

        .productView-image--cart {
            align-self: flex-start;
            margin: 0 auto;
            width: auto;
        }

        .productView-details {
            @include grid-column(5);
        }
    }

    .productView-title {
        margin-top: 0;
    }
}

.previewCartCheckout {
    padding: 1em;
    text-align: center;

    @include breakpoint($screen-medium) {
        @include grid-column(3);
        padding: 1em;
    }

    .button {
        display: block;
        margin: 0;
        width: 100%;

        // scss-lint:disable NestingDepth
        + .button,
        + p {
            margin-top: 0.5em;
        }
    }
}

.previewCartCheckout-price {
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

// .previewCartCheckout-subtotal {
//     display: block;
//     margin-bottom: 1em;
//     margin-top: 1em;
// }

.previewCartCheckout-additionalCheckoutButtons {
    p {
        // scss-lint:disable ImportantRule
        float: none !important; // 1
        margin: 0.33em 0;
    }

    .CheckoutButton {
        margin-bottom: 1em;

        &:first-child {
            margin-top: 1em;
        }

        &:last-child {
            margin-bottom: 1em;
        }
    }
}

.suggestiveCart {
    display: none;
    text-align: center;

    @include breakpoint($screen-medium) {
        display: block;
    }
}

.previewCartTitle, .previewCart-emptyBody {
    padding: 50px 0px 15px;
}

.previewCartTitle {
    margin: 0 5px;
    border-bottom: solid 1px $color-greyMedium;
    font-size: 15px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-align: center;
    @include breakpoint ($screen-small) {
        padding-top: 5px;
    }
}

// 0 1 1 Specificity to compete with `.navUser ul`
ul.previewCartList {
    margin: 0 5px;
    padding: 0;
    max-height: calc(100vh - 325px);
    overflow-x: hidden;
    overflow-y: scroll;
    @include breakpoint($screen-small) {
        max-height: 350px;
    }
}

.previewCartItem {
    display: flex;
    align-items: flex-start; // Prevents stretched image
    position: relative;
    padding: 20px 10px;
    + .previewCartItem {
        border-top: 1px solid $color-greyMedium;
    }
}

.previewCartItem-image {
    border: solid 1px #E8EBED;
    @include aspect-ratio();
    width: 30%;
    flex-shrink: 0;
}

.previewCartItem-content {
    padding-left: 15px;
    flex-grow: 1;
    flex-basis: 100%; // IE needs something explicit to work with
    display: flex;
    flex-direction: column;
}

.previewCartItem-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.previewCartItem-name {
    margin: 0 15px 0 0;
    font-size: 16px;
    font-weight: bold;
}

.previewCartItem-delete {
    @include square(20px);
    font-size: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        width: 100%;
        height: 100%;
    }
}

.previewCartItem-detail {
    font-size: 12px;
    line-height: 20px;
    margin-top: 4px;
}

.previewCartItem-price {
    font-size: 16px;
    font-family: $heading-font-family;
    font-weight: bold;
    margin-top: auto;
    text-align: right;
}

.previewCartActions {
    display: flex;

    > * {
        flex: 1 0 0%;
    }

    .button {
        width: 100%;
        border: 3px solid $color-greyDark;
        padding: 10px;
        &:hover {
            border-color: $color-pinkBright;
        }
    }
}

.previewCartAction-checkout,
.previewCartAction-viewCart {

    &.previewCartAction-viewCart--sole {
    }
}

.previewCartAction-checkout {
    margin-left: 7px;
    .button {
        color: $color-white;
        background-color: $color-greyDark;
        &:hover {
            background-color: $color-pinkBright;
        }
    }
}

.previewCartAction-checkoutMultiple {
    clear: both;
    padding-left: 0.5em;
    padding-top: 0.25em;
}

.previewCartAction-viewCart {
    margin-right: 7px;
}

.previewCart-emptyBody {
    text-align: center;
    @include breakpoint($screen-small) {
        padding: 2em;
    }
}

.previewCartSubtotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.previewCartSubtotal__label-title {
    font-size: 16px;
    font-family: $base-font-family;
    margin-bottom: 0;
    text-transform: uppercase;
}

.previewCartSubtotal__label-notice {
    font-size: 12px;
}

.previewCartSubtotal__value {
    font-size: 22px;
    font-family: $heading-font-family;
    font-weight: bold;
}


.previewCartFooter {
    padding: 25px 15px 15px;
    box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.15);
    // Bring box forward so shadow is infront on images.
    position: relative;
    z-index: 1;
}
