// =============================================================================
// PRICE (CSS)
// =============================================================================

.price--rrp,
.price--non-sale,
.price--discounted {
    text-decoration: line-through;
}

.price-section--minor {
    color: $color-greyHeather;
}

.price-message {
  font-size: 10px;
  font-family: $base-font-family;
  margin-top: 1.2em;
}