.product-related {
    position: relative;
    padding: 60px 0 100px 0;
    
    .product-related__title {
      text-align: center;
      margin-bottom: 1.786em;
    }
    
    .product-related__bg {
        background-color: $color-pinkLight;
        position: absolute;
        bottom: 0;
        top: 30%;
        width: 100%;
        z-index: -1
    }
    
    .productGrid .product {
        @include grid-column(3);
        @include breakpoint($screen-medium) {
            @include grid-column(3 of 12);
        }
    }
    
    .card-img-container {
      background: $color-white;
    }
    
    .card-body {
      margin-top: 0.6em;
    }
}

.product-related-mobileSlider {
    display: block;
    max-width: calc(100% + 40px);
    overflow: hidden;
    @include breakpoint($screen-small) {
        max-width: none;
    }
    
    .slick-list {
      overflow: visible;
    }
}
.product-related-mobileSlider-item {
    padding: 0 5px;
}
