[data-product-attribute="set-rectangle"] {
  .form-radio {    
    border: 0;
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .form-option {
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
  }
  .form-option-variant {
    display: inline-block;
    background: $color-greyLight;
    padding: 10px 25px;
  }
}
