// =============================================================================
// Product Registry (CSS)
// =============================================================================

// product page
.product-registry {
	// width: 100%;
	// display: flex;
	// .available-registries {
	// 	width: 100%;
	// 	margin-top: 14px;
	// 	display: flex;
	// 	align-items: center;
	// 	select {
	// 		margin: 0;
	// 		width: 50%;
	// 		height: 54px;
	// 		outline: none;
	// 	}
	// 	.add-to-registry {
	// 		margin: 0;
	// 	}
	// }
	// .login-to-manage {
	// 	// max-width: 50%;
	// 	width: 100%;
	// 	margin-top: 14px;
	// 	border-width: 1px;
	// }
}

// !FLAG: Overriding core angular app styles. No control over markup. Lots of !important

// Global button styles for registry
.registry-login a,
button.action-button,
button.mat-raised-button,
.product-actions button,
.notification-message .actions button,
.change-container button {
	background-color: $color-white !important;
	border: 2px solid $color-pinkCross !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	color: contrast-switch($color-white, $color-greyDark, $color-white) !important;
	display: inline-block !important;
	font-family: $base-font-family !important;
	font-size: 12px !important;
	-webkit-font-smoothing: antialiased !important;
	font-weight: 600 !important;
	letter-spacing: 1px !important;
	line-height: 1 !important;
	padding: $base-spacing*0.75 $base-spacing !important;
	text-align: center !important;
	text-decoration: none !important;
	text-transform: uppercase !important;
	transition-property: background-color, border-color !important;
	transition-duration: $base-duration !important;
	transition-timing-function: $base-timing !important;
	vertical-align: middle !important;
	white-space: normal !important;

	&:hover,
	&:focus {
		color: inherit !important;
		border-color: $color-pinkBright !important;
		background-color: $color-white !important;
	}

	.mat-button-ripple,
	.mat-button-focus-overlay {
		display: none;
	}
}

// Global modal styles
.mat-dialog-container {
	text-align: center;

	h2 {
		margin-bottom: 20px !important;
	}

	.notification-message {
	  .actions {
			justify-content: center !important;
			button {
				margin-right: 10px !important;
				&:last-child {
					margin-right: 0px !important;
				}
				&:nth-child(2) {
					border-color: $color-greyHeather !important;
				}
			}
		}
	}

}

// registry page

.registry-page {

	h1 {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: solid 1px $color-greyMedium;
    text-align: center;
	}

	// Registry landing/search page
	.registry-search {
		padding: 0 !important;
		text-align: center;

		form {
			margin-top: 2em;
			margin-bottom: 2em;
		}

		input[type='text'] {
			margin-bottom: 0;
			text-align: left;
		}

		.registry-login a.manage  {
			margin-right: 0 !important;
		}

	}


	// Global navigation
	.mat-toolbar {
		flex-wrap: wrap;
		justify-content: center;
		height: auto;
		margin-top: 2em;
		margin-bottom: 1.5em;
		background-color: transparent;
		border-bottom: solid 1px $color-greyMedium;
		font-family: inherit;
		color: inherit;
		.mat-button {
			padding: 0;
			margin: 0 15px;
			font-family: inherit;
			text-transform: none;
			border-bottom: solid 2px transparent;
			&:hover {
				border-color: $color-pinkCross;
			}
			.mat-button-ripple,
			.mat-button-focus-overlay {
				display: none;
			}
		}
	}

	// Gobal form style clean up
	// Note: Only matched colours and fixed display bugs. These are not a match to the sites other form styles.
	.mat-form-field {
		margin-bottom: 10px;
		font-family: $base-font-family !important;

		&.date-field {
		  input {
				background: 0 0;
				color: currentColor;
				border: none;
				outline: 0;
				padding: 0;
				margin: 0;
				width: 100%;
				max-width: 100%;
				vertical-align: bottom;
				text-align: inherit;
			}
		}

		&.mat-focused {
			.mat-form-field-label {
				color: $color-pinkBright;
			}
			.mat-form-field-ripple {
        background-color: $color-pinkBright;
			}

		}
	}
	.mat-input-element {
		caret-color: $color-pinkBright;
	}


	// Create registry page
	.create-registry {
		.mat-tab-body-content {
			text-align: center;
		}
		.mat-form-field.date-field {
			margin-left: auto;
			margin-right: auto;
		}
		.action-button {
			margin-right: auto !important;
			margin-left: auto !important;
		}
		a.ng-star-inserted {
			display: inline-block;
			color: $base-font-color;
			transition: color $base-duration $base-timing;
			text-decoration: underline;
			margin-bottom: 2em;
			&:active,
			&:focus,
			&:hover {
				color: $color-pinkBright;
			}
		}
		.fb-share-button a {
			display: inline-block;
			padding: 1em $base-spacing;
			background-color: #3B5998;
			color: #FFF;
			font-weight: bold;
		}
	}

	// Manage registry page
	.registry-management {
		padding: 0 !important;
		.mat-list {
			border-bottom: solid 1px $color-greyMedium;
		}
		.mat-list-item {
			border-top: solid 1px $color-greyMedium;
		}
	}

	// Edit registry page
	.edit-container,
	.view-container {
		.registry-information {
			flex-direction: column;
			// Swicth order so button is at bottom
			@include breakpoint($screen-medium) {
				flex-direction: row;
			}
			.basic-information {
				order: 2;
				width: 100% !important;
				padding: 0 !important;
				margin-bottom: 20px !important;
				@include breakpoint($screen-medium) {
					order: 1;
					width: 50% !important;
					padding-right: 16px !important;
				}
			}
			.registry-address {
				order: 1;
				width: 100% !important;
				padding: 0 !important;
				@include breakpoint($screen-medium) {
					order: 2;
					width: 50% !important;
					padding-left: 16px !important;
				}
			}
			textarea {
				height: 75px !important;
			}
		}
		.products {
			.mat-card {
				flex-grow: 0 !important;
				max-width: none !important;
				width: 100% !important;
				margin: 0 0 16px 0 !important;
				@include breakpoint($screen-small) {
					width: 48% !important;
					margin-right: 4% !important;
					&:nth-child(2n) {
						margin-right: 0 !important;
					}
				}
				@include breakpoint($screen-medium) {
					width: 31% !important;
					margin-right: 3.5% !important;
					&:nth-child(2n) {
						margin-right: 3.5% !important;
					}
					&:nth-child(3n) {
						margin-right: 0 !important;
					}
				}
			}
		}
		.registry-link {
			padding-right: 0 !important;
			padding-left: 0 !important;
		  a {
				transition: color $base-duration $base-timing;
				text-decoration: underline;
				&:active,
				&:focus,
				&:hover {
					color: $color-pinkBright;
				}
			}
		}
	}

	.mat-card {
		box-shadow: none !important;
		border: solid 1px $color-greyMedium !important;

		.img-container {
			height: auto !important;
		}
		.remove {
			right: 0 !important;
			width: 16px !important;
			height: 16px !important;
			color: $base-font-color !important;
			background-color: transparent !important;
			.mat-icon {
				font-size: 16px !important;
			}
		}
		.change-container {
			input,
			.combined-input {
				border-radius: 0 !important;
				border: 0 !important;
				border-top: 2px solid $color-pinkCross !important;
				border-bottom: 2px solid $color-pinkCross !important;
			}
		  button {
				padding-top: 1px !important;
				padding-bottom: 1px !important;
				.mat-icon {
					color: $base-font-color;
					line-height: 16px;
				}
			}
		}
	}


}
