.sale-flag-sash {
    background: $color-primary;
    color: $color-white;
    font-size: 15px;
    font-weight: 700;
    height: rem-calc(20px);
    left: -35px;
    line-height: rem-calc(16px);
    padding-top: 0.125em / 2;
    position: absolute;
    text-align: center;
    top: 25px;
    transform: rotate(-45deg);
    transition: 800ms ease;
    width: rem-calc(119px);
    z-index: 10;
}

.product:hover .sale-flag-sash {
    background: $color-black;
    transition: 800ms ease;
}

.product {
    overflow: hidden;
}
