$productOptions-list-item-padding:              1em;
$productOptions-list-item-figure-width:         2em;
$productOptions-list-item-content-paddingLeft:  1em + 0.166em;
$productOptions-list-item-firstChild-padding:   $productOptions-list-item-padding + $productOptions-list-item-figure-width + $productOptions-list-item-content-paddingLeft;

.productView {
    padding-top: 0.2em;
    @include grid-container();
    // @include grid-collapse();
    // @include grid-visual;


    .modal & {
        padding-bottom: 0;
        padding-top: 0;
    }
}

.productView--quickView {
    .socialLinks-item--print {
        display: none;
    }
}

.productView-details-container {
    width: 100%;
    @include grid-collapse();

    @include grid-media($neat-grid-medium) {
        @include grid-collapse();
        clear: right;
        float: right;
    }
}

.productView-details {
    margin: 10px 0 40px 0;
    font-size: 14px;

    ul {
      padding-bottom: 10px;
    }

    li {
      padding: 5px 0
    }

    .productView-details__toggle, h2, h3, h4, h5, h6 {
      font-family: $base-font-family;
      -webkit-font-smoothing: antialiased;
      font-weight: 600;
      text-transform: uppercase;
      margin: 20px 0 15px 0;
    }
    h3, h4, h5, h6 {
      font-size: $base-font-size*0.75;
    }

    .productView-details__toggle {
        font-size: $base-font-size*0.9;
        margin: 0;
        border-bottom: 2px solid $color-offWhite;
        a {
          color: $color-greyDark;
          display: block;
          padding: 15px 0;
        }
        svg {
          float: right;
          fill: $color-greyDark;
        }
        .remove-icon {
          display: none;
        }
        .details-open {
          .add-icon {
            display: none;
          }
          .remove-icon {
            display: block;
          }
        }
    }

    .Apple-interchange-newline {
      display: none;
    }

    .productView-details__box {
      padding: 20px 0;
    }

}

// Images
// -----------------------------------------------------------------------------

.productView-images {
    position: relative;
}

.productView-images-banner {
  position: absolute;
  background-color: $color-greyDark;
  color: $color-white;
  max-width: 100%;
  top: 20px;
  left: 0;
  padding: 6px 18px;
  display: block;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  z-index: 1;
}

.productView-image {
    display: none;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;

    @include breakpoint($screen-small) {
        display: flex;
        min-height: 366px;
        min-width: inherit;
    }

    + .productView-thumbnails {
        margin-top: 0.5em;
    }

    @media (max-width: $screen-medium) {
        pointer-events: none;
    }
}

.productView-img-container {
    position: relative;
    margin: auto;
    // max-width: 659px;
    width: 100%;

    img {
        @include lazy-loaded-img;
        max-height: 100%;
        width: auto;
        margin: 0;
        object-fit: cover;
        height: 893px;
    }

    &:after {
        content: '';
        display: block;
        height: 0;
        width: 100%;
        padding-bottom: get-padding(stencilString('product_size'));
    }
}

// Mobile slider
// -----------------------------------------------------------------------------

.productView-mobileSlider {
    display: block;
    max-width: calc(100% + 40px);
    overflow: hidden;
    @include breakpoint($screen-small) {
        display: none;
    }

    .slick-list {
      overflow: visible;
    }
}

.productView-mobileSlider-item {
    padding: 0 5px;
}

// Details
// -----------------------------------------------------------------------------

.productView-details-right {
    @include grid-column(12);

    @include grid-media($neat-grid-small){
        @include grid-column(6);
        margin-right: 20px;
    }

    @include grid-media($neat-grid-medium){
        @include grid-column(7);
        margin-right: 30px;
    }

    @include breakpoint($screen-small) {
      float: right;
      clear: right;
    }

}

.productView-details-left {
    // @include grid-column(12);
    // @include grid-collapse;

    width: 100%;
    float: left;
    @include grid-media($neat-grid-small){
        @include grid-column(6);
        margin-bottom: 2em;
    }

    @include grid-media($neat-grid-medium){
        @include grid-column(5);
    }

    @include breakpoint($screen-small) {
      float: left;
    }
}


// Details - Product details
// -----------------------------------------------------------------------------

.productView-product {
    margin-bottom: 20px;
    @include breakpoint($screen-medium) {
        padding-bottom: 1em;
        margin-bottom: 0;
    }
}

.productView-title {
    font-size: 1.7rem;
    margin: 0;

    @include breakpoint($screen-medium) {
        // margin-top: 1em;
    }

    @include breakpoint($screen-large) {
        // font-size: 2.5rem;
    }
}

.productView-brand {
    color: $color-greyDark;
    font-size: 1.125rem;
    margin: 0 0 0.5em;

    @include breakpoint($screen-large) {
        font-size: 1.25rem;
        margin: -(0.125em) 0 1em;
    }

    a {
        color: $color-greyDark;

        // scss-lint:disable NestingDepth
        &:hover {
            color: $color-greyDark;
        }
    }
}

// Details - Product price
// -----------------------------------------------------------------------------

.productView-price {
    font-size: 23px;
    margin-bottom: 0.33em;
    font-family: $heading-font-family;

    .price-section--saving {
        font-size: 1.125rem;
    }

    abbr {
        border: 0;
        color: inherit;
        font-size: inherit;
    }
}

.productView-reviewLink {
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: middle;

    + .productView-reviewLink {
        display: block;
        margin-left: auto;

        @include breakpoint($screen-small) {
            display: inline-block;
            margin-left: 0.5em;
        }
    }

    > a {
        color: $color-greyDark;

        // scss-lint:disable NestingDepth
        &:hover {
            color: $color-greyDark;
        }
    }
}

.productView-description {
    position: relative;
    white-space: pre-line;
}


// Details - Product Information
// -----------------------------------------------------------------------------

.productView-product-info {
  display: none;
}

.productView-info {
    @include clearfix;
    margin-top: 0.5em;

    @include breakpoint($screen-small) {
        margin-top: 0;
    }

    > :first-child {

        @include breakpoint($screen-small) {
            margin-top: 1em;
        }
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.productView-info-name,
.productView-info-value {
    float: left;

    @include breakpoint($screen-small) {
        float: none;
    }
}

.productView-info-name {
    clear: both;
    margin-bottom: 0.125em;
    margin-right: 0.25em;

    @include breakpoint($screen-small) {
        font-size: 0.875em;
        font-weight: normal;
    }
}

.productView-info-value {
    margin-bottom: 0.25em;

    @include breakpoint($screen-small) {
        margin-bottom: 1em;
    }
}


// Details - Product options
// -----------------------------------------------------------------------------
//
// 1. Align the product options list item radios vertically.
// 3. File upload button does not properly display in IE if font-size is 0
//
// -----------------------------------------------------------------------------

.productView-options {
    @include clearfix;
    margin-bottom: 1em;

    @include breakpoint($screen-small) {
        text-align: left;
    }

    .form-input[type="number"] {
        @include breakpoint($screen-small) {
            @include grid-column(2);
        }
    }

    .form {
        display: inline;
    }

    input[type="file"] {
        font-size: 0.875em; // 3
    }

    .form-field {
        padding: 1rem 0;
        border-top: 2px solid $color-greyHeatherLight;

        font-size: $base-font-size*0.80;
        -webkit-font-smoothing: antialiased;
        font-weight: 600;
        text-transform: uppercase;

        &:first-child {
          margin-top: 20px;
          @include breakpoint($screen-small) {
              margin-top: 0;
          }
        }

        // scss-lint:disable SelectorDepth, NestingDepth
        > .form-checkbox + .form-label,
        > .form-radio + .form-label {
            display: inline;
            margin-left: 1em;
            width: auto;

            @include breakpoint($screen-small) {
                margin-left: 0;
                width: 100%;
            }
        }

        > .form-label:nth-of-type(2) {
            margin-left: 0;
        }

        .form-option {
          padding: 0 0 4px 0;
          border-bottom: 3px solid #fff;
        }

        .form-radio:checked + .form-option,
        .form-option:hover {
          border-bottom: 3px solid $color-greyDark;
        }
    }

    .form-label {
      display: block;
      margin-bottom: 1em;
      font-size: 12px;
      small {
        font-size: 100%;
      }
    }
    .form-field--increments {
      display: none;
    }

    .form-action {
        display: inline-block;
        width: 100%;

        .button {
            width: 100%;

            @include breakpoint($screen-large) {
                margin-right: 0.5em;
                width: auto;
            }
        }
    }

}

// Product actions (wishlist and registry buttons)
// A little tricky becasue we need to stack differently depending on three different states of the registry button.
// 1. Login to manage (Anon users)
// 2. Create registry (Auth user without registry)
// 3. Add to registry (Auth user with registry)
// -----------------------------------------------------------------------------
.productView-product-actions {
     display: flex;
     flex-direction: column;

     @include breakpoint($screen-large) {
        flex-direction: row;
        flex-wrap: wrap;
     }

    .form-wishlist {
        flex: 1 1 auto;
        width: 100%;
        margin-top: 1rem;
        width: 100%;
        display: flex;
        @include breakpoint($screen-large) {
          width: 50%;
        }

        span {
          vertical-align: middle;
        }

        .button {
            margin-right: 0;
            width: 100%;
        }
        
        .dropdown-menu {
          z-index: 1;
        }
    }

    .product-registry {
        // flex: 1 1 auto;
        flex-grow: 1;
        margin-top: 1rem;
        .available-registries {
            // Set min-width so we can force the registry select to it's own row.
            min-width: 300px;
            width: 100%;
            select {
                flex-grow: 1;
                margin: 0;
                width: 100%;
                outline: none;
                border-color: $color-pinkCross;
                border-bottom: 0;
                padding-left: 2em;
                font-size: 12px;
                font-weight: bold;
                text-align-last: center;
            }
            .add-to-registry {
                margin: 0;
                width: 100%;
            }
            @include breakpoint($screen-small) {
                display: flex;
                select {
                    width: 50%;
                    text-align-last: left;
                    border: solid 1px $color-pinkCross;
                }
                .add-to-registry {
                    width: auto;
                }
            }
        }
    }

    .add-to-registry,
    .login-to-manage,
    .create-registry {
        border-width: 1px;
        @include breakpoint($screen-large) {
          border-left: 0;
        }
    }
    .login-to-manage {
        width: 100%;
        padding-top: 19px;
        padding-bottom: 20px;
    }
    .create-registry {
        width: 100%;
    }

    svg {
      fill: $color-pinkCross;
      margin-right: 5px;
      vertical-align: middle;
      width: 22px;
      height: 22px;
    }
}

.productView-out-of-stock {
    background-color: $color-pinkLight;
    padding: 10px 15px;
    text-align: center;
    font-size: 13px;
}


// Product list (with images)
// -----------------------------------------------------------------------------

.productOptions-list {
    border: $base-border;
    list-style: none;
    margin: 0;
}

.productOptions-list-item {
    padding: $productOptions-list-item-padding;

    + .productOptions-list-item {
        border-top: $base-border;
    }

    .form-label {
        text-align: left;
        top: -2px; // 1
    }
}

.productOptions-list-item-figure,
.productOptions-list-item-content {
    display: table-cell;
    vertical-align: middle;
}

.productOptions-list-item-figure {
    width: $productOptions-list-item-figure-width;
}

.productOptions-list-item-content {
    padding-left: $productOptions-list-item-content-paddingLeft;
}


// Share products
// -----------------------------------------------------------------------------

.shareProduct {
    text-align: center;
}


// EasyZoom settings for zoomable product image
// -----------------------------------------------------------------------------

.productView-image .easyzoom-flyout {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    img {
        max-width: none;
        width: auto;
    }
}

.productViewModalContent {
  display: none;
}
