// =============================================================================
// PRODUCT REVIEWS (CSS)
// =============================================================================


// Review list
//
// 1. Kill extra display inline-block spacing
// -----------------------------------------------------------------------------

.productReviews-list {
    list-style-type: none;
    @include grid-container();
    font-size: 0; // 1
}


// Review item
// -----------------------------------------------------------------------------

.productReview {
    @include grid-column(12);
    display: inline-block;
    float: none;
    font-size: $base-font-size;
    vertical-align: top;

    @include breakpoint($screen-medium) {
        @include grid-column(6);
    }

    @include breakpoint($screen-large) {
        @include grid-column(4);
    }
}

.productReview-title {
    margin: 0;
    text-transform: none;
}

.productReview-author {
    color: $color-greyDark;
    margin-bottom: 1em;
}

.productReview-rating {
    display: inline-block;
    margin-bottom: 0.25em;
}

.productReview-ratingNumber {
    @include u-hidden("visually");
}
