// =============================================================================
// SWATCH SIZES (CSS)
// =============================================================================


// Swatch Size Changes
// -----------------------------------------------------------------------------

// do some math
$value_of_swatch_size : stencilString("swatch_option_size");
$position_of_x : str-index($value_of_swatch_size, "x");

[data-product-attribute] .form-option.form-option-swatch {
    overflow: visible;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    position: relative;
    @include breakpoint($screen-medium) {
        margin-right: 15px;
    }
}

[data-product-attribute="swatch"] .form-radio {
  border: 0;
  clip: rect(1px,1px,1px,1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.form-option-variant--color,
.form-option-variant--pattern {
    display: block;
    height: 40px;
    width: 40px;
    cursor: pointer;
    @include breakpoint($screen-medium) {
        height: 50px;
        width: 50px;
    }
}

.form-option-expanded {
    background-color: $color-white;
    border: 1px solid $color-greyHeather;
    left: calc(100% + 55px);
    opacity: 0;
    padding: 3px;
    position: absolute;
    top: calc(100% + 5px);
    transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    visibility: hidden;
}

.form-option:hover {
    .form-option-expanded {
        opacity: 1;
        transform: translate(-50%, 0);
        visibility: visible;
        z-index: 5000;
    }
}

.form-option-image {
    background: {
        position: 50%;
        repeat: no-repeat;
        size: cover;
    }
    display: block;
    height: 100px;
    width: 100px;
}
