// =============================================================================
// PRODUCT LIST (CSS)
// =============================================================================


// Product list
// -----------------------------------------------------------------------------
.productList {
    list-style-type: none;
    margin: 0.5em;

    .product {
        // scss-lint:disable NestingDepth
        + .product {
            margin-top: 1em * 4;
        }
    }
}


// Product list item
// -----------------------------------------------------------------------------

.listItem {

    @include breakpoint($screen-small) {
        @include grid-container();
        display: table;
    }
}

.listItem-figure,
.listItem-body {

    @include breakpoint($screen-small) {
        display: table-cell;
        vertical-align: top;
    }

    @include breakpoint($screen-large) {
        vertical-align: middle;
    }
}

// QuickView button
// -----------------------------------------------------------------------------

.listItem-button {
    background-color: $color-greyHeather;

    &:hover {
        background-color: $color-greyHeather;
    }
}


// List figure
// -----------------------------------------------------------------------------

.listItem-figure {
    margin: 0 0 1em;

    @include breakpoint($screen-small) {
        margin-bottom: 0;
        padding-left: 0.5em;
        padding-right: 0.5em;
        @include grid-column(3);
    }

    @include breakpoint($screen-large) {
        position: relative;
    }

    .listItem-button {
        margin: 1em 0;

        @include breakpoint($screen-large) {
            @include verticalPositionMiddle();
            display: inline-block;
            margin: 0 0 1em;
            pointer-events: all;
            transform-style: preserve-3d;
        }
    }
}

.listItem-figureBody {
    opacity: 1;
    text-align: center;

    @include breakpoint($screen-large) {
        bottom: 0;
        height: 100%;
        left: 0.5em;
        opacity: 0;
        position: absolute;
        right: 0.5em;
        top: 0;

        &:hover {
            opacity: 1;
        }
    }
}

.listItem-image {
    width: 100%;
}

.listItem-body {

    @include breakpoint($screen-small) {
        padding-left: 1em + 0.166em;
        padding-right: 0.5em;
        @include grid-column(9);
    }
}


// List content
// -----------------------------------------------------------------------------

.listItem-content {

    @include breakpoint($screen-large) {
        display: table;
    }
}

.listItem-details,
.listItem-actions {

    @include breakpoint($screen-large) {
        display: table-cell;
        vertical-align: top;
    }
}


// List details
// -----------------------------------------------------------------------------

.listItem-details {

    @include breakpoint($screen-large) {
        padding-right: 2em * 2;

        > :last-child {
            margin-bottom: 0;
        }
    }
}

.listItem-rating {
    margin-bottom: 0.25em;
}

.listItem-brand {
    color: $color-greyHeather;
    font-size: $base-font-size;
    margin: 0 0 0.125em;

    @include breakpoint($screen-medium) {
        font-size: 1.125rem;
        margin-bottom: 0;
    }
}

.listItem-title {
    font-size: 1.125rem;
    margin: 0 0 0.125em;

    @include breakpoint($screen-medium) {
        font-size: 1.25rem;
    }

    > a {
        text-decoration: none;
    }
}

.listItem-price {
    margin-bottom: 1em;

    @include breakpoint($screen-medium) {
        font-size: 1.25rem;
    }
}


// List actions
// -----------------------------------------------------------------------------
//
// 1. Magic number width to align closer to the intended design.
//
// -----------------------------------------------------------------------------

.listItem-actions {

    @include breakpoint($screen-large) {
        vertical-align: middle;
        width: 22%; // 1
    }

    .button {
        margin-bottom: 0;

        @include breakpoint($screen-large) {
            width: 100%;

            // scss-lint:disable NestingDepth
            + .button {
                margin: 0.5em 0 0;
            }
        }
    }
}


// Product list when sidebar is present
// -----------------------------------------------------------------------------

.page-sidebar + .page-content {

    .productList {

        // scss-lint:disable SelectorDepth, NestingDepth
        .listItem-details {

            @include breakpoint($screen-large) {
                padding-right: 2em;
            }
        }

        .listItem-actions {

            @include breakpoint($screen-large) {
                width: 30%;
            }
        }
    }
}
