// PRODUCT CAROUSEL
// -----------------------------------------------------------------------------
//
// Purpose: Styles the product carousel component, which basically adds extras to the
// vendor slick carousel, to specifically display product
//
// 1. If there's no JS layout the products out based on the grid.
//
// -----------------------------------------------------------------------------

.productCarousel { // 1
    @include grid-container();
}

.productCarousel-slide { // 1
    @include grid-column(6);

    @include breakpoint($screen-small) {
        @include grid-column(4);
    }

    @include breakpoint($screen-medium) {
        @include grid-column(3);
    }

    @include breakpoint($screen-large) {
        @include grid-column(2);
    }

    .card {
        margin-bottom: 0;
    }
}
