// Markup appears on page and in modal.
.productView-thumbnails {
    display: none;
    
    @include breakpoint($screen-small) {
        display: block;
        list-style-type: none;
        @include grid-container();
        img {
            // @include lazy-loaded-img;
            height: 68px;
            width: 68px;
            object-fit: cover;
            border: 1px solid #E8EBED;
        }
    }
}

.productView-thumbnail {
    text-align: center;
    width: 68px;
    height: 68px;
    margin-left: 20px;
    float: left;
    
    &:first-child {
      margin-left: 0;
    }
}

.productView-thumbnail-link {
    display: inline-block;
    // height: 67px;
    // max-width: 75px;
    // padding: 2px;
    position: relative;
    text-align: center;
    width: 100%;
    padding-bottom: 4px;
    
    &:hover,
    &.is-active {
        border-bottom: 3px solid $color-greyDark;
    }
}
