.productView-modal {
  background: $color-white;
  .modal-close {
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 30px;
    height: 50px;
    width: 50px;
    svg {
      fill: $color-greyDark;
      width: auto;
      height: 50px;
      width: 50px;
    }
  }
  
  .modal-header {
    position: sticky;
    top: 0;
    background: $color-white;
    z-index: 1;
  }

  .modal-content {
    margin-top: 0;
    border: none;
    -ms-overflow-style: none;
  }
}
.productView-modal-gallery {
    max-height: 100%;
    overflow: auto;
    padding-bottom: 40px;
}
.productView-thumbnails {
  padding: 20px 0;
}
.productView-modal-image {
  padding: 0 0 40px 0;
  width: 100%;
  img {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
