.productGrid {
    list-style-type: none;
    //TODO:  Rather annoying pattern to keep typing out
    // Create a higher abstraction?
    @include grid-container();
    @include grid-collapse();
    @include grid-media($neat-grid-medium) {
        @include grid-container();
        @include grid-collapse();
    }
    margin-bottom: 1em;
    // for equal height items
    display: flex;
    flex-wrap: wrap;

    .product {
        @include grid-column(6);
        margin-bottom: 20px;
        display: block;
        position: relative;

        @include grid-media($neat-grid-medium) {
            @include grid-column(4);
            margin-bottom: 30px;
        }
        .card {
            color: $base-font-color;
        }
        .card-badge {
            position: absolute;
            background-color: $color-pinkBright;
            color: $color-white;
            max-width: 100%;
            top: 0;
            left: 0;
            padding: 6px 18px;
            display: block;
            text-align: center;
            font-size: 10px;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            z-index: 1;
        }
        .card-img-container {
            @include aspect-ratio(3,4);
            margin-bottom: 10px;
            border: solid 1px #E8EBED;
        }
        .card-image {
            display: block;
            margin: 0 auto;
        }
        .card-title {
            font-size: 16px;
            margin-bottom: 0;
        }
        .card-colour-count {
            font-size: 10px;
            height: 1.3em;
            opacity: 0;
            transition: opacity 150ms ease-out;
            margin-top: 5px;
            &--show {
                opacity: 1;
            }
        }
        .price-section {
            font-family: $heading-font-family;
            font-size: 16px;
        }
    }

    // Knock off version of the productGrid for shogun generated collections.
    &.productGrid--collection {
        .product {
            @include grid-column(3);

            @include grid-media($neat-grid-medium) {
                @include grid-column(3);
            }
        }
        .shg-product-image-wrapper {
            @include aspect-ratio(3,4);
            margin-bottom: 10px;
            .shogun-image {
                @include object-fit-contain();
            }
            a:focus {
              outline: none;
            }
        }
        // Gross overrides for rules that shogun sets against ids.
        .shg-c {
            padding: 0 !important;
        }
        .shg-product {
            padding: 0 !important;
        }
        .shg-product-title-component h4 {
            font-weight: bold !important;
        }
        .shg-product-sold-out,
        .shg-product-price,
        .shg-product-compare-price {
            font-family: $heading-font-family !important;
            font-size: 16px !important;
        }
        // The .custom-class prefix signifies classes added via the shogun
        // editor.
        .custom-class-card-badge p {
            position: absolute;
            background-color: $color-pinkBright;
            color: $color-white;
            max-width: 100%;
            top: 0;
            left: 0;
            padding: 0.5em 1.8em;
            display: block;
            text-align: center;
            font-size: 10px;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            z-index: 1;
        }
        .custom-class-colour-count p {
            font-size: 10px;
            height: 1.3em;
            margin: 5px 0 0 0;
        }
    }
}


// Narrow the display for product grids on account pages
.productGrid.productGrid--account {
    // Flex is to esnure equal height items
    display: flex;
    flex-wrap: wrap;
    .product {
        @include grid-column(6);
        @include grid-media($neat-grid-small) {
            @include grid-column(4);
        }
        @include grid-media($neat-grid-medium) {
            @include grid-column(3);
        }
        // Equal height trick
        display: flex;
        flex-direction: column;
    }
}