// =============================================================================
// RATING (CSS)
// =============================================================================

.icon--ratingEmpty {
    svg {
        fill: $color-greyHeather;
    }
}

.icon--ratingFull {
    svg {
        fill: $color-greyDark;
    }
}


// Small rating
// -----------------------------------------------------------------------------
//
// 1. Vertically aligns stars to container. Icons are off by default.
//    Icons are all vertically aligned to middle, however middle is not middle,
//    and therefore need to be adjusted to actually sit at middle.
//
// -----------------------------------------------------------------------------

.rating--small {
    display: inline-block;

    .icon {
        @include square(14px);
        margin-top: -3px; // 1
    }
}
