// =============================================================================
// RIBBON (CSS)
// =============================================================================
//
// 1. A ribbon needs a container set to relative in order to position itself.
// 2. Top right text badge. Shows "On sale" as an example.
//
// -----------------------------------------------------------------------------

$ribbon-backgroundColor:            c$color-greyDark;
$ribbon-color:                      $color-white;
$ribbon-cursor:                     default;
$ribbon-fontWeight:                 bold;
$ribbon-margin:                     -11px -11px 0 0;
$ribbon-padding:                    1px 1em;
$ribbon-positionRight:              0;
$ribbon-textTransform:              uppercase;
$ribbon-positionTop:                0;


.has-ribbon { // 1
    position: relative;
}

.ribbon { // 2
    background-color: $ribbon-backgroundColor;
    color: $ribbon-color;
    cursor: $ribbon-cursor;
    font-weight: $ribbon-fontWeight;
    margin: $ribbon-margin;
    padding: $ribbon-padding;
    position: absolute;
    right: $ribbon-positionRight;
    text-transform: $ribbon-textTransform;
    top: $ribbon-positionTop;
    z-index: 1;
}
