// =============================================================================
// SEARCH
// =============================================================================

.search-suggestion {
    margin-bottom: 1em + 0.33em;

    > :last-child {
        margin-bottom: 0;
    }
}

.suggestion-title {
    margin-top: 0;
    text-transform: inherit;
}

.advancedSearch-form {
    margin-bottom: 2em;

    .form-row {
        margin-bottom: -(1em);
    }
}

.quickSearchResults {
    margin-top: 1em;
    overflow-y: scroll;
    overflow-x: hidden;
    // Empirical
    max-height: calc(100vh - 270px);
    
    @include breakpoint($screen-fullmenu) {
        margin-top: 0;
        max-height: calc(100vh - 400px);
    }

    .modal-close {
        display: none;
    }
}

.advancedSearch-separator {
    display: none;
}

.advancedSearch-title {
    margin: 0 0 1em;
    text-transform: inherit;
}

.search-price-range {
    label {
        display: inline;

        // scss-lint:disable SelectorDepth, NestingDepth
        input {
            display: block;
            padding-left: 1em;

            @include breakpoint($screen-small) {
                display: inline;
                width: 6rem;
            }
        }

        // scss-lint:disable SelectorDepth, NestingDepth
        span {
            @include breakpoint($screen-small) {
                display: inline;
                padding-left: 1em;
                padding-right: 1em;
            }
        }
    }
}

.category-suggestion-list {
    @include grid-container();
    list-style-type: none;
}

.category-suggestion {
    @include grid-column(4);
    font-size: 1.125rem;
}

.search-refine {
    margin-left: 1em;
}

.quickSearchMessage {
    //font-size: 2.5rem;
    margin-bottom: 2em;
    //text-align: center;
}

body.quickSearch--open {
    max-height: 100vh;
    overflow: hidden;
    @include breakpoint($screen-fullmenu) {
        max-height: none;
        overflow: auto;
    }
}