// SWEETALERT2
// -----------------------------------------------------------------------------
//
// Purpose: Styles for the vendor popup box replacement, SweetAlert2
//
// -----------------------------------------------------------------------------
//
// Purpose: Override the plugin to give some Stencil styling
//
// -----------------------------------------------------------------------------

// Vendor SCSS
@import "../../../node_modules/sweetalert2/src/sweetalert2";

.swal2-modal {
    background-color: $color-white;
    border-radius: 0;
    font-family: $base-font-family;

    .swal2-title {
        color: $color-greyDark;
        font-size: 30px;
    }

    .swal2-file,
    .swal2-input,
    .swal2-textarea {
        border: $base-border;
    }

    .swal2-buttonswrapper {
        margin: 25px 0 0;
    }

    .swal2-styled {
        line-height: 1rem;
        outline: none;
        transition: all 0.15s ease;
    }

    .swal2-styled:focus {
        outline: none;
    }

    .swal2-confirm {
        border-color: $color-pinkCross;
    }

    .swal2-confirm:focus,
    .swal2-confirm:hover,
    .swal2-confirm:active {
        background-color: $color-white;
        border-color: $color-pinkBright;
    }

    .swal2-cancel {
        background-color: transparent;
        border-color: $color-greyHeather;

        @include breakpoint($screen-xsmall) {
            margin-left: 10px;
        }
    }

    .swal2-cancel:focus,
    .swal2-cancel:hover {
        background-color: transparent;
        border-color: $color-greyHeather;
        color: $color-greyDark;
    }

    .swal2-cancel:active {
        background-color: transparent;
        border-color: $color-greyDark;
        color: $color-black;
    }

    .swal2-icon.swal2-warning {
        border-color: $color-pinkBright;
        color: $color-pinkBright;
    }
}

.swal2-container.swal2-shown {
    background-color: rgba($color-greyHeather, 0.9)
}
