.tabs {
    @include clearfix;
}

.tab {
  border-top: $base-border;
  float: none;

  @include breakpoint($screen-medium) {
      border-top-color: transparent;
      float: left;
  }

  &.is-active {
      border-left-color: transparent;
      border-right-color: transparent;

      @include breakpoint($screen-small) {
          margin-bottom: -1px;
      }

      @include breakpoint($screen-medium) {
          border: $base-border;
          border-bottom: $base-border;
      }
  }
}

.tab-title {
  padding: 0.5em + 0.25em 0;
  text-align: center;

  @include breakpoint($screen-small) {
      text-align: left;
  }

  @include breakpoint($screen-medium) {
      padding: 0.5em 1em;
  }
}

.tab-content {
  //
  // State for when tab-content has js generated of calculated content, like carousel
  //
  // Purpose: The content being display: none, means any js calculated dimensions
  // are incorrect as the elements inside the tab-content have no dimensions to grab.
  // Carousel is a prime example. It needs widths to calculate the layout and slides
  // -----------------------------------------------------------------------------
  &.has-jsContent {
      display: block;
      height: 0;
      overflow: hidden;
      padding: 0;
      visibility: hidden;

      // scss-lint:disable NestingDepth
      &.is-active {
          height: auto;
          overflow: visible;
          padding: 0.5em;
          visibility: visible;
      }
      // scss-lint:enable NestingDepth
  }

  //
  // Product review displays in tabs
  //
  // Purpose: Display product reviews within tabbed content on product pages.
  // -----------------------------------------------------------------------------
  .productReview {
      @include breakpoint($screen-small) {
          @include grid-column(6);
      }

      @include breakpoint($screen-medium) {
          @include grid-column(4);
      }

      @include breakpoint($screen-large) {
          @include grid-column(6);
      }
  }

  .productReviews {
      border-top: 0;
  }
}
