// =============================================================================
// TAGS (CSS)
// =============================================================================
//
// 1. Set to 0 so that the tags can be centred with an unknown width.
//
// -----------------------------------------------------------------------------

$tag-fontSize:                      $base-font-size;
$tag-color:                         $color-greyDark;
$tag-color-hover:                   $color-greyDark;
$tag-paddingVertical:               0.25em;
$tag-paddingHorizontal:             0.33em;
$tag-padding:                       $tag-paddingVertical $tag-paddingHorizontal;
$tag-textDecoration:                none;
$tag-content:                       "#";


.tags {
    list-style-type: none;
    font-size: 0; // 1
    text-align: center;
}

.tag {
    display: inline-block;
    font-size: $tag-fontSize;

    a {
        color: $tag-color;
        display: inline-block;
        padding: $tag-padding;
        text-decoration: $tag-textDecoration;

        // scss-lint:disable NestingDepth
        &:hover {
            color: $tag-color-hover;
        }
    }
}
