// =============================================================================
// TEXT TRUNCATE (CSS)
// =============================================================================


// Text Truncate
// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------
.textTruncate {
    padding-bottom: 1em;
    position: relative;
    transition: max-height 800ms ease-out;
}

.js .textTruncate {
    max-height: 114px;
    overflow: hidden;
}

.js .textTruncate--visible {
    max-height: 1000px;
}

.textTruncate-viewMore {
    background-color: $color-white;
    bottom: 0;
    padding: 10px 0;
    position: absolute;
    width: 100%;
}
