// =============================================================================
// TOGGLE LINK (CSS)
// =============================================================================


// Toggle link
// -----------------------------------------------------------------------------

$toggle-spacing: 1em + 0.5em;

.toggle {
    margin-bottom: $toggle-spacing;

    &:last-of-type {
        margin-bottom: $toggle-spacing * 2;
    }
}

.toggle-title {
    margin-bottom: $toggle-spacing;
}

.toggleLink {
    color: $color-greyDark;

    &:hover {
        color: $color-greyDark;
    }

    .toggle-title & {
        float: right;
        line-height: 24px;
    }
}

.toggleLink-text {
    font-size: 0.875em;
    font-weight: normal;
}

.toggleLink-text--off {
    display: inline-block;

    .toggleLink.is-open & {
        display: none;
    }
}

.toggleLink-text--on {
    display: none;

    .toggleLink.is-open & {
        display: inline-block;
    }
}

.toggle-content {
    display: none;

    &.is-open {
        display: block;
    }
}
