.videoCard__video {
  display: block;
  position: relative;

  &:before {
    content: "";
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='22px' height='43px' viewBox='0 0 22 43' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='unicorn-play' fill-rule='nonzero' fill='%234F4F52'%3E%3Cpolygon id='Shape' points='0 0 0 43 21.5 21.5'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: 24px center;
    background-repeat: no-repeat;
    background-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border: solid 2px $color-greyDark;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.9);
    transition: border-color $base-duration $base-timing;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    z-index: 1;
    opacity: 0;
    transition: opacity $base-duration $base-timing;
  }

  &:hover {
    &:before {
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='22px' height='43px' viewBox='0 0 22 43' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='unicorn-play-hover' fill-rule='nonzero' fill='%23EC9696'%3E%3Cpolygon id='Shape' points='0 0 0 43 21.5 21.5'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      color: $color-pinkBright;
      border-color: $color-pinkBright;
    }
    &:after {
      opacity: 0.2;
    }
  }

  @include breakpoint($screen-small) {
    &:before {
      background-size: auto;
      background-position: 42px center;
      width: 100px;
      height: 100px;
    }
  }

  // Video play icons in a grid should always be small.
  .videoGrid & {
    &:before {
      background-size: 14px;
      background-position: 24px center;
      width: 60px;
      height: 60px;
    }

  }

}

.videoCard__content {
  display: flex;
  margin-top: 10px;
}

.videoCard__title {
  flex-grow: 1;
  margin-right: 5px;
  font-family: $base-font-family;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

.videoCard__text {
  text-align: right;
  font-size: 12px;
  line-height: 18px;
}