.videoGrid {
    list-style-type: none;
    @include grid-media($neat-grid-medium) {
        @include grid-container();
        @include grid-collapse();
        // for equal height items
        display: flex;
        flex-wrap: wrap;
    }

    &.videoGrid--fill-space {
        .videoGrid__item {
            flex: 1;
        }
    }

}

.videoGrid__item {
    margin-bottom: 20px;
    @include grid-media($neat-grid-medium) {
        @include grid-column(4);
    }

    &:empty {
        display: none;
    }

    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint($screen-small) {
        margin-bottom: 40px;
    }

}
