
// TODO: Use aspect ratio mixin to correct this
.videoGallery-main {
    height: 0;
    overflow: hidden;
    position: relative;

    iframe,
    object,
    embed,
    video {
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.videoGallery-list {
    list-style-type: none;
    @include grid-container();
    font-size: 0;
}

.videoGallery-item {
    @include grid-column(12);
    display: inline-block;
    float: none;
    vertical-align: top;

    @include breakpoint($screen-medium) {
        @include grid-column(6);
    }
}

.video {
    display: block;
    margin-bottom: 1.25em;
    opacity: 0.4;
    text-decoration: none;
    transition: opacity 100ms ease-out;

    @include breakpoint($screen-medium) {
        margin-bottom: 1.25em;
    }

    &:hover,
    &.is-active {
        color: $color-greyDark;
        opacity: 1;
    }
}

.video-figure {
    margin-right: 20px;
}

.video-title {
    margin-bottom: 0;
    margin-top: 0;
    text-transform: none;
}

.video-description {
    font-size: $base-font-size;
    margin-bottom: 0;
}
