.wishlists-table {
    margin: 2em auto;

    .table-actions .button {
        margin-bottom: 5px;
    }
}

.wishlist-header {
    display: none;
    text-align: center;
}

.modal .wishlist-header {
    display: block;
}

.wishlist-form {
    @include grid-container();

    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
    .form-actions {
        margin-top: 20px;
    }
}

.share-wishlist {
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    text-align: center;
}

.wishlistItem-remove {
    margin-top: auto;
}