// =============================================================================
// WRITE A REVIEW (CSS)
// =============================================================================

.writeReview-productDetails {

    @include breakpoint($screen-medium) {
        @include grid-column(6);
    }
    .product-brand {
        color: $color-greyHeather;
        margin: 0;
    }
    .product-title {
        margin-top: 0;
    }
}

.writeReview-form {
    @include breakpoint($screen-medium) {
        @include grid-column(6);
    }
}

.writeReview-productImage-container {
    position: relative;
    img {
        @include lazy-loaded-img;
    }
    &:after {
        content: '';
        display: block;
        height: 0;
        width: 100%;
        padding-bottom: get-padding(stencilString('product_size'));
    }
}
