<div class="facetedSearch-refineFilters">
    {{#if this.items}}
        <ul class="inlineList inlineList--labels">
            {{#each this.items}}
                <li>
                    <a
                        href="{{ url }}"
                        class="facetLabel"
                        rel="nofollow"
                        data-faceted-search-facet>
                        <svg class="icon">
                            <use xlink:href="#icon-close" />
                        </svg>
                        {{#if facet '===' 'rating'}}
                            {{lang 'search.faceted.selected.rating-label' rating=title}}
                        {{else}}
                            {{ title }}
                        {{/if}}

                    </a>
                </li>
            {{/each}}
        </ul>
    {{else}}
        {{lang 'search.faceted.selected.no-filters'}}
    {{/if}}

    {{#if remove_all_url}}
        <a href="{{ remove_all_url }}" data-faceted-search-facet>
            {{lang 'search.faceted.selected.clear-all'}}
        </a>
    {{/if}}
</div>
