<div class="category-head">
  <div class="category-head__title-sort">
      <h1 class="page-heading">{{lang 'search.results.count' count=result_count search_query=forms.search.query}}</h1>
      {{> components/products/filter sort=pagination.category.sort}}
  </div>
  {{!-- {{> components/faceted-search/selected-facets category.selected }} --}}
</div>