// =============================================================================
// BODY (CSS)
//
// 1. Header is fixed on small screens, use the content body to create the whitespace
//    between it and the header on all situations. If you change the spacing here,
//    please update .heroCarousel too.
//
// =============================================================================

// TODO: Improve this logic
.body {
    position: relative;
    scroll-behavior: smooth;
    margin-bottom: 2em * 3;
    margin-top: $menu-height-mobile + 60px;
    transition: margin-top 400ms $base-timing;

    &.pages-custom-page-page-full-width-with-hero {
        margin-top: $menu-height-mobile;
        body.has-banner & {
            margin-top: $menu-height-mobile + $banner-height;
        }
        // &::after {
        //     content: "";
        //     clear: both;
        //     display: table;
        // }
    }

    body.has-banner & {
        margin-top: $menu-height-mobile + 60px + $banner-height;
    }

    @include breakpoint($screen-fullmenu) {
        margin-top: $menu-height-full + 80px;

        body.is-scrolling & {
            margin-top: $menu-height-full-scroll
        }

        &.pages-custom-page-page-full-width-with-hero {
            margin-top: $menu-height-full;
            body.has-banner & {
                margin-top: $menu-height-full + $banner-height;
            }
        }

        body.has-banner & {
            margin-top: $menu-height-full + 60px + $banner-height;
        }
    }
}


.page {
    @include grid-container();
}

.page-sidebar {
    @include grid-column(12);
    position: relative;
    margin-bottom: 30px;

    + .page-content {
        @include grid-column(12);
    }

    @include grid-media($neat-grid-medium) {
        border-top: 1px solid $color-greyHeather;
        padding-top: 1.5em;
        @include grid-column(3);
        margin-bottom: 0px;

        + .page-content {
            @include grid-column(9);
        }
    }
}

.productGrid .product-in-active
{
    display: none!important;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}
