// =============================================================================
// FOOTER (CSS)
// =============================================================================

.footer {
    background-color: $color-white;
    padding: 2em 0;
    border-top: 1px solid $color-grayHeather;
    font-size: 13px;
    line-height: 2em;
    overflow: hidden;
}

.footer-info {
    @include grid-container();
    @include grid-collapse();
}

.footer-info-col {
    @include grid-column(12);
    color: $color-greyDark;
    vertical-align: top;

    @include breakpoint($screen-small) {
        text-align: left;
        margin-bottom: 2em;
    }

    @include breakpoint($screen-medium) {
        width: 33%;
    }

    > :first-child {
        margin-top: 0;
    }
}

.footer-info-col--small {
    @include breakpoint($screen-small) {
        @include grid-column(2.1 of 7)
    }
}

.footer-info-col--store-information {
    @include breakpoint($screen-small) {
        @include grid-column(2.8 of 7);
    }
}

.footer-info-col--newsletter, .footer-info-col--social {
    @include breakpoint($screen-small) {
        @include grid-column(5);
        float: right;
        margin-right: $gutter;
    }
}

.footer-info-col--social {
    @include breakpoint($screen-small) {
        clear: right;
    }
}

.footer-info-col--left {
    @include breakpoint($screen-small) {
        padding: 0;
    }
}

.footer-info-col--right {
    @include breakpoint($screen-small) {
        left: 50%;
        position: inherit;
    }

    @include breakpoint($screen-small) {
        left: 0;
        padding: 0;
        text-align: right;
    }
}


// Content
// -----------------------------------------------------------------------------

.footer-info-heading {
    font-size: 1.3rem;
    margin-bottom: 1.0em;
    &.follow-us-heading {
        @include breakpoint($screen-medium) {
            margin-top: 10px;
        }
    }
}

.footer-info-list {
    list-style: none;
    margin-left: 0;
}

.footer-copyright {
    text-align: center;

    @include breakpoint($screen-small) {
        text-align: left;
    }

    a {
        color: $color-greyDark;
        text-decoration: none;

        // scss-lint:disable NestingDepth
        &:hover {
            color: $color-greyDark;
        }
        // scss-lint:enable NestingDepth
    }
}

.footer-payment-icons {
    height: 40;
    margin-top: 1em;

    @include breakpoint($screen-medium) {
        margin-top: 2em;
    }

    .footer-payment-icon {
        height: 100%;
        margin: 0.25em;
        vertical-align: middle;
        width: 50;
    }

    svg {
        fill: $color-greyDark;
    }
}

.footer-geotrust-ssl-seal {
    @include breakpoint($screen-small) {
        bottom: 0;
        position: absolute;
        right: 16px;
    }

    table {
        margin: auto;
    }
}

.footer-newsletter-wrapper {
    display: flex;
    align-items: stretch;
}

.footer-newsletter-input-wrapper {
    flex: 1 0 auto;
}

.footer-newsletter-input, .footer-newsletter-submit {
    height: 46px;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid $color-greyDark;
    font-size: 0.8rem;
    margin-bottom: 0;
    text-transform: uppercase;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}

.footer-newsletter-input {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.12em;
    &:hover,
    &:focus,
    &:active {
        border-color: $color-pinkBright;
        + .footer-newsletter-submit {
            border-left-color: transparent;
        }
    }
    &::placeholder {
        color: $color-greyDark;
    }
}

.footer-newsletter-submit {
    position: relative;
    right: 1px;
    padding-left: 2.0em;
    padding-right: 2.0em;
}

.footer-newsletter-input__arrow {
    display: flex;
    align-items: center;
    > * {
        display: block;
    }
    &-shaft {
        min-width: 20px;
        height: 1px;
        background-color: $color-black;
        margin-right: -11px;
    }
    &-head {
        display: block;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        border-color: $color-black;
        border-right: 1px solid $color-black;
        border-top: 1px solid $color-black;
        border-left: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }
}

.footer-newsletter-summary {
    text-align: left;
}

.footer-social {
    display: flex;
    &__link {
        @include square(32px);
        border-radius: 50%;
        background-color: $color-pinkBright;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        transition: $base-transition;
        a {
            @include square(25px);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        svg {
            fill: $color-white;
        }
        &:hover {
            background-color: $color-greyDark;
        }
    }
    // Individual sizing to exactly match mocks
    &__instagram {
        width: 20px;
    }
    &__pinterest {
        width: 20px;
    }
    &__facebook {
        width: 9px;
    }
    &__twitter {
        width: 16px;
    }
}

// Accordion styles

// Manually done instead of using mixins due to order of properties
.footer-accordion {
    float: left;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 40px;
    margin-left: 0;
    @include breakpoint($screen-small) {
        width: calc(7 * 100%/12);
        margin: 0 -20px 0 0;
    }
}

.footer-accordion__section {
    border-bottom: 2px solid $color-greyHeatherLight;
    @include breakpoint($screen-small) {
        border-bottom: none;
    }
    &:first-child {
        border-top: 2px solid $color-greyHeatherLight;
        @include breakpoint($screen-small) {
            border-top: none;
        }
    }
}

.footer-accordion__heading {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    @include breakpoint($screen-small) {
        padding: 0;
    }
    .footer-info-heading {
        font-family: $base-font-family;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 0;
        @include breakpoint($screen-small) {
            font-family: $heading-font-family;
            text-transform: none;
            font-size: 17px;
            margin-bottom: 1.0em;
        }
    }
    .accordion-navigation-actions {
        display: block;
        @include breakpoint($screen-small) {
            display: none;
        }
    }
    &.is-open {
        .toggleLink-text--off {
            display: none;
        }
        .toggleLink-text--on {
            display: inline-block;
        }
    }
}

.footer-accordion__content {
    display: none;
    margin-bottom: 16px;
    &.is-open {
        display: block;
    }
    @include breakpoint($screen-small) {
        display: block;
    }
}