// =============================================================================
// HEADER (CSS)
//
// 1. Setting font size of header-logo to 0, since wrapper element may vary, and
//    inline-block whitespace messes with header height. Font-size is reset to
//    appropriate size on header-logo-text.
// 2. Needs left/right margin so it doesn't cover left/right nav bar toggles
// 3. Offset the letter-spacing on the last character by adding a right negative
//    margin. This centers the text logo properly.
// 4. When the word "cart" is added to the mobile header's cart link, add more
//    margin to compensate.
// 5. When logo size is set to "original", we don't have advance knowledge of the
//    image size, so we can't use absolute positioning + padding to reserve space
//    for lazy loading.
//
// -----------------------------------------------------------------------------

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    border-bottom: solid 1px $color-greyMedium;
    background-color: white;
    height: $menu-height-mobile;
    transition: height 400ms $base-timing;

    > .container {
        height: 100%;
    }

    body.has-banner & {
        height: $menu-height-mobile + $banner-height;
        &.is-open {
            height: 100%;
        }
    }

    @include breakpoint($screen-fullmenu) {
        height: $menu-height-full;

        body.has-banner & {
            height: $menu-height-full + $banner-height;
        }

        body.is-scrolling & {
            height: $menu-height-full-scroll;
        }

        body.is-scrolling.has-banner & {
            height: $menu-height-full-scroll + $banner-height;
        }
    }

    &.is-open {
        height: 100%;

        @include breakpoint($screen-fullmenu) {
            height: auto;
        }
    }
}

.header-logo {
    text-align: center;
    width: 105px;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
    z-index: 11;

    @include breakpoint($screen-fullmenu) {
        left: 20px; // ?
        transform: none;
        display: inline-block;
        float: left;
        width: 140px;
        margin-left: 0;
        transition: width 400ms $base-timing;

        body.is-scrolling & {
            width: 105px;
        }

        .header.fixed & {
            background-color: $color-offWhite;
            margin: 0;
            padding: 0.25em 0;
            position: absolute;
            top: 0;
            //width: 100%;
        }
    }

    > a {
        @include clearfix;
        color: $color-grayDark;
        display: inline-block;
        position: relative;
        text-decoration: none;
        width: 100%;
        z-index: 20;

        @include breakpoint($screen-fullmenu) {
            background: none;
            border-bottom: 0;
            display: inline;
            padding: 0;
        }

        &:hover {
            color: $color-greyDark;
        }

        &:active {
            color: $color-greyDark;
        }
    }
}

.header-logo-image-container {
    margin-top: 7px;
    position: relative;
    @include breakpoint($screen-fullmenu) {
        margin-top: 18px;

        body.is-scrolling & {
            margin-top: 5px;
        }
    }
}

// TODO: logo width currently being defined in two places to address IE bug. Come back and refactor.
.header-logo-image {
    width: 105px;
    transition: width 400ms $base-timing;
    @include breakpoint($screen-fullmenu) {
        width: 140px;
        body.is-scrolling & {
            width: 105px;
        }
    }
}

//
// Mobile Menu Toggle
//
// 1. Animate lines from 'x' to hamburger
// -----------------------------------------------------------------------------

.mobileMenu-toggle {
    @include square(41px);
    background-color: white;
    border: 1px solid $color-pinkCross;
    border-radius: 50%;
    display: inline-block;
    font-size: 0;
    top: ($menu-height-mobile - 41px) / 2;
    left: $gutter/1.25;
    overflow: hidden;
    position: absolute;
    z-index: 50;

    // body.has-banner & {
    //     top: (($menu-height-mobile - 41px) / 2) + $banner-height;
    // }

    @include breakpoint($screen-medium) {
        left: $gutter*2;
    }

    @include breakpoint($screen-fullmenu) {
        display: none;
    }

    // Hamburger symbol created from markup
    .mobileMenu-toggleIcon,
    .mobileMenu-toggleIcon::before,
    .mobileMenu-toggleIcon::after {
        background: $color-greyDark;
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        transform: rotate(0deg);
        transition: transform 100ms ease-in, top 100ms ease-in 150ms, bottom 100ms ease-in 150ms; // 1
        width: 20px;
    }

    .mobileMenu-toggleIcon {
        // Empirical
        left: 10px;
        // Empirical
        top: 19px;
        transition: background-color 10ms ease-in 100ms;
    }

    .mobileMenu-toggleIcon::before {
        top: -0.5rem;
    }

    .mobileMenu-toggleIcon::after {
        bottom: -0.5rem;
    }

    &.is-open .mobileMenu-toggleIcon {
        background-color: transparent;
        transition-delay: 100ms;

        // scss-lint:disable NestingDepth
        &::before,
        &::after {
            bottom: auto;
            top: auto;
            transition: transform 100ms ease-in 150ms, top 100ms ease-in, bottom 100ms ease-in; // Animate lines from hamburger to 'x'
        }

        &::before {
            top: 0;
            transform: rotate(45deg);
        }

        &::after {
            bottom: 0;
            transform: rotate(-45deg);
        }

    }
}
