.pages-page,
.pages-auth-account-created {

  .page-heading {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: solid 1px $color-greyMedium;
    text-align: center;
  }

  .page-hero {
    border-bottom: 0;
    img {
      margin-bottom: 60px;
      margin-top: -60px;
      @include breakpoint($screen-fullmenu) {
        margin-top: -80px;
      }
    }
  }

  // On static pages, we move the :first-child of an <img> tag to the .page-hero.
  // Here we hide with CSS to prevent flicker. See js/page.js
  .page-content .content > *:first-child > img {
    html.js & {
      display: none;
    }
  }

}

.pages-auth-account-created {
  text-align: center;
}

///
/// Base styles require minor modifications for content entered on static pages through the wysiwyg.
/// We add the 'rte' (rich text editor) class to regions that will redner this markup. For an easier client
/// editing experience, we do not want to introduce the need of modifier classes.
///
.rte {

  h4, h5, h6 {
    margin-bottom: 0.5em;
    font-family: $base-font-family;
    text-transform: uppercase;
  }
  h4 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1.1em;
  }
  h6 {
    font-size: 1em;
  }

  p {
    margin-bottom: $base-spacing;
  }

  a {
    text-decoration: underline;
  }

  .button {
    // Matching .button--wide
    padding-right: 45px;
    padding-left: 45px;
  }

  img {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  // We remove default margins and padding so we can use ul/ol markup for layout purposes.
  // Re-apply some defaults for content that will be managed by content editors.
  ul, ol {
    list-style-type: none;
    margin: 0 0 $base-spacing;
  }

  ul {
    padding-left: 35px;
    li {
      text-indent: -20px;
      &:before {
        content: '.';
        position: relative;
        top: -3px;
        margin-right: 15px;
      }
    }
  }

  ol {
    counter-reset: counter;
    padding-left: 35px;
    li {
      counter-increment: counter;
      text-indent: -20px;
      &:before {
        content: counter(counter);
        margin-right: 11px;
      }
    }

  }

}

