.sidebarBlock-heading {
    font-family: $base-font-family;
    font-size: 11px;
    margin-top: 0;
    text-transform: uppercase;
    a {
        color: $base-font-color;
    }
}

.sidebarBlock {
    input {
        margin-bottom: 1em;
    }
    .navList-action {
        color: $color-greyDark;
        font-size: 12px;
        &.is-selected {
            font-weight: bold;
        }
    }
    .navList-item {
        line-height: 1.8em;
    }
}
