<div class="cart-total-link">

    <button class="coupon-code-add button button--link">{{lang 'cart.coupons.add_coupon'}}</button>

</div>

<div class="cart-form coupon-code" style="display: none;">
    <form class="form form--hiddenLabels coupon-form" method="post" action="{{urls.cart}}">
        {{!-- <label class="form-label" for="couponcode">{{lang 'cart.coupons.coupon_code'}}</label> --}}
        <button class="coupon-code-cancel button button--link" style="display: none;">{{lang 'cart.coupons.cancel'}}</button>
        <input class="form-input" data-error="{{lang 'cart.coupons.empty_error'}}"  id="couponcode" type="text" name="couponcode" value="" placeholder="Enter coupon code">
        <input class="button" type="submit" value="{{lang 'cart.coupons.button'}}">
        <input type="hidden" name="action" value="applycoupon">
    </form>
</div>
