<div class="cart-total-link">

    <button class="gift-certificate-add button button--link">{{lang 'cart.gift_certificates.gift_certificate'}}</button>

    <button class="gift-certificate-cancel button button--link" style="display: none;">{{lang 'cart.coupons.cancel'}}</button>
</div>

<div class="cart-form gift-certificate-code" style="display: none;">
    <form class="form form--hiddenLabels cart-gift-certificate-form" method="post" action="{{urls.cart}}">
        <label class="form-label" for="certcode">{{lang 'cart.gift_certificates.cert_code'}}</label>
        <input class="form-input" data-error="{{lang 'cart.gift_certificates.empty_error'}}"  id="certcode" type="text" name="certcode" value="" placeholder="{{lang 'cart.gift_certificates.add_cert_code'}}">
        <input class="button button--primary button--small" type="submit" value="{{lang 'cart.coupons.button'}}">
        <input type="hidden" name="action" value="applycoupon">
    </form>
</div>
