<div class="form-field" id="{{id}}" data-validation="{{validation}}">
    <label class="form-label" for="{{id}}_input">{{~label~}}
        {{#if required}}<span class="form-required">*</span>
        {{/if}}
    </label>
    <textarea name="{{name}}" id="{{id}}_input" data-label="{{label}}" rows="{{rows}}" aria-required="{{required}}" class="form-input" {{#if private_id}}data-field-type="{{private_id}}"{{/if}}>{{value}}</textarea>
</div>
