<div class="form-field" id="{{id}}" data-validation="{{validation}}" {{#if private_id}}data-type="{{private_id}}"{{/if}}>
    <noscript>
        <label class="form-label" for="{{id}}_input">{{~label~}}
            {{#if required}}<span class="form-required">*</span>{{/if}}
        </label>
        <input type="text" id="{{id}}_input" name="{{name}}" value="{{value}}" class="form-input" aria-required="{{required}}" data-label="{{label}}" />
    </noscript>

    <label class="form-label" for="{{id}}_select">{{~label~}}
        {{#if required}}<span class="form-required">*</span>{{/if}}
    </label>
    <select name="{{name}}" class="form-select" aria-required="{{required}}" id="{{id}}_select" data-label="{{label}}" {{#if private_id}}data-field-type="{{private_id}}"{{/if}}>
        {{#if options}}
            <option value="">{{chooseprefix}}</option>
            {{#each options}}
                <option {{#if selected}} selected {{/if}}value="{{value}}">{{label}}</option>
            {{/each}}
        {{/if}}
    </select>
</div>
