<nav class="category-desktop-nav">
  <div class="sidebarBlock">
      {{#each categories}}
          {{#if ../breadcrumbs.[1].name '===' name}}
          {{#if children}}
              <h5 class="sidebarBlock-heading"><a class="{{#if ../../../category.name '===' name}}is-active{{/if}}" href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a></h5>
              <ul class="navList">
                  {{#each children}}
                      <li class="navList-item">
                            <a class="navList-action {{#if children}}navList-action--has-subcategories{{/if}} {{#if ../../../../category.name '===' name}}is-active{{/if}}" 
                                href="{{#if name '===' 'Shop by Jillian'}}/jillian-harris{{else if name '===' 'Shop by Monika'}}/monika-hibbs{{else}}{{url}}{{/if}}"
                                alt="{{name}}" title="{{name}}">{{name}}</a>
                          {{#if children}}
                              <ul class="navList navList--subcategory">
                                  {{#each children}}
                                      <li class="navList-item">
                                          <a class="navList-action {{#if ../../../../../../category.name '===' name}}is-active{{/if}}" href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                                      </li>
                                  {{/each}}
                              </ul>
                          {{else}}
                          {{/if}}
                      </li>
                  {{/each}}
              </ul>
          {{/if}}
          {{/if}}
      {{/each}}
  </div>
</nav>