<div class="category-head">
    <div class="category-head__title-sort">
        <h1 class="page-heading">{{category.name}}</h1>
        {{> components/products/filter sort=pagination.category.sort}}
    </div>
</div>