<nav class="category-mobile-nav" data-mobile-filters>
    <div class="category-mobile-nav__controls">
        {{#if parent_is_category}}
            <div class="category-mobile-nav__wrapper">
                <select id="category-mobile-nav__select" class="category-mobile-nav__select">
                    {{#each categories}}
                        {{#if ../breadcrumbs.[1].name '===' name}}
                            <option value="{{ url }}" {{#if ../../category.name '===' name}}selected{{/if}}>{{ name }}</option>
                            {{#if children}}
                                    {{#each children}}
                                        <option value="{{ url }}" {{#if ../../../../category.name '===' name}}selected{{/if}}>{{ name }}</option>
                                            {{#if children}}
                                                    {{#each children}}
                                                        <option value="{{ url }}" {{#if ../../../../../../category.name '===' name}}selected{{/if}}>{{ name }}</option>
                                                    {{/each}}
                                            {{/if}}
                                    {{/each}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </select>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"/></svg>
            </div>
        {{/if}}
        <button class="category-mobile-nav__button" id="category-mobile-nav__button" data-collapsible="category-mobile-sort-filters">
            {{!-- Manual span icon --}}
            <span class="category-mobile-nav__button--bar category-mobile-nav__button--bar-1"></span>
            <span class="category-mobile-nav__button--bar category-mobile-nav__button--bar-2"></span>
            <span class="category-mobile-nav__button--bar category-mobile-nav__button--bar-3"></span>
        </button>
    </div>
</nav>