<div class="loadingOverlay" style="display: none;"></div>
<form action="{{urls.compare}}" method='POST' data-product-compare>
    {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
</form>

{{> components/common/paginator pagination.category}}
