<footer class="amp-footer" role="contentinfo">
    <article data-section-type="footer-webPages">
        <h5 class="amp-footer-heading">{{lang 'footer.navigate'}}</h5>
        <ul class="amp-footer-list">
            {{#each pages}}
            <li>
                <a href="{{url}}">{{name}}</a>
            </li>
            {{/each}}
            <li>
                <a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
            </li>
        </ul>
    </article>

    <article data-section-type="footer-categories">
        <h5 class="amp-footer-heading">{{lang 'footer.categories'}}</h5>
        <ul class="amp-footer-list">
            {{#each categories}}
                <li>
                    <a href="{{url}}">{{name}}</a>
                </li>
            {{/each}}
        </ul>
    </article>

    <article data-section-type="footer-brands">
        <h5 class="amp-footer-heading">{{lang 'footer.brands'}}</h5>
        <ul class="amp-footer-list">
            {{#each shop_by_brand}}
                <li>
                    <a href="{{url}}">{{name}}</a>
                </li>
            {{/each}}
            <li><a href="{{urls.brands}}">{{lang 'common.view_all'}}</a></li>
        </ul>
    </article>

    <article data-section-type="storeInfo">
        <h5 class="amp-footer-heading">{{lang 'footer.info'}}</h5>
        <address>{{nl2br settings.address}}</address>
        {{#if settings.phone_number}}
            <strong>{{lang 'footer.call_us' phone_number=settings.phone_number}}</strong>
        {{/if}}
    </article>
</footer>
