{{#if theme_settings.banner_global_show}}
    <div class="banners" data-banner-location="top">
        <div class="banner">
            <p>{{theme_settings.banner_text}} <a href="{{theme_settings.banner_button_link}}">{{theme_settings.banner_button_text}}</a></p>
        </div>
    </div>
{{else if theme_settings.banner_home_show}}
    {{#if page.title "==" "Homepage"}}
    <div class="banners" data-banner-location="top">
        <div class="banner">
            <p>{{theme_settings.banner_text}} <a href="{{theme_settings.banner_button_link}}">{{theme_settings.banner_button_text}}</a></p>
        </div>
    </div>
    {{/if}}
{{else if banners.top}}
    <div class="banners" data-banner-location="top">
        <div class="banner">
            {{{limit banners.top 1}}}
        </div>
    </div>
{{/if}}

<header class="amp-header">
    <button class="amp-menu-button" on="tap:amp-menu.toggle">
        Toggle menu
    </button>

    <div class="amp-header-logo">
        {{> components/amp/common/store-logo}}
    </div>
</header>
<amp-sidebar layout="nodisplay" id="amp-menu" data-menu>
    {{> components/amp/common/navigation-menu}}
</amp-sidebar>
