<a href="{{urls.home}}" class="amp-header-link">
        <amp-img src="{{getImage settings.store_logo.image 'logo_size'}}"
            width="{{first (split theme_settings.logo_size 'x')}}"
            height="{{last (split theme_settings.logo_size 'x')}}"
            layout="responsive"
            sizes="(min-height: {{last (split theme_settings.logo_size 'x')}}%)"
            alt="{{settings.store_logo.title}}">
        </amp-img>
        <span class="amp-header-logo-text">Insert Logo Text Here</span>
</a>
