{{#partial "page"}}

<main class="page">

    <div class="container container--medium">

        <h1 class="page-heading">{{lang 'create_account.created.heading'}}</h1>

        <div class="page-content">
            <div class="content rte">
                <p>{{{lang 'create_account.created.intro' store_name=settings.store_name email=customer.email}}}</p>
                <a class="button button--primary" href="{{create_account.continue_url}}">{{lang 'create_account.created.continue'}}</a>
            </div>
        </div>

    </div>
</main>

{{/partial}}

{{> layout/base}}

