/* In-editor styles */
.shogun-editor,
.shogun-editor a {
    color: #4F4F52;
}
.shogun-editor .header-text,
.shogun-editor .empty-page-footer-description{
    display: none;
}
.shogun-editor .empty-page-header {
    max-height: 61px;
}
.shogun-editor .empty-page-main-content {
    padding-top: 0;
}
.editor-only-message {
    display: none;
}
.shogun-editor .editor-only-message {
    display: block;
    padding: 10px;
    background: #F3E6E4;
}
.shogun-editor .button {
    border: 2px solid #F3E6E4;
    padding: 10px;
    display: inline-block;
    clear: both;
    background: #fff;
}
.shogun-editor .homepage-hero .hompage-hero__title {
    font-size: 40px;
}
.shogun-editor .section-col {
    border: 1px dashed #f2f2f2;   
}
.shogun-editor .img,
.shogun-editor .homepage-hero__img,
.shogun-editor .section-row__img,
.shogun-editor .video,
.shogun-editor .section-large-image {
    background: #f2f2f2;
    min-height: 100px;
}
.shogun-editor .homepage-hero__img, 
.shogun-editor .section-large-image {
    min-height: 400px;
}
.shogun-editor .instagram__title  {
    text-align: center;
    flex: 1;
    min-width: 100%;
}
.shogun-editor .instagram__feed {
    display: flex;
    flex: 1;
}
.shogun-editor .instagram__placeholder {
    flex: 1;
    background: #f2f2f2;
    min-height: 200px;
    margin: 10px;
}