.homepage-hero {
    position: relative;
    margin-bottom: 30px;
    margin-top: 50px;
    @include breakpoint($screen-small) { 
      margin-bottom: 80px;
      margin-top: 0;
    }
}
.homepage-hero__img {
  img {
    object-fit: cover;
    width: calc(100% + 250px);
    margin-left: -125px;
    margin-right: -125px;
    max-width: none;
  }
}
.homepage-hero__content {
    width: 100%;
    padding: 0 $gutter/1.25;
}
.homepage-hero__details {
    text-align: center;
    max-width: $max-content;
    padding: 50px 0 0 0;
    z-index: 1;   
    .button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) translateY(50%);
    }
}
.homepage-hero__details_bg {
  border: 1px solid #E8EBED;
  display: none;
  background-color: #fff;
  opacity: 0.85;
  position: absolute;
  top: 0;
  bottom: 19px;
  right: 0;
  left: 0;
  z-index: -1;
}
.homepage-hero__title {
    font-family: $heading-font-family;
    font-size: 2.5em;
    margin-bottom: 10px;
}

@include breakpoint($screen-xsmall) {
  .homepage-hero__img {
    img {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
    }
  }
}

@include breakpoint($screen-small) {
  .homepage-hero__details_bg {
      display: block;
  }
  .homepage-hero__details {
      position: relative;
      padding: 40px 70px 0 70px;
      .button {
          transform: none;
          position: static;
          bottom: auto;
          left: auto;
          right: auto;
      }
  }
  .homepage-hero__content {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: -60px;
      padding: 0 40px;
  }
  .homepage-hero__title {
      font-size: 2.5em;
  }
  .homepage-hero__description {
      font-size: 1.286em;
      max-width: 590px;
      margin: 0 auto 40px auto;
  }
  .homepage-hero--use-light-text-true {
      .homepage-hero__title,
      .homepage-hero__description {
          color: #fff;
      }
  }
}

@include breakpoint($screen-medium) {
  .homepage-hero__title {
      font-size: 3.7em;
  }
}