.page-hero {
  // border-bottom: 2px solid $color-greyLight;
  margin-bottom: 4px;
}
.page-hero__title-wrapper {
    text-align: center;
    @include breakpoint($screen-medium) {
      margin-top: -50px;
    }
}
.page-hero__title {
    display: inline-block;
    background: $color-pinkLight;
    padding: 15px 10px;
    font-size: 2.2857em;
    margin: 0;
    width: calc(100% + 32px);
    margin-left: -2*$gutter/1.25;
    margin-right: -2*$gutter/1.25;
    @include breakpoint($screen-medium) {
      font-size: 3em;
      padding: 15px 70px;
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }
}

.page-hero-menu {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.page-hero-menu__item {
  flex: 0 1 auto;
  a {
    display: block;
    font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 25px 15px;
    @include breakpoint($screen-small) {
      padding: 25px 30px;
    }
  }
}