.section-feature {
  .button {
    position: absolute;
    left: 50%;
    bottom: 22px;
    transform: translateX(-50%);
    @include breakpoint($screen-small) {
      transform: none;
      position: static;
    }
  }
}

.section-feature__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .section-col {
    width: 100%; //IE needs explicit width
    flex-shrink: 0; // IE does not set this, though it says it does
  }
  @include grid-media($shogun-grid-small) {
    @include grid-container();
    @include grid-collapse();
    text-align: left;
    .section-col {
      width: auto;
    }
    .section-col--narrow {
      @include grid-column(1 of 3);
      padding-right: 45px;
    }
    .section-col--wide {
      @include grid-column(2 of 3);
    }
    &.section--forward {
      flex-direction: row;
    }
    &.section--reverse {
      // row-reverse behaves oddly with negative margins
      // Correct with positioning
      flex-direction: row-reverse;
      position: relative;
      left: -30px;
    }
  }
}

.section__images {
  display: flex;
}

.section__image {
  flex: 1 1 0%;
}

.section__image:nth-child(2) {
  margin-left: 30px;
}



