.section-text {
  padding-top: 60px;
  padding-bottom: 0;
  @include breakpoint($screen-small) {
    padding-top: 100px;
  }
}

h2.section-text__title {
  @include breakpoint($screen-small) {
    font-size: 42px;
  }
}