// Styles that apply to all Shogun sections
// Use a seperate file for styles particular to components

.shogun-root .shg-c {
  position: relative;
  // Clearfix addresses inconsistent placement of backgorund color bar.
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.pages-custom-page-page-full-width-with-hero .shg-c:last-of-type .section {
    margin-bottom: -6em;
    padding-bottom: 0;
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
    @include breakpoint($screen-small) {
      text-align: left;
      padding-top: 60px;
      padding-bottom: 60px;
    }

    h2 {
      margin-bottom: 14px;
      font-size: 26px;
      line-height: 26px;
      @include breakpoint($screen-small) {
        font-size: 36px;
        line-height: 36px;
      }
    }

    p {
      font-size: 12.5px;
    }
}

.section-header,
.section-footer {
    width: 100%;
    // flex: auto;
    // display: flex;
    // flex-wrap: wrap;
}
.section--nopad {
    padding: 0;
    @include breakpoint($screen-small) {
      padding: 0 0 60px 0;
    }
}

.section--text-align-center {
    text-align: center;
}

.section-large-image {
    width: 100%;
    .shogun-image {
        object-fit: cover;
        display: block !important;
        max-width: 2000px;
        margin: 0 auto;
        width: 100%;
    }
}

.section__shop-now {
    margin-left: auto;
}

.section__bg--full {
    top: 0;
}

.section-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.section-row {
    // > div,
    .section-row__info,
    .section-row__img {
      flex: 1;
      min-width: 100%;
      @include breakpoint($screen-small) {
        min-width: auto;
      }
    }
    .section-row__info {
      flex: 1 0 auto
    }
    .section-row__img {
      @include breakpoint($screen-small) {
          min-width: 55%;
      }
    }
}

.section-staggered {
    .section-staggered__title {
        font-size: 1.786em;
        margin-bottom: 0.3em;
        text-align: left;
    }
    p {
      padding: 0.8em 0;
    }
    .section-row__info {
      padding-bottom: 20px;
    }
    .section-row:nth-child(2) {
      margin-top: 30px;
    }

    @include breakpoint($screen-small) {
      p {
          max-width: 380px;
      }

      .section-row:nth-child(1) {
        margin-bottom: -15px;
      }
      .section-row:nth-child(2) {
        flex-direction: row-reverse;
        margin-top: -15px;
      }

      .section-row:nth-child(1) .section-row__info {
        margin: 0 50px 40px 0;
      }
      .section-row:nth-child(2) .section-row__info {
        margin: 40px 0 0 30px;
      }
    }

    @include breakpoint($screen-medium) {
      .section-row:nth-child(1) {
        margin-bottom: -30px;
      }
      .section-row:nth-child(2) {
        flex-direction: row-reverse;
        margin-top: -30px;
      }

      .section-row:nth-child(1) .section-row__info {
        margin: 0 100px 40px 0;
      }
      .section-row:nth-child(2) .section-row__info {
        margin: 40px 0 0 60px;
      }

    }
}

.section__bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.section--has-background {
  @include breakpoint($screen-small) {
    margin-bottom: 60px;
  }
  .section__bg {
    @include breakpoint($screen-small) {
      bottom: 60px;
    }
  }
}