.section-blocks {
  padding-bottom: 50px;

  .section-blocks__header {
    margin-bottom: auto;
  }
  .button {
    align-self: center;
  }
  .section-blocks__bg {
      // Empirical
      height: calc(530px + (100% - 640px)/(4/3));
      @include breakpoint($screen-small) {
        height: calc(125px + (100% - 300px)/(4/3));
      }
  }
}

.section-blocks__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include breakpoint($screen-small) {
    flex-direction: row;
    &.section-blocks__wrapper--two-items {
      .section-col {
        flex: 1 0 0%;
      }
    }
  }
  .section-col {
    flex-shrink: 0; // IE does not set this, despite saying it does
    width: 100%; // IE needs explicit width
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    &:first-child {
      margin-top: 0;
    }
    @include breakpoint($screen-small) {
      width: auto;
      flex-grow: 1;
      flex-basis: 0%;
      margin-top: 0;
      &:first-child {
        padding-right: 15px;
      }
      &:last-child {
        padding-left: 15px;
      }
      &:first-child:last-child {
        padding: 0px;
      }
    }
  }
}

.section-blocks__intro,
.section-blocks__footer-text {
  max-width: 450px;
  margin: 0 auto 20px auto;
}

.section-blocks__footer-title {
  font-size: 26px;
  line-height: 26px;
  margin: 30px 0 20px;
  width: 100%;
}

.section-blocks__img {
  flex-shrink: 0; // IE ¯\_(ツ)_/¯
}

.section-blocks__img + .button {
  z-index: 1;
  margin-top: -18px;
  @include breakpoint($screen-small) {
    margin-top: 36px;
  }
}
