.section-video {
    overflow: hidden; // For off-screen mobile slider
    &.section--has-background {
        padding-bottom: 30px;
        @include breakpoint($screen-large) {
            padding-bottom: 90px;
        }
    }
    &.section--has-title-highlight {
        padding-top: 0;
        @include breakpoint($screen-large) {
            padding-top: 20px;
        }
    }
}

.section-video__bg {
    z-index: -1;
    // This ensures the pink background is always a certain height up the background slides
    // Boils down to height of the slider footer + a fraction of the photo height.
    // The scaling ratio (16/9 here) corresponds to the image dimension, since that is what changes height the most
    height: calc(150px + (100% - 300px)/(16/9));
    @include breakpoint($screen-large) {
        height: calc(280px + (100% - 300px)/(16/9));
    }
}

.section-video__wrapper {
    text-align: center;

    .section--has-text-column & {
        display: flex;
        flex-direction: column;

        @include breakpoint($screen-large) {
            flex-direction: row;
            align-items: flex-end;
            text-align: left;

            &.section--forward {
                .section-col--wide {
                    order: 1;
                }
                .section-col--narrow {
                    padding-right: 30px;
                }
            }

            &.section--reverse {
                .section-col--wide {
                    order: -1;
                }
                .section-col--narrow {
                    padding-left: 30px;
                }
            }

            .section-col {
                @include breakpoint($screen-large) {
                    &.section-col--narrow {
                        width: (100%/3);
                    }
                    &.section-col--wide {
                        width: (100%/3) * 2;
                    }
                }
            }

            .section-col--narrow {
                @include breakpoint($screen-large) {
                    margin-bottom: 30px;
                }
            }

        }
    }
}

.section-video__video {
  display: block;
  margin-bottom: 30px;
  @include breakpoint($screen-large) {
      margin-bottom: 0;
  }
}

.section-video__text, .section-video__social {
    margin-bottom: 20px;
}

.section-video__button {
    margin-bottom: 16px;
    @include breakpoint($screen-large) {
        margin-bottom: 25px;
    }
}

.section-video__text {
    font-size: 12.5px;
}

.section-video__title {
    .section--has-title-highlight & {
        position: relative;
        z-index: 3;
        top: 40px;
        display: inline-block;
        padding: 15px 35px;
        margin-bottom: 0;
        @include breakpoint($screen-small) {
            padding: 22px 50px;
            font-size: 32px;
        }
    }
}

.section-social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    @include breakpoint($screen-large) {
        flex-direction: row;
        justify-content: flex-start;
    }
    &__text {
      margin: 0 0 10px 0;
      min-width: 100%;
      @include breakpoint($screen-large) {
          margin: 0 15px 0 0;
          min-width: auto;
      }
    }
    &__links {
      display: flex;
    }
    &__link {
        @include square(32px);
        border-radius: 50%;
        background-color: $color-pinkBright;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        transition: $base-transition;
        a {
            @include square(25px);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        svg {
            fill: $color-white;
        }
        &:hover {
            background-color: $color-greyDark;
        }
        &:last-child {
          margin-right: 0;
        }
    }

    // Individual sizing to exactly match mocks
    &__instagram {
        width: 20px;
    }
    &__pinterest {
        width: 20px;
    }
    &__facebook {
        width: 9px;
    }
    &__twitter {
        width: 16px;
    }
}

// Duplicate markup requires hiding/showing
.section-video__video {
    &--desktop {
        display: none;
        @include breakpoint($screen-large) {
            display: block;
        }
    }
    &--mobile {
        @include breakpoint($screen-large) {
            display: none;
        }
    }
}

.section-videos__footer {
    text-align: center;
}