// Widget overrides
// ----------------

.fs-slider-container {
  max-width: none;
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-right: -15px;
}

.fs-slider-next-button, .fs-slider-prev-button {
  display: none;
  top: 15px;
  height: calc(100% - 30px);
  @include breakpoint($screen-medium) {
    display: flex;
  }
}

.fs-slider-next-button {
  right: 15px;
}

.fs-slider-prev-button {
  left: 15px;
}


// Important is quired to override library CSS important statements
.fs-mobile div.fs-entry-container, .fs-desktop div.fs-entry-container {
  @media (max-width: 768px) {
    width: calc(100%/1.2) !important;
    padding-top: calc(100%/1.2) !important;
  }
}

.fs-wrapper div.fs-timeline-entry {
  margin: 15px !important;
}

// End widget overrides
// ----------------

// Begin section styling
// ----------------
$back-to-top-height-mobile: 115px;
$back-to-top-height-desktop: 165px;
$photo-width: calc(100%/1.2);

.section-instagram__wrapper {
  overflow: hidden;
}

.section-instagram__content {
  position: relative;
  padding-bottom: $back-to-top-height-mobile;
  width: 100%;
  line-height: 0;
  @include breakpoint($screen-small) {
    padding-bottom: $back-to-top-height-desktop;
  }
}

.section-instagram__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(120px + 10%);
  background-color: $color-pinkLight;
  // This ensures the pink background is always a certain height up the background slides
  // Boils down to height of the slider footer + a fraction of the photo height.
  height: calc(#{$back-to-top-height-mobile} + (100% - #{$back-to-top-height-mobile})/(4/3));
  @include breakpoint($screen-small) {
    height: calc(#{$back-to-top-height-desktop} + (100% - #{$back-to-top-height-desktop})/(5/3));
  }
}