.section-collection {
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 20px;
    
    .section-header {
      display: flex;
      flex-wrap: wrap;
    }
    h2.section-collection__title {
        font-size: 1.8571em;
        margin-bottom: 10px;
        width: 100%;
        @include breakpoint($screen-xsmall) {
            flex: 2;
            width: auto;
        }
        @include breakpoint($screen-medium) {
          flex: 6;
        }
    }
    &__shop-now {
        margin-right: 0;
        text-align: right;
        font-size: 11px;
        @include breakpoint($screen-xsmall) {
            flex: 1;
            font-size: 14px;
            align-self: center;
        }
    }
    
    .link-arrow__arrow {
        display: flex;
        align-items: center;
        float: right;
        padding: 6px 0 6px 5px;
        > * {
            display: block;
        }
        &-shaft {
            height: 1px;
            background-color: $color-black;
            min-width: 15px;
            margin-right: -7px;
        }
        &-head {
            display: block;
            width: 7px;
            height: 7px;
            transform: rotate(45deg);
            border-color: $color-black;
            border-right: 1px solid $color-black;
            border-top: 1px solid $color-black;
            border-left: 1px solid transparent;
            border-bottom: 1px solid transparent;
        }
        @include breakpoint($screen-xsmall) {
            padding: 7px 0 7px 10px;
            &-shaft {
                min-width: 20px;
                margin-right: -11px;
            }
            &-head {
                width: 10px;
                height: 10px;
            }
        }
    }
}

[data-mobile-slider] {
    width: 80%;
    @include breakpoint($screen-small) {
        width: auto;
    }
    
    .slick-list {
      overflow: visible;
    }
}