// Widget overrides
// ----------------

div.eapps-instagram-feed-title {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  -webkit-font-smoothing: antialiased;
}

div.eapps-instagram-feed-posts-view {
  padding: 0;
}

div.eapps-instagram-feed-title {
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 26px;
  padding: 0;
  @include breakpoint($screen-small) {
    font-size: 36px;
    line-height: 36px;
  }
}

div.eapps-instagram-feed-posts-slider-nav {
  box-shadow: none;
  border-radius: 0;
  opacity: 0.7;
  height: 100%;
  width: 100px;
  &:hover {
    opacity: 0.7;
  }
}

div.eapps-instagram-feed-posts-slider-next {
  right: 15px;
  .eapps-instagram-feed-posts-slider-nav-icon  {
    left: 15px;
  }
}

div.eapps-instagram-feed-posts-slider-prev {
  left: 15px;
  .eapps-instagram-feed-posts-slider-nav-icon  {
    right: 15px;
  }
}