<!DOCTYPE html>
<html>
<head>
	<base href="/">
    <title>{{ head.title }}</title>
    {{{ head.meta_tags }}}
    {{{ head.config }}}

    <link href="{{ head.favicon }}" rel="shortcut icon">
    {{#block "head"}}{{/block}}
</head>
<body>
    {{#block "page"}}{{/block}}
</body>
</html>
