<a href="{{url}}">
    <article class="card {{#if alternate}}card--alternate{{/if}}">
        {{#if custom_fields }}
            {{#each custom_fields}}
                {{#eq name "Badge"}}
                    <p class="card-badge">{{ value }}</p>
                {{/eq}}
            {{/each}}
        {{/if}}
        <figure class="card-figure">
            <div class="card-img-container">
                <img class="card-image object-fit--cover lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'product_thumb_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
            </div>
            <figcaption class="card-figcaption">
                <div class="card-figcaption-body">
                    {{!--
                    {{#unless hide_product_quick_view}}
                        {{#unless demo}}
                            <a href="#" class="button button--small card-figcaption-button quickview" data-product-id="{{id}}">{{lang 'products.quick_view'}}</a>
                        {{/unless}}
                    {{/unless}}
                    --}}
                    {{!--
                    {{#if show_compare}}
                        <label class="button button--small card-figcaption-button" for="compare-{{id}}">
                            {{lang 'products.compare'}} <input type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}">
                        </label>
                    {{/if}}
                    --}}
                    {{!--
                    {{#if show_cart_action}}
                        {{#if has_options}}
                            <a href="{{url}}" class="button button--small card-figcaption-button" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                        {{/if}}
                        {{#if pre_order}}
                            <a href="{{pre_order_add_to_cart_url}}" class="button button--small card-figcaption-button">{{lang 'products.pre_order'}}</a>
                        {{/if}}
                        {{#if add_to_cart_url }}
                            <a href="{{add_to_cart_url}}" class="button button--small card-figcaption-button">{{lang 'products.add_to_cart'}}</a>
                        {{/if}}
                        {{#if out_of_stock_message }}
                            <a href="{{url}}" class="button button--small card-figcaption-button" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                        {{/if}}
                    {{/if}}
                    --}}
                </div>
            </figcaption>
        </figure>
        <div class="card-body">
            {{!--
            {{#and rating show_rating}}
                <p class="card-text" data-test-info-type="productRating">
                    <span class="rating--small">
                        {{> components/products/ratings rating=rating}}
                    </span>
                </p>
            {{/and}}
            --}}
            <h4 class="card-title">
                {{name}}
            </h4>

            <div class="card-text" data-test-info-type="price">
                {{> components/products/card-price price=price}}
            </div>
            {{> components/products/bulk-discount-rates}}
        </div>
        <div class="card-colour-count"></div>
    </article>
</a>
