<ul class="productGrid {{additional_css_class}}">
    {{#each products}}
    <li  {{#each custom_fields}} {{#startsWith 'ProdPro' name}} {{name}} = {{value}} {{/startsWith}} {{/each}} class="product"{{#if ../category}} style="display: none;"{{/if}}>
 {{>components/products/card show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer}} </li>
    {{/each}}
</ul>
