<div id="productViewModal" class="productView-modal modal modal--full" data-reveal>
    <div class="container">
        <div class="modal-header">
          <a href="#" class="modal-close" aria-label="Close" role="button">
              <?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 128 128" height="128px" id="Layer_1" version="1.1" viewBox="0 0 128 128" width="128px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g><path d="M84.815,43.399c-0.781-0.782-2.047-0.782-2.828,0L64.032,61.356L46.077,43.399c-0.781-0.782-2.047-0.782-2.828,0    c-0.781,0.781-0.781,2.047,0,2.828l17.955,17.957L43.249,82.141c-0.781,0.78-0.781,2.047,0,2.828    c0.391,0.39,0.902,0.585,1.414,0.585s1.023-0.195,1.414-0.585l17.955-17.956l17.955,17.956c0.391,0.39,0.902,0.585,1.414,0.585    s1.023-0.195,1.414-0.585c0.781-0.781,0.781-2.048,0-2.828L66.86,64.184l17.955-17.957C85.597,45.447,85.597,44.18,84.815,43.399z     M64.032,14.054c-27.642,0-50.129,22.487-50.129,50.127c0.002,27.643,22.491,50.131,50.133,50.131    c27.639,0,50.125-22.489,50.125-50.131C114.161,36.541,91.674,14.054,64.032,14.054z M64.036,110.313h-0.002    c-25.435,0-46.129-20.695-46.131-46.131c0-25.435,20.693-46.127,46.129-46.127s46.129,20.693,46.129,46.127    C110.161,89.617,89.47,110.313,64.036,110.313z"/></g></g></svg>
          </a>
          {{> components/products/product-view-thumbnails}}
        </div>
        <div class="modal-content">
            <div class="productView-modal-images" data-image-gallery>
                <ul class="productView-modal-gallery">
                      {{#each product.images}}
                          <li class="productView-modal-image">
                              <img class="productView-image--default lazyload" 
                                   data-sizes="auto" 
                                   src="{{cdn 'img/loading.svg'}}" 
                                   data-src="{{getImage this 'large_size' (cdn theme_settings.default_image_product)}}">
                          </li>
                      {{/each}}
                </li>
            </div>
        </div>
    </div>
    <div class="loadingOverlay" style="display: none;"></div>
</div>
