<ul class="productView-thumbnails">
  
    {{#each product.images}}

        <li class="productView-thumbnail">
            <a
                class="productView-thumbnail-link {{#if (stripQuerystring this.data) '===' (stripQuerystring ../product.main_image.data)}}is-active{{/if}}"
                href="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
                data-image-gallery-item
                data-image-gallery-new-image-url="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
                data-image-gallery-zoom-image-url="{{getImage this 'zoom_size' (cdn ../theme_settings.default_image_product)}}">
                <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage this 'productview_thumb_size' (cdn ../theme_settings.default_image_product)}}" alt="{{this.alt}}" title="{{this.alt}}">
            </a>
        </li>
    {{/each}}
</ul>
