<div class="product-related clearfix">
    <div class="container">
        <h2 class="product-related__title">You May Also Like</h2>
        <ul id="product-related-mobileSlider" class="product-related-mobileSlider productGrid">
            {{#each products}}
            <li class="product" data-productid="{{ this.id }}">
                {{> components/products/card theme_settings=../theme_settings customer=../customer}}
            </li>
            {{/each}}
        </ul>
    </div>
    <span class="product-related__bg"></span>
</div>